<!---------------------------------------------------------------------------------------->
<!----------------------        "Perform Quality Control"         ------------------------>
<!---------------------------------------------------------------------------------------->

<div
     [ngClass]="{
     'hide': ! roleIsGood
     }"
     class="perform-qc"
>

    <!-- ----------  The search query section on the left side  ---------- -->
    <nbia-query-section
        [currentTool]="consts.TOOL_PERFORM_QC"
    >
    </nbia-query-section>

    <!-- ----------  The results and editing section on the right  ---------- -->
    <div class="container-fluid data-section">
        <!-- Display Query -->
        <div class="row query-display-row">
            <div class="display-query-wrapper">

                <!-- Display Query for Dynamic Search -->
                <nbia-display-dynamic-query
                    [currentTool]="consts.TOOL_PERFORM_QC"
                >
                </nbia-display-dynamic-query>

                <!-- Display Query for Criteria Search  TODO This is the old way, we shouldn't need this anymore -->
<!--
                <nbia-display-query
                    *ngIf="searchType === 0"
                    [currentTool]="consts.TOOL_PERFORM_QC"
                ></nbia-display-query>
-->

            </div>
        </div>

        <!-- List of search results with the checkboxes -->
        <div class="row query-display-row">
            <div class="display-query-wrapper">
                <nbia-search-results-section-bravo
                    (resultsUpdateBravoEmitter)="onSearchResultsUpdate($event)"
                    (resultsSelectCountUpdateBravoEmitter)="onResultsSelectCountUpdate($event)"
                >
                </nbia-search-results-section-bravo>
            </div>
        </div>

        <!-- Bulk Operations -->
        <div *ngIf="showBulkOperations"
             class="row"
        >
            <nbia-perform-qc-bulk-operations
                [collectionSite]="collectionSite"
                [searchResults]="searchResults"
                [searchResultsSelectedCount]="searchResultsSelectedCount"
            ></nbia-perform-qc-bulk-operations>
        </div>

    </div> <!-- END container-fluid -->
	<nbia-qc-series-report></nbia-qc-series-report>
    <nbia-qc-history-report></nbia-qc-history-report>
</div>


<h4 *ngIf="! roleIsGood && ( userRoles !== undefined)">
    <p>User does not have authorization required for "<b>Perform Quality Control</b>"</p>
    <p>Users role(s): <b>{{userRoles}}</b></p>
    Required role: <b>NCIA.MANAGE_VISIBILITY_STATUS</b>
</h4>
