<div [ngClass]="{'hide-item': ! showDataSection}">
    <!--The running display of the current Simple Search query at the top of the Data section -->
    <nbia-display-query-simple-search
        [ngClass]="{
            'hide-item': displayMode !== SIMPLE_SEARCH}"
    >
    </nbia-display-query-simple-search>

    <!--The running display of the current Query Builder query at the top of the Data section -->
    <nbia-display-query-criteria-search
        [ngClass]="{
            'hide-item': displayMode !==  CRITERIA_SEARCH}"
    >
    </nbia-display-query-criteria-search>

    <!--The running display of the current Text Search query at the top of the Data section -->
    <nbia-display-query-text-search
        [ngClass]="{
            'hide-item': displayMode !==  TEXT_SEARCH}"
    >
    </nbia-display-query-text-search>

    <!--"Summary", "Search Result",...-->
    <nbia-data-section-tabs
        [displayType]="displayMode"
    ></nbia-data-section-tabs>
</div>
