$editCollectionDescriptionMenuWidth: 400px;

.collection-description-text-editor {
    margin: 10px;
}

.collection-description-div-html {
    width: 100%;
    min-height: 100px;
    border: solid #ddd 1px;
    resize: vertical;
}

.collection-description-div {
    margin: 10px;
}

.edit-collection-description-dropdown-menu {
    width: $editCollectionDescriptionMenuWidth;
    margin: 10px;
    padding-top: 0;
}

.edit-collection-dropdown-button {
    width: $editCollectionDescriptionMenuWidth;
}

.edit-collection-button {
    margin-top: 10px;
}

.edit-collection-save-button {
    margin-top: 30px;
  //  margin-left: 60px;

}

.edit-collection-description-tool {
    /* keep the Query section and the Display section side by side.  */
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

// Includes Display query and search results
// TODO rename this
.data-section {
    //   border: solid #d2484c 2px;
    width: 100%;
    // margin-right: 10px;

}

.edit-collection-description-edit {
    margin-bottom: 8px;
}

.lic-and-save-div {
    height: 400px;
}
