<div class="query-panel">
    <div class="query-panel-heading">
      <span *ngIf="showCriteriaList" class="clicker" (click)="onShowAvailableClick(false)">
            <img class="chevron-down-icon" src="assets/images/TOOLS/chevron_down_red.png">
            Date Released
        </span>

        <span *ngIf="!showCriteriaList" class="clicker" (click)="onShowAvailableClick(true)">
            <img class="chevron-right-icon" src="assets/images/TOOLS/chevron_right_red.png">
            Date Released
        </span>

        <label *ngIf="! isAllEmpty()" class="red-clear"><img class="clicker cart-button-icon" src="assets/images/TOOLS/clear_red.png"
                                                             alt="Search" (click)="onDateRangeClearAllClick(false)"></label>
    </div>


    <div [ngClass]="{
                    'hide-div': !showCriteriaList
                }">

        <div class="input-group">
            <div class="main-date-range-div">
                <span class="date-box-label date-box-label-from">From:</span>
                <input (click)="dpFrom.toggleCalendar(); initializeDisableFutureDates()" class="date-box-text-box" placeholder='Select "From" date'
                       ngx-mydatepicker name="fromDatePicker"
                       [(ngModel)]="fromDateModel"
                       [options]="dateOptions"
                       #dpFrom="ngx-mydatepicker"
                       (dateChanged)="onDateChangedFrom($event)"/>
            </div>
        </div>

        <div class="input-group">
            <div class="main-date-range-div">
                <span class="date-box-label date-box-label-to">To:</span>
                <input (click)="dpTo.toggleCalendar(); initializeDisableFutureDates()" class="date-box-text-box" placeholder='Select "To" date'
                       ngx-mydatepicker name="toDatePicker"
                       [(ngModel)]="toDateModel"
                       [options]="dateOptions"
                       #dpTo="ngx-mydatepicker"
                       (dateChanged)="onDateChangedTo($event)"/>
            </div>
        </div>

        <!--Apply Available range  checkbox-->
        <div>
            <input type="checkbox" class="query-panel-checkboxes available-checkbox" [disabled]="disableUseDateRange"
                   (click)="onApplyCheckboxClick( $event.target.checked)">
            <label
                [ngClass]="{
                    'disabled-text': disableUseDateRange
                }"
            >
                &nbsp;Apply&nbsp;"
                <span [ngClass]="{
                                     'apply-is-set' : checked
                                 }">
                    Available
                </span>
                "&nbsp;date range
            </label>
        </div>
    </div>
</div>

