<span
        class="card-nbia-default text-search-explanation alert-box-div alert-box-shadow"
        [ngStyle]="{'top':(posY - 230) + 'px'}"
>
    <div class="card-nbia-header-default p-2">
        <div >Image Phantoms
            <span class=" close-x clicker unselectable" (click)="onPhantomQueryExplanationCloseClick()">
                X
            </span>
        </div>
    </div>

    <div class="third-party-explanation-text bg-white p-2">
        Phantoms are objects used as stand-ins for human tissues to ensure that systems and methods for imaging the human body are operating correctly. You can search collections to find only phantoms or include or exclude them from your search results. See <a href="https://www.nist.gov/physics/what-are-imaging-phantoms" target="_BLANK">https://www.nist.gov/physics/what-are-imaging-phantoms</a> for more information.
    </div>
</span>

