<span
        class="card-nbia-default text-search-explanation alert-box-div alert-box-shadow"
        [ngStyle]="{'top':(posY - 230) + 'px'}"
>
    <div class="card-nbia-header-default p-2">
        <div >Image Phantoms
            <span class=" close-x clicker unselectable" (click)="onPhantomQueryExplanationCloseClick()">
                X
            </span>
        </div>
    </div>

    <div class="third-party-explanation-text bg-white p-2">
        Some datasets encode <a href="https://www.nist.gov/physics/what-are-imaging-phantoms" target="_BLANK">Imaging Phantoms </a> information in the image metadata. This filter allows you to refine search results based if includes image phantoms in the clinical event. See <a href="https://wiki.cancerimagingarchive.net/display/NBIA/Cancer+Imaging+Archive+User%27s+Guide#CancerImagingArchiveUser'sGuide-PerformingaSimpleSearch" target="_BLANK">Performing a Simple Search</a> for more information.
    </div>
</span>

