<span
        class="card-nbia-default text-search-explanation alert-box-div alert-box-shadow"
        [ngStyle]="{'top':(posY - 230) + 'px'}"
>
    <div class="card-nbia-header-default p-2">
        <div >Clinical Time Point
            <span class=" close-x clicker unselectable" (click)="onPhantomQueryExplanationCloseClick()">
                X
            </span>
        </div>
    </div>

    <div class="third-party-explanation-text bg-white p-2">
        Some datasets encode Clinical Time Point information in the image metadata.
        This filter allows you to refine search results based on how many days have passed since a particular clinical event occurred when these metadata are included by the data submitter (e.g. "Days since diagnosis").
        See <a href="https://wiki.cancerimagingarchive.net/display/NBIA/Cancer+Imaging+Archive+User%27s+Guide#CancerImagingArchiveUser'sGuide-PerformingaSimpleSearch"  target="_BLANK">Performing a Simple Search</a> for more information.
    </div>
</span>

