// -------------------------------------------------------------------------------------------
// -------------------------     Table section of Series History      ------------------------
// -------------------------------------------------------------------------------------------

@import "../../../app.component";
@import "src/app/data-table";
@import "../../../tools/search-results-section-module/search-results-section/search-results-section.component.scss";

.qc-history-report-table {
    width: 100%;
}

thead th {
    position: sticky;
    top: 0;
}

.series-history-table-outer-div {
    height: 300px;
    padding-bottom: 12px;
    resize: vertical;
    overflow: auto;
    cursor: default;
}
