<div class="panel panel-info login-box alert-box-div alert-box-shadow">

    <div class="panel-heading">
        <div class="panel-title">Login {{username}}</div>
    </div>

    <div style="padding-top:30px" class="panel-body">

        <form class="form-horizontal login-form" (ngSubmit)="onSubmit()" #f="ngForm">

            <!--  User  -->
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text"
                       id="username"
                       class="form-control"
                       name="username"
                       placeholder="User name"
                       ngModel
                       required>
            </div>

            <!--  Password  -->
            <span class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password"
                       class="form-control"
                       id="password"
                       placeholder="Password"
                       name="password"
                       ngModel
                       (focus)="onPasswordFocus()"
                       required>
            </span>

            <!-- Button -->
            <span class="form-group login-button">
                <button type="submit"
                        class="btn login-button"
                        [disabled]="!f.valid"
                        [ngClass]="{
                             'btn-primary': f.valid
                        }"
                >
                    Log in
                </button>
                <!--  Failed Login message  -->
                <span
                    *ngIf="statusMessage0.length > 0"
                    class="error-alert alert alert-danger"
                >
                    {{statusMessage0}}
                </span>

                <span class="account-buttons">
                    <a
                        *ngIf="statusMessage0.length < 1"
                        [href]=properties.NEW_ACCOUNT_REGISTRATION TARGET="_blank"
                    >
                        <button class="btn btn-primary" type="button">New account</button>
                    </a>

                    <a
                        *ngIf="statusMessage0.length < 1"
                        class="account-help-button"
                        [href]=properties.ACCOUNT_HELP TARGET="_blank"
                    >
                        <button class="btn btn-primary" type="button">Account help</button>
                    </a>



                </span>
            </span>

        </form>


    </div>
</div>
