@import '../app.component.scss';

.login-box {
    width: 400px;
    left: calc(50% - 200px);
    margin-top: $alert-top;
}

.error-alert {
    margin-left: 20px;
}

.account-buttons {
    float: right;
    margin-top: 0;
    padding-top: 0;
}

.account-help-button {
    margin-left: 4px;
    margin-top: 0;

}
