<!-- ----------  When the user clicks "Share" -> "Share my Cart" in the header at the top.  ---------- -->

<div *ngIf="showSaveCartUrl" class="save-cart-url-parent-div ">
    <div class="card card-info save-cart-url-div alert-box-shadow">

        <div class="card-heading card-nbia-header-default pt-2 pl-3">
            <div class="card-title ">
                Cart data URL
            </div>
        </div>

        <br>
        <div class="card-body">
            <div class="note-text">
                Want to save your Cart data for later use or share it with a colleague?<br>
                You can do it using the following URL.
            </div>
            <br>
            <!-- Spinner during saving -->
            <div *ngIf="isSaving" class="spinner-container">
                <div class="spinner"></div>
                <span class="saving-text">{{ displayUrl }}</span>
            </div>

            <!-- Display URL after save is completed -->
            <div *ngIf="!isSaving" class="display-url-text">
                {{ displayUrl }}
            </div>

            <!-- Two buttons -->
            <div>

                <!--  "Close" button  -->
                <button
                    class="btn btn-danger alert-box-button"
                    (click)="onCloseClick()"
                    type="button"
                >
                    Close
                </button>

                <!--  "Copy URL" button  -->
                <button
                    class="btn btn-primary alert-box-button"
                    type="button"
                    [cdkCopyToClipboard]="displayUrl"
                    (click)="onCloseClick()"
                >
                    Copy URL
                </button>
            </div>
        </div>

    </div>
</div>
