
<div class="query-panel clinical-time-points-query-panel">
    <!-- ----------  Heading & hide/show buttons  ---------- -->
    <div class="query-panel-heading clinical-time-points-heading">

        <!-- Hide the Species list.  Still show the heading (with this img to its left) -->
        <span
                *ngIf="showClinicalTimepoints"
                class="clicker unselectable"
                (click)="onShowClinicalTimepointsClick(false)"
        >
            <img class="chevron-down-icon" src="assets/images/TOOLS/chevron_down_red.png">
            Clinical Time Points
        </span>

        <!-- Show the Species list -->
        <span
                *ngIf="!showClinicalTimepoints"
                class="clicker"
                (click)="onShowClinicalTimepointsClick(true)"
        >
            <img class="chevron-right-icon" src="assets/images/TOOLS/chevron_right_red.png">
            Clinical Time Points
        </span>
        <img src="assets/images/TOOLS/question_red_small.png" alt="question_red_small"  class="clicker  close-third-party-explanation-x" (click)="onClinicalTimePointsExplanationClick($event)">


        <label *ngIf="currentEventTypeIndex !== 0 || fromBaseLineFrom !== '' || fromBaseLineTo !== '' "
               class="red-clear-from-base-line"
        >
            <img
                    class="clicker cart-button-icon"
                    src="assets/images/TOOLS/clear_red.png"
                    alt="Search"
                    (click)="onClinicalTimepointsClearAllClick()"
            >
        </label>

    </div>

    <div *ngIf="showClinicalTimepoints"
         class="query-panel-heading clinical-time-points-input-div"
         [ngClass]="{
             'days-from-baseline-div': displayFromBaseLineFrom !== ''
         }"
    >

        <span class="clicker unselectable">
            Days from
        </span>

        <!-- Event choice dropdown -->
        <span class="dropdown clicker">
                        <button type="button" class="btn days-from-baseline-dropdown-button dropdown-toggle" data-toggle="dropdown"
                                [ngClass]="{
                                    'days-from-baseline-dropdown-empty-button': currentEventTypeIndex === 0
                                }"
                        >
                            <span *ngIf="currentEventTypeIndex === 0">
                                select
                                <span class="caret"></span>
                            </span>
                            <span *ngIf="currentEventTypeIndex !== 0">
                                {{ eventTypeList[currentEventTypeIndex] }}
                                <span class="caret"></span>
                            </span>
                        </button>
                        <div class="dropdown-menu" >
                            <a class="dropdown-item"

                                    *ngFor="let eventType of eventTypeList; let c = index"
                                    [ngClass]="{
                                        'disabled': (searchResultsMinMaxTimePoints['minTimepoints'] === null ||  searchResultsMinMaxTimePoints['minTimepoints'][eventType] == null) &&
                                         (searchResultsMinMaxTimePoints['maxTimepoints'] === null || searchResultsMinMaxTimePoints['maxTimepoints'][eventType] == null) &&
                                         c > 0
                                    }"
                                    (click)="onEventTypeDropdownClick(c)"
                            >
                                    <img
                                            *ngIf="c === currentEventTypeIndex && currentEventTypeIndex > 0"
                                            src="assets/images/check.png"
                                    >
                                    {{ eventType }}
                                    <span *ngIf="searchResultsMinMaxTimePoints['minTimepoints'] !== null && searchResultsMinMaxTimePoints['minTimepoints'][eventType] !== undefined &&
                                     searchResultsMinMaxTimePoints['maxTimepoints'] !== null && searchResultsMinMaxTimePoints['maxTimepoints'][eventType] !== undefined ">
                                        &nbsp;Available range: {{searchResultsMinMaxTimePoints['minTimepoints'][eventType]}}&nbsp;To&nbsp;{{searchResultsMinMaxTimePoints['maxTimepoints'][eventType]}}
                                    </span>
                                    <span
                                            *ngIf="(searchResultsMinMaxTimePoints['minTimepoints'] === null ||  searchResultsMinMaxTimePoints['minTimepoints'][eventType] == null) &&
                                         (searchResultsMinMaxTimePoints['maxTimepoints'] === null || searchResultsMinMaxTimePoints['maxTimepoints'][eventType] == null) &&
                                      c > 0">
                                        &nbsp;Available range:&nbsp;N/A
                                    </span>
                            </a>
                        </div>
        </span>


        <!-- "From" User input -->
        <input class="from-base-line-number-input number-spinner"
               id="fromBaseLineFromIntTextBox"
               [(ngModel)]="fromBaseLineFrom"
               (ngModelChange)="onBaseLineFromChange()"
        >

        <!-- "To" User input -->
        To:
        <input class="from-base-line-number-input number-spinner"
               id="fromBaseLineToIntTextBox"
               [(ngModel)]="fromBaseLineTo"
               (ngModelChange)="onBaseLineToChange()"
        >

    </div>
    <div *ngIf="currentEventTypeIndex > 0  && showClinicalTimepoints" class="days-from-baseline-min-max-note">

        <!-- Display To and/or From Range -->
        <!--   It was decided this was not needed now that the same data is provided in the dropdown  (13_AUG_2020)
               <span *ngIf="displayFromBaseLineFrom !== '' || displayFromBaseLineTo !== ''">
                   From {{displayFromBaseLineFrom}} to {{displayFromBaseLineTo}}
               </span>
               <span *ngIf="displayFromBaseLineFrom === '' && displayFromBaseLineTo === ''">
                   None
               </span>
       -->
        <input [ngClass]="{
                   disabled: (fromBaseLineFromTrailer === fromBaseLineFrom &&
                   fromBaseLineToTrailer === fromBaseLineTo &&
                   currentEventTypeTrailer === currentEventTypeIndex
                   ) ||
                   ( fromBaseLineTo === '' &&  fromBaseLineFrom === ''),

                   'nbia-button-disabled': (fromBaseLineFromTrailer === fromBaseLineFrom &&
                   fromBaseLineToTrailer === fromBaseLineTo &&
                   currentEventTypeTrailer === currentEventTypeIndex
                   ) ||
                   ( fromBaseLineTo === '' &&  fromBaseLineFrom === '')
               }"
               type="button"
               class="btn btn-default nbia-button days-from-baseline-update-button "
               value="Apply Time Points"
               (click)="onDaysFromBaseLineApply()"
        >
    </div>

</div>
<nbia-clinical-time-points-explanation
        *ngIf="showClinicalTimePointsExplanation"
        [posY]=posY

></nbia-clinical-time-points-explanation>
