@import '../../../../../app.component.scss';

.from-base-line-from-checkbox{

}

.red-clear-from-base-line {
  position: absolute;
  left: $left-section-width - 60px;
}

.from-base-line-number-input{
  width: 47px;
  margin-right: 2px;
  margin-left: 2px;
}

.days-from-baseline-dropdown-button{
  border: solid 1px #b3b3b3;
  border-radius: 3px;

  padding: 4px;
  margin: 0 2px 5px 0;
}

.days-from-baseline-dropdown-empty-button{
  color: #666;
}

.days-from-baseline-checkbox{
  margin-right: 3px;
}

.days-from-baseline-div{
  margin-bottom: 0;
  padding-bottom: 0;
}

.days-from-baseline-update-button{
  float: right;
  margin-right: 10px;
//  margin-top: -3px;
  margin-bottom: 10px;
  height: 30px;
  padding-top: 3px;
}

.days-from-baseline-min-max-note{
  //  float: right;
  padding-top: 0;
  margin-top: 4px;
  margin-bottom: 10px;
  margin-left: 36px;
  height: 20px;
}

.clinical-time-points-heading{
  margin-bottom: 0;
  padding-bottom: 0;
}

.clinical-time-points-input-div{
  margin-top: 0;
  padding-top: 0;
}
