@import '../../../app.component';
@import '../../../data-table';


// Results count and Collection//Site at the top.
.results-heading-text {
    font-size: 12pt;
}

.search-results-table {
    width: 100%
}

// Starting/Default height
.search-results-scroller-div {
    height: 80vh;
}

.search-results-outer-div {
    // border:  solid #4af;
    border: solid #e7e7e7;
    padding-bottom: 12px;
    //resize: vertical;
    resize: both;
    overflow: auto;
}


.search-results-series-viewer-button {
    padding: 2px 7px 1px 7px;
    margin: 0 0 0 2px;
}

// Starting/Default column width
.search-results-series-visibility-td {
    width: 170px;
}

.search-results-series-modality-td {
    width: 160px;
}

.search-results-submission-date-td {
    width: 200px;
}

.search-results-modality-td {
    min-width: 100px;
}

.search-results-visibility-td {
    min-width: 100px;
}

.search-results-description-td {
    min-width: 120px;
}

.search-results-viewers-td {
    // min-width: 120px;
    background-color: #00ff5d;
}

td{
    margin: 0;
    padding: 0;
}

.search-results-series-viewers-td {
    padding: 0;
    margin: 0;
}

.viewer-button-td{
        border: solid 1px $data-table-body-border-color;
        padding: 0;
        overflow: hidden;
}

.sort-pointer{
    padding-right: 0;
    margin: 0;
}

.search-results-table-thead-th-checkbox {
    width: 28px;
    min-width: 28px;
}

.search-results-scroller-div {
    height: 25vh;
    padding: 0;
}

// /////////////////////////////////////
.search-results-grid {
    width: 1800px;
}

.search-results-grid-wrapper {
    width: calc(100% + 30px);

    background-color: #2aabd2;
}
