<div class="left-section-div">
    <nbia-query-qc-status *ngIf="useQcStatusLeftSectionComponent"
                          [currentTool]="currentTool"
    ></nbia-query-qc-status>
    <nbia-query-collection *ngIf="useQcStatusLeftSectionComponent"
                           [currentTool]="currentTool"
    ></nbia-query-collection>
    <nbia-query-collection *ngIf="! useQcStatusLeftSectionComponent"
                           [isTop]="true"
                           [currentTool]="currentTool"
    ></nbia-query-collection>
    <nbia-query-released
        [currentTool]="currentTool"
    >

    </nbia-query-released>
    <nbia-query-batch        [currentTool]="currentTool"
    ></nbia-query-batch>
    <nbia-query-confirmed        [currentTool]="currentTool"
    ></nbia-query-confirmed>
    <nbia-query-patient-id        [currentTool]="currentTool"
    ></nbia-query-patient-id>
    <nbia-query-most-recent-submission-date        [currentTool]="currentTool"
    ></nbia-query-most-recent-submission-date>
</div>
