<!-- The top menu  TODO update this comment
     Image Search - shows all the searching functions "Simple Search", "Free Text", and "Query Builder"(not yet)
     Login - Lets you log in as a user other than the default user. If the login is successful, we switch back to the "Image Search"
     Download - Download the cart contents as a manifest file (.tcia)
     Share:
          Share my cart - save cart contents as a Shared List
          Share my query - Display a URL with parameters which will reproduce the current search.
     Cart - Shows a list of "Series" which have been selected, and download options.  The Cart is disabled if it has no contents.
-->

<span
        id="application-menu-span"
        class="application-menu-span"
>
    <span class="left-gradient">&nbsp;&nbsp;&nbsp;</span>


    <!-----  Data Admin  ----->
    <span class="dropdown">
        <span *ngIf="showDataAdminButton && properties.SHOW_DATA_ADMIN_MENU"
              class="application-menu-item unselectable dropdown-toggle mb-0"
              [ngClass]="{
                'application-menu-mouse-over':menuMouseOver[menuItem.DATA_ADMIN_MENU_ITEM] && (! disabled ),
                'application-menu-current-item': currentMenuItem === menuItem.DATA_ADMIN_MENU_ITEM,
                'application-menu-disabled-item': disabled
            }"
              data-toggle="dropdown"

              (mouseover)="onMouseOver(menuItem.DATA_ADMIN_MENU_ITEM)"
              (mouseout)="onMouseOut(menuItem.DATA_ADMIN_MENU_ITEM)"
        >
        <img *ngIf="!disabled" class="application-menu-icon" src="assets/images/TOOLS/wrench_black_43px.png">
        <img *ngIf="disabled" class="application-menu-icon" src="assets/images/TOOLS/wrench_disabled_43px.png">
            Data Admin
        </span>



        <div *ngIf="(  ! menuLock )"
             class="dropdown-menu application-menu-dropdown-menu-data-admin ml-0 mt-0 pt-0"
        >
            <div *ngIf="showDataAdminPerformQcButton"
                 class="dropdown-item application-menu-dropdown-menu-item-data-admin"
                 (click)="onMenuItemClick(menuItem.DATA_ADMIN_PERFORM_QC_MENU_ITEM)"
            >
                Perform Quality Control
            </div>
            <div *ngIf="showDataAdminApproveDeletions"
                 class="dropdown-item application-menu-dropdown-menu-item-data-admin"
                 (click)="onMenuItemClick(menuItem.DATA_ADMIN_APPROVE_DELETIONS_MENU_ITEM)"
            >
                Approve Deletions
            </div>
            <div *ngIf="showPerformOnlineDeletions"
                 class="dropdown-item application-menu-dropdown-menu-item-data-admin"
                 (click)="onMenuItemClick(menuItem.DATA_ADMIN_PERFORM_ONLINE_DELETION_MENU_ITEM)"
            >
                Perform Online Deletions
            </div>

            <div *ngIf="showEditCollectionDescriptions"
                 class="dropdown-item application-menu-dropdown-menu-item-data-admin"
                 (click)="onMenuItemClick(menuItem.DATA_ADMIN_EDIT_COLLECTION_DESCRIPTIONS_MENU_ITEM)"
            >
                Edit Collection Descriptions
            </div>

            <div *ngIf="showEditLicense"
                 class="dropdown-item application-menu-dropdown-menu-item-data-admin"
                 (click)="onMenuItemClick(menuItem.DATA_ADMIN_EDIT_LICENSE_ITEMS_MENU_ITEM)"
            >
                Edit Collection License
            </div>
        </div>
    </span>
    <!-----  END Data Admin  ----->


    <!-----  User Admin   ----->
    <span *ngIf="showUserAdminButton"
          class="application-menu-item unselectable"
          [ngClass]="{
            'application-menu-mouse-over':menuMouseOver[menuItem.USER_ADMIN_MENU_ITEM] && (! disabled ),
            'application-menu-current-item': currentMenuItem === menuItem.USER_ADMIN_MENU_ITEM,
            'application-menu-disabled-item': disabled
        }"
          (click)="onMenuItemClick(menuItem.USER_ADMIN_MENU_ITEM)"
          (mouseover)="onMouseOver(menuItem.USER_ADMIN_MENU_ITEM)"
          (mouseout)="onMouseOut(menuItem.USER_ADMIN_MENU_ITEM)"
    >
        <img *ngIf="!disabled" class="application-menu-icon" src="assets/images/TOOLS/wrench_black_43px.png">
        <img *ngIf="disabled" class="application-menu-icon" src="assets/images/TOOLS/wrench_disabled_43px.png">


        User Admin
    </span>
    <!-----  END User Admin   ----->


    <!-----  Search  ----->
    <span
            class="application-menu-item unselectable"
            [ngClass]="{
                'application-menu-mouse-over':menuMouseOver[menuItem.IMAGE_SEARCH_MENU_ITEM] && (! disabled ),
                'application-menu-current-item': currentMenuItem === menuItem.IMAGE_SEARCH_MENU_ITEM,
                'application-menu-disabled-item': disabled
            }"
            (click)="onMenuItemClick(menuItem.IMAGE_SEARCH_MENU_ITEM)"
            (mouseover)="onMouseOver(menuItem.IMAGE_SEARCH_MENU_ITEM)"
            (mouseout)="onMouseOut(menuItem.IMAGE_SEARCH_MENU_ITEM)"
    >
        <img *ngIf="!disabled" class="application-menu-icon" src="assets/images/TOOLS/search_black_43px.png">
        <img *ngIf="disabled" class="application-menu-icon" src="assets/images/TOOLS/search_disabled_43px.png">
        Search
    </span>
    <!-----  END Search  ----->


    <!-----  Login  ----->
    <span
            class="application-menu-item unselectable"
            [ngClass]="{
            'application-menu-mouse-over':menuMouseOver[menuItem.LOGIN_MENU_ITEM] && (! disabled ),
            'application-menu-current-item': currentMenuItem === menuItem.LOGIN_MENU_ITEM,
            'application-menu-disabled-item': disabled
        }"
            (click)="onMenuItemClick(menuItem.LOGIN_MENU_ITEM)"
            (mouseover)="onMouseOver(menuItem.LOGIN_MENU_ITEM)"
            (mouseout)="onMouseOut(menuItem.LOGIN_MENU_ITEM)"
    >
        <img *ngIf="!disabled && userIsLoggedIn" class="application-menu-icon" src="assets/images/TOOLS/logout_black.png">
        <img *ngIf="disabled && userIsLoggedIn" class="application-menu-icon" src="assets/images/TOOLS/logout_disabled.png">

        <img *ngIf="!disabled && !userIsLoggedIn" class="application-menu-icon" src="assets/images/TOOLS/login_black.png">
        <img *ngIf="disabled && !userIsLoggedIn" class="application-menu-icon" src="assets/images/TOOLS/login_disabled.png">


        {{loginButtonText}}
    </span>
    <!-----  END Login  ----->


    <!----- Download  ----->
      <span class="dropdown">
          <span
            class="application-menu-item unselectable dropdown-toggle mb-0"
            [ngClass]="{
            'application-menu-mouse-over': (menuMouseOver[menuItem.DOWNLOAD_MENU_ITEM] && cartCount > 0) && (! disabled )
        }"
            data-toggle="dropdown"
            (mouseover)="onMouseOver(menuItem.DOWNLOAD_MENU_ITEM)"
            (mouseout)="onMouseOut(menuItem.DOWNLOAD_MENU_ITEM)"
    >
        <img  class="application-menu-icon" src="assets/images/TOOLS/download_black.png">
        Download
    </span>
          <!-- Dropdown part -->
        <div class="dropdown-menu application-menu-dropdown-menu-data-admin ml-0 mt-0 pt-0">

            <!-- Download Cart -->
            <div *ngIf="cartCount > 0"
                 class="dropdown-item application-menu-dropdown-menu-item-data-admin menu-item-disabled"
                 [ngClass]="{
                        'application-menu-mouse-over': menuMouseOver[menuItem.DOWNLOAD_CART_MENU_ITEM] && cartCount > 0,
                        'menu-item-disabled': cartCount < 1
                    }"

                 (click)="onMenuItemClick(menuItem.DOWNLOAD_CART_MENU_ITEM)"
                 (mouseover)="onMouseOver(menuItem.DOWNLOAD_CART_MENU_ITEM)"
                 (mouseout)="onMouseOut(menuItem.DOWNLOAD_CART_MENU_ITEM)"
            >
                    Download Cart
            </div>
            <!-- END Download Cart -->


            <!-- Download Query -->
            <div
                 class="dropdown-item application-menu-dropdown-menu-item-data-admin"
                 [ngClass]="{
                        'application-menu-mouse-over':menuMouseOver[menuItem.DOWNLOAD_QUERY_MENU_ITEM]
                    }"
                 (click)="onMenuItemClick(menuItem.DOWNLOAD_QUERY_MENU_ITEM)"
                 (mouseover)="onMouseOver(menuItem.DOWNLOAD_QUERY_MENU_ITEM)"
                 (mouseout)="onMouseOut(menuItem.DOWNLOAD_QUERY_MENU_ITEM)"
            >
                    Download Query
            </div>
            <!-- END Download Query -->


            <a
                 class="dropdown-item application-menu-dropdown-menu-item-data-admin"
                 [ngClass]="{
                        'application-menu-mouse-over':menuMouseOver[menuItem.DOWNLOAD_DATA_RETRIEVER_MENU_ITEM]
                    }"
                 (mouseover)="onMouseOver(menuItem.DOWNLOAD_DATA_RETRIEVER_MENU_ITEM)"
                 (mouseout)="onMouseOut(menuItem.DOWNLOAD_DATA_RETRIEVER_MENU_ITEM)"
                 [href]=properties.DOWNLOADER_URL
                     TARGET="_blank"
                >
                    Get NBIA Data Retriever
                </a>
        </div>


    </span>
    <!----- END Download  ----->


    <!-----  Share  ----->
    <span class="dropdown">

        <!-- Dropdown Button -->
        <span
                class="application-menu-item unselectable dropdown-toggle mb-0"
                [ngClass]="{
                'application-menu-mouse-over':menuMouseOver[menuItem.SAVE_SHARED_LIST_MENU_ITEM] && (! disabled ) && (! shareDisabled),
                'application-menu-disabled-item':disabled || shareDisabled
            }"
                data-toggle="dropdown"
                (mouseover)="onMouseOver(menuItem.SAVE_SHARED_LIST_MENU_ITEM)"
                (mouseout)="onMouseOut(menuItem.SAVE_SHARED_LIST_MENU_ITEM)"
        >
            <img *ngIf="!disabled && !shareDisabled" class="application-menu-icon" src="assets/images/TOOLS/share_black.png">
            <img *ngIf="disabled || shareDisabled" class="application-menu-icon" src="assets/images/TOOLS/share_disabled.png">

            &nbsp;Share
        </span>

        <!-- Dropdown part -->
        <div class="dropdown-menu application-menu-dropdown-menu-data-admin ml-0 mt-0 pt-0">

            <!-- Share Cart -->
            <div *ngIf="( ( ! disabled ) && (! shareDisabled) && ( ! menuLock ))"
                 class="dropdown-item application-menu-dropdown-menu-item-data-admin"
                 [ngClass]="{
                        'hide-item':cartCount === 0,
                        'application-menu-mouse-over':menuMouseOver[menuItem.SAVE_CART_MENU_ITEM]
                    }"
                 (mouseover)="onMouseOver(menuItem.SAVE_CART_MENU_ITEM)"
                 (mouseout)="onMouseOut(menuItem.SAVE_CART_MENU_ITEM)"
                 (click)="onMenuItemClick(menuItem.SAVE_CART_MENU_ITEM)"
            >
                    Share My Cart
            </div>


            <!-- Share Query -->
             <div
                     class="dropdown-item application-menu-dropdown-menu-item-data-admin"
                     [ngClass]="{
                        'hide-item': ( (! haveSimpleSearchQuery ) && ( ! haveTextSearchQuery)),
                        'application-menu-mouse-over':menuMouseOver[menuItem.DISPLAY_QUERY_URL]
                    }"
                     (click)="onMenuItemClick(menuItem.DISPLAY_QUERY_URL)"
                     (mouseover)="onMouseOver(menuItem.DISPLAY_QUERY_URL)"
                     (mouseout)="onMouseOut(menuItem.DISPLAY_QUERY_URL)"
             >
                    Share My Query
            </div>

        </div>

    </span>
    <!----- END Share  ----->

    <!----- Cart ----->
    <span
            class="application-menu-item unselectable"
            [ngClass]="{
            'application-menu-mouse-over':( menuMouseOver[menuItem.CART_MENU_ITEM] && (cartCount > 0)  && (! disabled )),
            'application-menu-disabled-item':(cartCount === 0) || disabled,
            'application-menu-current-item': currentMenuItem === menuItem.CART_MENU_ITEM
        } "
            title="{{cartCount}} Series"
            (click)="onMenuItemClick(menuItem.CART_MENU_ITEM)"
            (mouseover)="onMouseOver(menuItem.CART_MENU_ITEM)"
            (mouseout)="onMouseOut(menuItem.CART_MENU_ITEM)"
    >
        <img *ngIf="cartCount > 0 && !disabled" class="application-menu-icon" src="assets/images/TOOLS/cart_black.png">
        <img *ngIf="cartCount < 1 || disabled" class="application-menu-icon" src="assets/images/TOOLS/cart_disabled.png">
        Cart
        <span
                class="cart-count"
                [ngClass]="{
                'cart-count-non-zero': cartCount > 0,
                'cart-count-zero': cartCount < 1
            }"
        >
            <!-- Cart data size displayed in the Cart tab.  -->
            <!-- If the user is showing the Cart tab do not include disabled series in the size..  -->
            <span *ngIf="  (currentMenuItem === menuItem.CART_MENU_ITEM) && ( cartTotalFileSize > 0 )"
                  class="data-size">{{cartTotalFileSize | toMbGb}}
            </span>

            <span *ngIf="  (currentMenuItem !== menuItem.CART_MENU_ITEM) && ( cartTotalFileSizeWithDisabled > 0 )"
                  class="data-size">{{cartTotalFileSizeWithDisabled | toMbGb}}
            </span>

            <span *ngIf="  (currentMenuItem === menuItem.CART_MENU_ITEM) && ( cartTotalFileSize < 1 )"
                  class="data-size"
            >
                0 MB
            </span>

            <span *ngIf="  (currentMenuItem !== menuItem.CART_MENU_ITEM) && ( cartTotalFileSizeWithDisabled < 1 )"
                  class="data-size">0 MB
            </span>
        </span>
    </span>
    <!----- ENC Cart ----->


</span>
<!----- END Row of tab/buttons ----->
