@import '../app.component.scss';

$application-menu-height: 36px;
$application-menu-right-margin: 5px;


$application-menu-disabled-text: #b4b4b4;
$application-menu-disabled-background: #6b6b6b;

$application-menu-selected-text: #000;
$application-menu-selected-background: #fff;
//$application-menu-selected-border: #5db4e0;
$application-menu-selected-border: #000;
$application-menu-border: #000;

$application-menu-mouse-over-background: #dedddd;
$application-menu-mouse-over-text: #000;

$application-menu-background: #ccc;
$application-menu-text: #222;

$application-menu-button-section-height: 22px;

$application-menu-button-border-width: 1px;

$application-menu-spacing: 1px; // These are times 2

.application-menu-span {
  position: absolute;
  right: 0px;
  padding: 0 15px 0 0;
  margin: 0 0 0 4px;

  top: $heading-height;
  height: $application-menu-button-section-height;
  background-color: $header-background-color;
}



.left-gradient{
  margin: 0;
  color: $application-menu-text;
 // padding: 2px 5px 4px 5px;
  padding-top: 2px;
  padding-bottom: 3px;
  background-image: linear-gradient(to  left, #013856, #ffffff);
}


.application-menu-item{
     margin-top: 0;

     background-color: #ddd;
   // background-color: #dd0b78;
    color: $application-menu-text;
    padding: 2px 5px 2px 5px;
    margin-left: $application-menu-spacing;
    margin-right: $application-menu-spacing;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    // border-top: 3px ;
    border: solid $application-menu-border $application-menu-button-border-width;

}



.application-menu-mouse-over {
    color: #000;
    background: #dde8eb;
    cursor: pointer;
}


.application-menu-current-item {
    color: $application-menu-selected-text;
    background-color: $application-menu-selected-background;
    // border-bottom: solid #fff 2px;
    border-bottom: solid #fff 2px;

 // border-color: #ba00ff;
   // padding: 4px;
}
/*

.application-menu-current-itemORIG {
    color: $application-menu-selected-text;
    background-color: $application-menu-selected-background;
    border-bottom: solid #FFF 2px;

  border-color: #fff;
   // padding: 4px;
}
*/

.application-menu-disabled-item {
    color: $application-menu-disabled-text;
    background-color: $application-menu-disabled-background;
    cursor: not-allowed;
}


.application-menu-dropdown-menu{
    color: #fff;
    margin-left: 248px;
    padding: 0;
}
.application-menu-dropdown-menu-item {
    color: #fff;
    padding: 1px 0px 4px 14px;
    background-color: #337ab7;
    border: solid 1px #828282;
}

.application-menu-dropdown-menu-item:hover {
    color: #fff;
    background-color: #286090;
}


.application-menu-with-cart-count{
    margin-right: 5px;
}

.application-menu-with-no-cart-count{
    margin-right: 20px;
}


.cart-count-zero {
    background-color: #888888;
    color: #aaa;
}

.cart-count-non-zero {
    background-color: #514747;
    color: #fff;
}


.cart-count {
     border-radius: 3px;

    // padding: 3px 6px 3px 6px;
    padding: 0px 6px 0px 6px;

    // margin-right: 15px;
    margin-left: 6px;
    top: 0;
    font-size: 8pt;
}
