<span
        class="card-nbia-default text-search-explanation alert-box-div alert-box-shadow"
        [ngStyle]="{'top':(posY - 230) + 'px'}"

>
    <div class="card-nbia-header-default p-2">
        <div > Identifiers
            <span class=" close-x clicker unselectable" (click)="onSubjectIdExplanationCloseClick()">
                X
            </span>
        </div>
    </div>

    <div class="third-party-explanation-text bg-white p-2">
        To filter by identifier(s), select an identifier type, enter them into the box as a comma-separated list, and then click <b>Apply Identifiers</b>.
        See <a href="https://wiki.cancerimagingarchive.net/display/NBIA/TCIA+Radiology+Portal+User%27s+Guide#TCIARadiologyPortalUser'sGuide-PerformingaSimpleSearch"  target="_BLANK">Performing a Simple Search</a> for more information.
    </div>
</span>
