<div class="query-panel top-border ">
    <div class="dynamic-query-panel-heading">
        <!-- ----------  Header  ---------- -->
        <!-- ----- Heading text at top ----- -->
        <!-- ----- No Expand/Collapse icon on the left, just the Heading. ----- -->
        <span *ngIf="!criteriaOpenCloseButton" [ngClass]="{
                'heading-font-extra-small': currentFont === '0',
                'heading-font-small': currentFont === '1',
                'heading-font-medium': currentFont === '2',
                'heading-font-large': currentFont === '3'
            }">
            <!-- -----  Single Checkbox  ----- -->
            <span *ngIf="criteriaSingleCheckbox || (criteriaNumberInput && criteriaApplyCheckbox)">
                <input
                    type="checkbox"
                    name="criteriaSingleCheckbox-{{sequenceNumber}}"
                    id="criteriaSingleCheckbox-{{sequenceNumber}}"
                    [(ngModel)]="criteriaSingleCheckboxDefault"
                    (change)="onApplyCheckboxClick( $event)"
                >
            </span>
            <!-- -----  END Single Checkbox  ----- -->

            <!-- ----- The heading Text ----- -->
            {{criteriaHeading}}


            <!-- ----- Number input ----- -->
            <span *ngIf="criteriaNumberInput">
                <input
                    class="dynamic-query-number-input"
                    type="number"
                    min="{{criteriaNumberInputLimitLow}}"
                    max="{{criteriaNumberInputLimitHigh}}"
                    [(ngModel)]="criteriaNumberInputDefault"
                    (change)="onChange()"
                >
            </span>
            <!-- ----- END Number input ----- -->

        </span>
        <!-- ----- END No Expand/Collapse icon on the left, just the Heading. ----- -->

        <!-- ----- With Expand/Collapse icon on the left of the Heading. ----- -->
        <span *ngIf="criteriaOpenCloseButton" [ngClass]="{
                'heading-font-extra-small': currentFont === '0',
                'heading-font-small': currentFont === '1',
                'heading-font-medium': currentFont === '2',
                'heading-font-large': currentFont === '3'
            }"
        >

            <!-- Down icon,  Content is showing/expanded -->
            <span *ngIf="widgetShowCriteria" class="clicker" (click)="onShowCriteriaClick(false)">
                <img src="assets/images/down_V01.png"/>
                {{criteriaHeading}}
            </span>
            <!-- END Down icon, Content is showing/expanded -->

            <!-- Left icon,  Content is not showing -->
            <span *ngIf="!widgetShowCriteria" class="clicker" (click)="onShowCriteriaClick(true)">
                <img src="assets/images/right_V01.png"/>
                {{ queryCriteriaData["dynamicQueryCriteriaHeading"] }}
                <span
                    *ngIf="criteriaSelectionInHeadingCollapsed && criteriaHeadingAddOn.length > 0">&nbsp;({{criteriaHeadingAddOn}}
                    )</span>
            </span>
            <!-- END Left icon, Content is not showing -->
        </span>
        <!-- ----- END  With Expand/Collapse icon on the left of the Heading. ----- -->

        <!-- ----- END Heading text at top ----- -->


        <!-- ----- And/Or (at top right of Heading text) ----- -->
        <!-- Includes And/Or radio buttons -->
        <span *ngIf="criteriaAndOrType === andOrTypes.AND_OR" [ngClass]="{
                    'font-extra-small': currentFont === '0',
                    'font-small': currentFont === '1',
                    'font-medium': currentFont === '2',
                    'font-large': currentFont === '3'
                }"> &nbsp; <span *ngFor="let option of andOrOptions; let i = index" class="clicker" [ngClass]="{
                        'font-extra-small': currentFont === '0',
                        'font-small': currentFont === '1',
                        'font-medium': currentFont === '2',
                        'font-large': currentFont === '3'
                    }">
                <input
                    type="radio"
                    class="dynamic-query-and-or-radio-button clicker"
                    name="dynamic-query-widget-and-or-radio-button-id{{sequenceNumber}}"
                    id="and-or-radio-button-id-{{ i }}-{{sequenceNumber}}"
                    (change)="onWidgetAndOrRadioClick(i)"
                    [checked]="andOrRadio[i]"
                >
                <label [attr.for]="
                            'and-or-radio-button-id-' +
                            i +
                            '-' +
                            sequenceNumber
                        " class="criteria-text clicker">
                    {{ option }} i:{{i}}
                </label>
            </span>
        </span>
        <!-- END Includes And/Or radio buttons -->


        <!-- Just an "And"  -->
        <span *ngIf="criteriaAndOrType === andOrTypes.ONLY_AND" [ngClass]="{
                    'font-extra-small': currentFont === '0',
                    'font-small': currentFont === '1',
                    'font-medium': currentFont === '2',
                    'font-large': currentFont === '3'
                }"> &nbsp;&nbsp;&nbsp;(And) </span>
        <!-- END Just an "And"  -->
        <!-- Just an "Or"  -->
        <span *ngIf="criteriaAndOrType === andOrTypes.ONLY_OR" [ngClass]="{
                    'font-extra-small': currentFont === '0',
                    'font-small': currentFont === '1',
                    'font-medium': currentFont === '2',
                    'font-large': currentFont === '3'
                }"> &nbsp;&nbsp;&nbsp;(Or) </span>
        <!-- END Just an "Or"  -->
        <!-- ----- END And/Or (at top, right of Heading text) ----- -->

        <!-- ----- All/Any (at top, right of Heading text) ----- -->
        <!-- Includes All/Any radio buttons -->
        <span *ngIf="criteriaAllAnyType === allAnyTypes.ALL_ANY" [ngClass]="{
                    'font-extra-small': currentFont === '0',
                    'font-small': currentFont === '1',
                    'font-medium': currentFont === '2',
                    'font-large': currentFont === '3'
                }"
        >
            &nbsp;
            <span *ngFor="let option of allAnyOptions; let i = index" class="clicker" [ngClass]="{
                        'font-extra-small': currentFont === '0',
                        'font-small': currentFont === '1',
                        'font-medium': currentFont === '2',
                        'font-large': currentFont === '3'
                    }"
            >
                <input type="radio" class="dynamic-query-all-any-radio-button clicker"
                       name="dynamic-query-widget-all-any-radio-button-id{{
                            sequenceNumber
                        }}" id="all-any-radio-button-id-{{ i }}-{{
                            sequenceNumber
                        }}" (change)="onWidgetAllAnyRadioClick(i)" [checked]="allAnyRadio[i]"/>
                <label [attr.for]="
                            'all-any-radio-button-id-' +
                            i +
                            '-' +
                            sequenceNumber
                        " class="criteria-text clicker">
                    {{ option }}
                </label>
            </span>
        </span>
        <!-- END Includes All/Any radio buttons -->


        <!-- Just an "All"  -->
        <span *ngIf="criteriaAllAnyType === allAnyTypes.ONLY_ALL" [ngClass]="{
                    'font-extra-small': currentFont === '0',
                    'font-small': currentFont === '1',
                    'font-medium': currentFont === '2',
                    'font-large': currentFont === '3'
                }"> &nbsp;&nbsp;&nbsp;(All) </span>
        <!-- END Just an "All"  -->
        <!-- Just an "Any"  -->
        <span *ngIf="criteriaAllAnyType === allAnyTypes.ONLY_ANY" [ngClass]="{
                    'font-extra-small': currentFont === '0',
                    'font-small': currentFont === '1',
                    'font-medium': currentFont === '2',
                    'font-large': currentFont === '3'
                }"> &nbsp;&nbsp;&nbsp;(Any) </span>
        <!-- END Just an "Or"  -->
        <!-- ----- END All/Or (at top, right of Heading text) ----- -->


        <!-- -----  Top right button/icons                       ----- -->
        <!-- -----  Search/Filter, clear, X (remove this widget) ----- -->
        <span class="widget-top-right-button-box">
            <!-- Search/filter List button (Red magnifying glass)                      -->
            <!-- This is just the button, the Filter text input, etc, is farther below -->
            <span *ngIf="queryCriteriaData['dynamicQueryCriteriaSearchable']" class="clicker"
                  title="Filter/Search" (click)="onSearchGlassClick()">
                <img [ngClass]="{
                        'dynamic-query-list-button-icon-extra-small':  currentFont === '0',
                        'dynamic-query-list-button-icon-small': currentFont === '1',
                        'dynamic-query-list-button-icon-medium': currentFont === '2',
                        'dynamic-query-list-button-icon-large': currentFont === '3'
                    }" src="assets/images/search.png" alt="Filter list"/>
            </span>
            <!-- END Search (filter) List. Button (just the button) -->
            <!-- Clear button at top right -->
            <span *ngIf="criteriaClearButton && haveInput" class="clicker" (click)="onClearClick(  )">
                <img [ngClass]="{
                        'dynamic-query-list-button-icon-extra-small': currentFont === '0',
                        'dynamic-query-list-button-icon-small': currentFont === '1',
                        'dynamic-query-list-button-icon-medium': currentFont === '2',
                        'dynamic-query-list-button-icon-large': currentFont === '3'
                    }" src="assets/images/redClear.png" alt="Clear checks"/>
            </span>
            <!-- END Clear button at top right -->
            <!-- Red X at the top right that will remove this widget from the UI and remove any part of the query it may have provided -->
            <span *ngIf="! criteriaRequired" class="clicker" (click)="onRemoveCriteriaClick()">
                <img [ngClass]="{
                            'dynamic-query-list-button-icon-extra-small':
                                currentFont === '0',
                            'dynamic-query-list-button-icon-small':
                                currentFont === '1',
                            'dynamic-query-list-button-icon-medium':
                                currentFont === '2',
                            'dynamic-query-list-button-icon-large':
                                currentFont === '3'
                        }" src="assets/images/x_red.png" alt="Remove this search criteria"/>
            </span>
            <!-- END Red X at the top right, that will remove this widget from the UI and remove any part of the query it may have provided -->
        </span>
        <!-- ----- END Top right button/icons ----- -->


        <!-- ----- Calendar dates when collapsed ----- -->
        <div class="ml-3" *ngIf="(! widgetShowCriteria) && criteriaCalendar && date0 !== undefined && date1 !== undefined">
            <span *ngIf="applyState">
                *
            </span>
            {{date0['formatted']}}&nbsp;to&nbsp;{{date1['formatted']}}
        </div>
        <!-- ----- END Calendar dates when collapsed ----- -->


        <!-- -----  Search (filter) List text input (Launched/shown by Red magnifying glass)  ----- -->
        <div *ngIf="showListSearch" class="dynamic-query-list-search-box" [ngClass]="{
                    'font-extra-small': currentFont === '0',
                    'font-small': currentFont === '1',
                    'font-medium': currentFont === '2',
                    'font-large': currentFont === '3'
                }">
            <span>
                <input type="text" class="dynamic-query-list-search-text-area dynamic-query-list-search-box-with-focus"
                       placeholder="search" [(ngModel)]="listSearchInput" (blur)="onSearchTextOutFocus(0)"
                       (focus)="onSearchTextFocus(0)" (ngModelChange)="onSearchChange($event)"/>
            </span>
            <span class="dynamic-query-list-search-count">{{listSearchResultsCount}}</span>
        </div>
        <!-- ----- END Search (filter) List text input (Launched.shown by Red magnifying glass)  ----- -->

    </div>
    <!-- ---------- END Header  ---------- -->
    <!-- -----  Single Radio buttons (2 or 3) ----- -->
    <span *ngIf="criteriaSingleLineRadio">
        <span [ngClass]="{
            hide: (!widgetShowCriteria)
        }" class="single-line-radio-input-text">

            <span *ngIf="criteriaSingleLineRadioOptions[0].length > 0" class="ml-1">
                <input
                    class="single-line-radio-input ml-2"
                    type="radio"
                    name="singleLineRadio-{{sequenceNumber}}"
                    id="singleLineRadio0-{{sequenceNumber}}"
                    [checked]="criteriaSingleLineRadioCurrent===0"
                    (click)="onSingleLineRadioChange(0)"
                >
                <label for="singleLineRadio0-{{sequenceNumber}}">
                    {{criteriaSingleLineRadioOptions[0]}}
                </label>
            </span>

            <span *ngIf="criteriaSingleLineRadioOptions[1].length > 0" class="ml-1">
                <input
                    class="single-line-radio-input"
                    type="radio"
                    name="singleLineRadio-{{sequenceNumber}}"
                    id="singleLineRadio1-{{sequenceNumber}}"
                    [checked]="criteriaSingleLineRadioCurrent===1"
                    (click)="onSingleLineRadioChange(1)"
                >
                <label for="singleLineRadio1-{{sequenceNumber}}">
                    {{criteriaSingleLineRadioOptions[1]}}
                </label>
            </span>

            <span *ngIf="criteriaSingleLineRadioOptions[2].length > 0" class="ml-1">
                <input
                    class="single-line-radio-input"
                    type="radio"
                    name="singleLineRadio-{{sequenceNumber}}"
                    id="singleLineRadio2-{{sequenceNumber}}"
                    [checked]="criteriaSingleLineRadioCurrent===2"
                    (click)="onSingleLineRadioChange(2)"
                >
                <label for="singleLineRadio2-{{sequenceNumber}}">
                    {{criteriaSingleLineRadioOptions[2]}}
                </label>
            </span>

        </span>
    </span>
    <!-- ----- END Single Radio buttons (2 or 3) ----- -->
    <!-- TODO add font sizing -->
    <!-- ----- Subheading ----- -->
    <div
        *ngIf="widgetShowCriteria  && criteriaSubheading !== undefined  && criteriaSubheading.length > 0 && (!criteriaSingleLineRadio)">
        <span class="dynamic-query-subheading">{{criteriaSubheading}}</span>
    </div>
    <!-- ----- END Subheading ----- -->
    <!-- TODO add font sizing -->
    <!-- -----  Text input ----- -->
    <span *ngIf="widgetShowCriteria  && (criteriaSmallTextInput ||criteriaLargeTextInput )">
        <!-- test_small_text_input  pushes the bottom of the parent box down to make room for the button  -->
        <div [ngClass]="{
                'dynamic-query-vertical-expand-div' : criteriaLargeTextInput,
                'test_small_text_input' : criteriaSmallTextInput
            }">
            <textarea
                [ngClass]="{
                    'dynamic-query-small-text-input mb-1' : criteriaSmallTextInput,
                    'dynamic-query-large-text-input-with-apply mb-1' : criteriaLargeTextInput && criteriaApplyButton,
                    'dynamic-query-large-text-input mb-1' : criteriaLargeTextInput && ! criteriaApplyButton
                }"
                [(ngModel)]="criteriaTextInputText"
                (ngModelChange)="onTextInputChange();onChange()"
            >

            </textarea>
            <!-- -----  Apply Button for Text inputs ----- -->
            <button *ngIf="criteriaApplyButton" class="btn nbia-button dynamic-query-apply-button" type="button"
                    (click)="onApplyButtonClick(  )">
                {{queryCriteriaData['dynamicQueryCriteriaApplyText']}}
            </button>
            <!-- ----- END  Apply Button  ----- -->

            <!-- -----  Apply Checkbox  ----- -->
            <span *ngIf="criteriaApplyCheckbox"
                  class="ml-3"
            >
                <input
                    type="checkbox"
                    id="dynamic-query-apply-checkbox-{{sequenceNumber}}"
                    (click)="onApplyCheckboxClick( $event)"
                    [(ngModel)]="applyState"
                >
                <label
                    class="ml-1"
                    for="dynamic-query-apply-checkbox-{{sequenceNumber}}">
                    {{queryCriteriaData['dynamicQueryCriteriaApplyText']}}
                </label>
            </span>
            <!-- ----- END  Apply Checkbox  ----- -->

        </div>
    </span>
    <!-- -----  END Text input  ----- -->

    <!-- -----  List - Checkbox or Radio button  ----- -->
    <span *ngIf="widgetShowCriteria && ( criteriaMultiChoiceList || criteriaSingleChoiceList )">
        <!-- test_small_text_input  pushes the bottom of the parent box down to make room for the button  -->
        <div class="dynamic-query-vertical-expand-div" [ngClass]="{
            hide: !widgetShowCriteria
        }">
            <div class="div-3 mb-1">
                <div *ngFor="  let item of itemList;  let i = index"
                    class="div-4"
                    [ngClass]="{
                        hide: !item['include'],
                        'dynamic-query-list-line-extra-small': currentFont === '0',
                        'dynamic-query-list-line-small': currentFont === '1',
                        'dynamic-query-list-line-medium': currentFont === '2',
                        'dynamic-query-list-line-large': currentFont === '3'
                    }"
                  >
                    <!-- Checkbox list -->
                    <span *ngIf="criteriaMultiChoiceList">
                        <input
                            type="checkbox"
                            class="dynamic-query-list-checkbox"
                            id="dynamic-query-multi-choice-checkbox-test{{ i }}-{{sequenceNumber}}"
                            [(ngModel)]="listCheckboxes[i]"
                            (click)="onCriteriaListItemClicked(i, $event)"

                        >
                        <label [attr.for]="'dynamic-query-multi-choice-checkbox-test' + i + '-' + sequenceNumber"
                               [ngClass]="{
                            'font-extra-small': currentFont === '0',
                            'font-small': currentFont === '1',
                            'font-medium': currentFont === '2',
                            'font-large': currentFont === '3'
                        }">
<!--mhl
                            {{item['value'] | shorten : 32}}
-->

                            <span *ngIf="item['value'].length > properties.MAX_CRITERIA_LEN "
                                  title="{{item['value']}}">
                            {{item['value'] | shorten : properties.MAX_CRITERIA_LEN}}<b>...</b>
                            </span>
                            <span *ngIf="item['value'].length <= properties.MAX_CRITERIA_LEN ">
                            {{item['value']}}
                            </span>
                        </label>
                    </span>
                    <!-- END Checkbox list -->
                    <!-- Radio button list -->
                    <span *ngIf="criteriaSingleChoiceList">
                        <input type="radio" name="dynamic-query-list-radio-{{sequenceNumber}}"
                               class="dynamic-query-list-checkbox"
                               id="dynamic-query-list-radio-test{{ i }}-{{sequenceNumber}}"
                               [checked]="listCheckboxes[i]" (click)="onCriteriaListItemClicked(i, $event)"/>  <!--  @CHECKME  -->
                        <label [attr.for]="'dynamic-query-list-radio-test' + i + '-' + sequenceNumber" [ngClass]="{
                            'font-extra-small': currentFont === '0',
                            'font-small': currentFont === '1',
                            'font-medium': currentFont === '2',
                            'font-large': currentFont === '3'
                        }">
                            {{item['value'] | shorten : 32}}
                        </label>
                    </span>
                    <!-- END Radio button list -->
                </div>
            </div>
            <!-- -----  Apply Button  ----- -->
            <button *ngIf="criteriaApplyButton" class="btn nbia-button dynamic-query-apply-button" type="button"
                    (click)="onApplyButtonClick(  )">
                {{queryCriteriaData['dynamicQueryCriteriaApplyText']}}
            </button>
            <!-- ----- END  Apply Button  ----- -->
            <!-- -----  Apply Checkbox  ----- -->
            <span style="background-color: #e4606d;" *ngIf="criteriaApplyCheckbox">
                <input
                    type="checkbox"
                    id="list-checkbox-{{sequenceNumber}}"
                    (click)="onApplyCheckboxClick( $event)"
                >
                <label for="list-checkbox-{{sequenceNumber}}">
                    {{queryCriteriaData['dynamicQueryCriteriaApplyText']}}
                </label>
            </span>
            <!-- ----- END  Apply Checkbox  ----- -->
        </div>
    </span>
    <!-- -----  END List - Checkbox or Radio button ----- -->

    <!-- ----------  Calendar  --------- -->
    <div *ngIf="widgetShowCriteria  && criteriaCalendar" [ngClass]="{
        'dynamic-query-calendar-div': (! criteriaApplyButton) && (! criteriaApplyCheckbox ),
        'dynamic-query-calendar-div-with-apply-button':  criteriaApplyButton ,
        'dynamic-query-calendar-div-with-apply-checkbox': criteriaApplyCheckbox,
        'cal-height-one-date': criteriaCalendarPrompt1.length < 1
        }"
    >
        <nbia-widget-calendar
           [prompt0]="criteriaCalendarPrompt0"
           [prompt1]="criteriaCalendarPrompt1"
           [placeHolder0]="criteriaCalendarPlaceHolder0"
           [placeHolder1]="criteriaCalendarPlaceHolder1"
           [(date0)]="date0"
           [(date1)]="date1"
           [(haveInput)]="haveInput"
           [sequenceNumber]="sequenceNumber"
        ></nbia-widget-calendar>

<!--
        <nbia-widget-calendar-bravo
            [prompt0]="criteriaCalendarPrompt0"
            [prompt1]="criteriaCalendarPrompt1"
            [placeHolder0]="criteriaCalendarPlaceHolder0"
            [placeHolder1]="criteriaCalendarPlaceHolder1"
            [(date0)]="date0"
            [(date1)]="date1"
            [(haveInput)]="haveInput"
        >
        </nbia-widget-calendar-bravo>
-->

        <!-- -----  Apply Button for Calendar ----- -->
        <div >
        <button

            *ngIf="criteriaApplyButton"
            [disabled]="(! haveInput) &&      (
                (
                    (date0 === undefined || date0['formatted'] === undefined || date0['formatted'].length < 1) &&
                    (date1 === undefined || date1['formatted'] === undefined || date1['formatted'].length < 1)
                )
                ||
                (
                    ( criteriaCalendarPrompt1.length >0 ) &&
                    (
                        (
                            (date0 === undefined || date0['formatted'] === undefined || date0['formatted'].length < 1) ||
                            (date1 === undefined || date1['formatted']  === undefined|| date1['formatted'].length < 1)
                        ) &&
                        ( ! criteriaCalendarAllowOneEmpty )
                    )
                )
            ) "
            class="btn nbia-button dynamic-query-apply-button mt-1"
            type="button"
            (click)="onApplyButtonClick()"
        >
            {{queryCriteriaData['dynamicQueryCriteriaApplyText']}}
        </button>

            <!--criteriaClearButton: {{this.criteriaClearButton}}-->
        </div>
        <!-- ----- END  Apply Button  for Calendar ----- -->


        <!-- -----  Apply Checkbox  for Calendar ----- -->
        <div *ngIf="criteriaApplyCheckbox"
             [ngClass]="{
                     'disabled-text':             (
                (
                    (date0 === undefined || date0['formatted'] === undefined || date0['formatted'].length < 1) &&
                    (date1 === undefined || date1['formatted'] === undefined || date1['formatted'].length < 1)
                )
                ||
                (
                    ( criteriaCalendarPrompt1.length >0 ) &&
                    (
                            (
                                (date0 === undefined || date0['formatted'] === undefined || date0['formatted'].length < 1) ||
                                (date1 === undefined || date1['formatted'] === undefined || date1['formatted'].length < 1)
                            ) &&
                            ( ! criteriaCalendarAllowOneEmpty )
                    )
                )
            )

                 }"
            class="btn  apply-checkbox"
        >
            <input
                type="checkbox"
                [(ngModel)]="criteriaSingleCheckboxCalender"

                id="list-checkbox-cal-{{sequenceNumber}}"
                [disabled]="            (
                (
                    (date0 === undefined || date0['formatted'] === undefined || date0['formatted'].length < 1) &&
                    (date1 === undefined || date1['formatted'] === undefined || date1['formatted'].length < 1)
                )
                ||
                (
                    ( criteriaCalendarPrompt1.length >0 ) &&
                    (
                            (
                                (date0 === undefined || date0['formatted'] === undefined || date0['formatted'].length < 1) ||
                                (date1 === undefined || date1['formatted'] === undefined || date1['formatted'].length < 1)
                            ) &&
                            ( ! criteriaCalendarAllowOneEmpty )
                    )
                )
            ) "

                (click)="onApplyCheckboxClick( $event)"
            >
            <label
                class="ml-1"
                for="list-checkbox-cal-{{sequenceNumber}}">
                {{queryCriteriaData['dynamicQueryCriteriaApplyText']}}
            </label>
        </div>
        <!-- ----- END  Apply Checkbox for Calendar ----- -->
    </div>
    <!-- ----------  END Calendar  --------- -->

</div>
