<div class="query-panel top-border">
    <div class="query-panel-heading mb-0">

        <!-- No close/open icon on the left, just the Heading. -->
        <span
            *ngIf="!queryCriteriaData['dynamicQueryCriteriaOpenCloseButton']"
            [ngClass]="{
                'heading-font-extra-small': currentFont === '0',
                'heading-font-small': currentFont === '1',
                'heading-font-medium': currentFont === '2',
                'heading-font-large': currentFont === '3'
            }"
        >
            {{ queryCriteriaData["dynamicQueryCriteriaHeading"] }}
        </span>
        <!-- END No close/open icon on the left, just the Heading. -->




        <!-- With close/open icon on the left, just the Heading. -->
        <span
            *ngIf="queryCriteriaData['dynamicQueryCriteriaOpenCloseButton']"
            [ngClass]="{
                'heading-font-extra-small': currentFont === '0',
                'heading-font-small': currentFont === '1',
                'heading-font-medium': currentFont === '2',
                'heading-font-large': currentFont === '3'
            }"
        >
            <span
                *ngIf="singleChoiceListShowCriteria"
                class="clicker"
                (click)="onShowCriteriaClick(false)"
            >
                <img src="assets/images/down_V01.png" />
                {{ queryCriteriaData["dynamicQueryCriteriaHeading"] }}
            </span>
            <span
                *ngIf="!singleChoiceListShowCriteria"
                class="clicker"
                (click)="onShowCriteriaClick(true)"
            >
                <img src="assets/images/right_V01.png" />
                {{ queryCriteriaData["dynamicQueryCriteriaHeading"] }}
            </span>
        </span>
        <!-- END With close/open icon on the left, just the Heading. -->


        <!-- Filter, Clear, and Remove buttons/icons -->
        <span
            class="dynamic-query-top-right-button-box"
        >
<!--
The horizontal position of the top right button box - this is still not right.
        <span
            class="dynamic-query-top-right-button-box"
            [ngClass]="{
                'dynamic-query-list-button-box-extra-small': currentFont === '0',
                'dynamic-query-list-button-box-small': currentFont === '1',
                'dynamic-query-list-button-box-medium': currentFont === '2',
                'dynamic-query-list-button-box-large': currentFont === '3'
            }"
        >
-->



            <span class="dynamic-query-top-right-inner-button-box">
                <!-- Search (filter) List. Button  just the button)-->
                <!-- This is just the button, the Filter text input, etc, is farther below -->
                <span *ngIf="queryCriteriaData['dynamicQueryCriteriaSearchable']"
                      class="clicker"
                      title="{{ searchToolTip }}"
                      (click)="onSearchGlassClick()"
                >
                    <img
                        [ngClass]="{
                            'dynamic-query-list-button-icon-extra-small':
                                currentFont === '0',
                            'dynamic-query-list-button-icon-small':
                                currentFont === '1',
                            'dynamic-query-list-button-icon-medium':
                                currentFont === '2',
                            'dynamic-query-list-button-icon-large':
                                currentFont === '3'
                        }"
                        src="assets/images/search.png"
                        alt="Filter list"
                    />
                </span>
                <!-- END Search (filter) List. Button (just the button) -->

                <!-- Clear button at top right -->
                <span
                    *ngIf="haveInput && queryCriteriaData['dynamicQueryCriteriaClearButton']"
                    class="clicker"
                    (click)="onClearClick()"
                >
                    <img
                        [ngClass]="{
                            'dynamic-query-list-button-icon-extra-small':
                                currentFont === '0',
                            'dynamic-query-list-button-icon-small':
                                currentFont === '1',
                            'dynamic-query-list-button-icon-medium':
                                currentFont === '2',
                            'dynamic-query-list-button-icon-large':
                                currentFont === '3'
                        }"
                        src="assets/images/redClear.png"
                        alt="Clear checks"
                    />
                </span>
                <!-- END Clear button at top right -->

                <!-- Red X at the top right, that will remove this widget from the UI and remove any part of the query it may have provided -->
                <span
                    class="clicker"
                    (click)="onRemoveCriteriaClick()"
                >
                    <img class="pl-1"
                         [ngClass]="{
                            'dynamic-query-list-button-icon-extra-small':
                                currentFont === '0',
                            'dynamic-query-list-button-icon-small':
                                currentFont === '1',
                            'dynamic-query-list-button-icon-medium':
                                currentFont === '2',
                            'dynamic-query-list-button-icon-large':
                                currentFont === '3'
                        }"
                         src="assets/images/x_red.png"
                         alt="Remove this search criteria"
                    />
                </span>
                <!-- END Red X at the top right, that will remove this widget from the UI and remove any part of the query it may have provided -->

            </span>
        </span>
        <!-- END Filter, Clear, and Remove buttons/icons -->
    </div>
    <!-- END query panel heading -->


    <!-- -----  Search (filter) List text input (Launched.shown by Red magnifying glass)  ----- -->
    <div *ngIf="showListSearch" class="dynamic-query-list-search-box"
         [ngClass]="{
                    'font-extra-small': currentFont === '0',
                    'font-small': currentFont === '1',
                    'font-medium': currentFont === '2',
                    'font-large': currentFont === '3'
                }"
    >
        <span>
            <input
                type="text"
                class="dynamic-query-list-search-text-area dynamic-query-list-search-box-with-focus"
                placeholder="search"
                [(ngModel)]="listSearchInput"
                (blur)="onSearchTextOutFocus(0)"
                (focus)="onSearchTextFocus(0)"
                (ngModelChange)="onSearchChange($event)"
            />
        </span>
        <span class="dynamic-query-list-search-count">{{listSearchResultsCount}}</span>
    </div>
    <!-- ----- END Search (filter) List text input (Launched.shown by Red magnifying glass)  ----- -->


    <!-- ---------------------------------------------------------------- -->
    <div
        class="dynamic-query-vertical-expand-div"
        (resized)="onResized($event)"
        [ngClass]="{
            hide: !singleChoiceListShowCriteria
        }"
    >
        <div class="dynamic-query-list-scroller">
            <div id="single-choice-list-scroller">
                <div
                    *ngFor="
                        let item of itemList;
                        let i = index
                    "

                    [ngClass]="{
                     hide: !item['include'],
                'dynamic-query-list-line-extra-small': currentFont === '0',
                'dynamic-query-list-line-small': currentFont === '1',
                'dynamic-query-list-line-medium': currentFont === '2',
                'dynamic-query-list-line-large': currentFont === '3'
            }"

                >
                    <input
                        type="radio"
                        class="dynamic-query-list-checkbox"
                        name="dynamic-query-single-choice-radio-button"
                        [checked]="listRadioButtons[i]"
                        id="dynamic-query-single-choice-radio-button{{ i }}-{{sequenceNumber}}"
                        (click)="onCriteriaClicked(i)"
                    />
                    <label
                        [attr.for]="'dynamic-query-single-choice-radio-button' + i + '-' + sequenceNumber"
                        [ngClass]="{
                            'font-extra-small': currentFont === '0',
                            'font-small': currentFont === '1',
                            'font-medium': currentFont === '2',
                            'font-large': currentFont === '3'
                        }"
                    >
                        {{ item['value'] }}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
