@import '../../../../../../../app.component.scss';

th{
  cursor: default;
}
.series-header-tr {
  background-color: #dedddd;
  border: solid 1px #dedddd;
  height: 30px;
  font-weight: bold;
}

/* Center the table with the list of Series with a 5px margin.  */
.series-results-table {
  width: calc(100% - 10px);
  margin: 5px 0 5px 5px;

}

.series-table-dicom-button-column {
  width: 50px;
  text-align:center;
}

.thumbnail-th {
  width: 108px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.thumbnail-cine-th {
    @extend .thumbnail-th;
    width: 118px;
}


/* A little space for the Subject details table.
 We don't use "td" because all the odd TDs are DICOM data displays. */
.series-table-td {
  border: solid 1px #bbb;
  padding: 2px 16px 2px 8px;
}

th {
  padding: 2px 16px 2px 8px;
}

.series-data-button {
  /* T R B L */
  padding: 2px 7px 1px 7px;
  margin: 0 4px 0 0;
}

.series-third-party{
  width: 96px;
  text-align:center;
}

.series--image-count{
  width: 60px;
}

.series-viewers{
  padding-left: 4px;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;

}

.series-viewer{
  margin: 0px;
}
