@import 'src/app/app.component';
@import 'src/app/tools/query-section-module/query-section/query-section.component';
@import 'src/app/tools/query-section-module/dynamic-query-criteria/dynamic-query-criteria.component.scss';


.multi-list-input-and-or-radio-button {
    margin-right: 3px;
    margin-left: 8px;
}


.multi-list-checkbox {
    margin-right: 4px;
}

// FIXME this is a dup
/* Trying to clean this up for Chrome */
.multi-list-box-with-focus {
    outline: none;
}
