<div class="query-panel">
    <div class="query-panel-heading">



        <label *ngIf="haveInput" class="red-clear">
            <img class="clicker" src="../../../../../assets/images/redClear.png" alt="Clear" (click)="onClearClick()">
        </label>
        <label class="close-x-icon">
        <span class="clicker glyphicon glyphicon-remove  "
              (click)="onRemoveCriteriaClick()"
        ></span>
        </label>



        <label class="close-x-icon">
        <span class="clicker glyphicon glyphicon-remove  "
              (click)="onRemoveCriteriaClick()"
        ></span>
        </label>

        <!-- No close/open icon, just show th Heading. -->
        <span *ngIf="! queryCriteriaData['dynamicQueryCriteriaOpenCloseButton']">
            {{queryCriteriaData['dynamicQueryCriteriaHeading']}}
        </span>


        <span *ngIf="queryCriteriaData['dynamicQueryCriteriaOpenCloseButton']">
            <span *ngIf="multiChoiceListShowCriteria" class="clicker" (click)="onShowCriteriaClick(false)">
                <img src="../../../../../assets/images/down_V01.png">
                {{queryCriteriaData['dynamicQueryCriteriaHeading']}}
            </span>
            <span *ngIf="!multiChoiceListShowCriteria" class="clicker" (click)="onShowCriteriaClick(true)">
                <img src="../../../../../assets/images/right_V01.png">
                {{queryCriteriaData['dynamicQueryCriteriaHeading']}}
            </span>
        </span>

        <!-- And / Or  -->
        <span>
            <!-- This user input includes And/Or radio buttons -->
            <span *ngIf="queryCriteriaData['dynamicQueryCriteriaAndOrType'] === andOrTypes.AND_OR">
            &nbsp;
                <span *ngFor="let option of options; let i = index">
                    <input type="radio"
                           class="multi-list-input-and-or-radio-button"
                           name="large-text-input-and-or-radio-button-name{{sequenceNumber}}"
                           id="large-text-input-and-or-radio-button-id-{{i}}-{{sequenceNumber}}"
                           (change)="onMultiListAndOrRadioClick(i)"
                           [checked]="cBox[i]"
                    >
                    <label [attr.for]="'large-text-input-and-or-radio-button-id-'+i+'-'+sequenceNumber"
                           class="criteria-text"
                    >
                        {{option}}
                    </label>
                </span>
            </span>
            <!--  End of criteriaLargeTextInputAndOrType === andOrTypes.andOr  -->
            <!-- If server says: This is an "And"  -->
            <span *ngIf="queryCriteriaData['dynamicQueryCriteriaAndOrType'] === andOrTypes.ONLY_AND">
                &nbsp;&nbsp;&nbsp;(And)
            </span>
            <!-- If server says: This is an "Or"  -->
            <span *ngIf="queryCriteriaData['dynamicQueryCriteriaAndOrType'] === andOrTypes.ONLY_OR">
                &nbsp;&nbsp;&nbsp;(Or)
            </span>
            <!-- If server says: Don't display an And/Or  -->
            <!--
                <span *ngIf="criteriaLargeTextInputAndOrType === andOrTypes.none">
                    Nothing
                </span>
                -->
        </span>
        <!-- Search (filter) List. -->
        <label class="dynamic-criteria-list-search"
               [ngClass]="{
                    'dynamic-criteria-list-search-with-clear': haveInput
                }"

               (click)="onSearchGlassClick()"
        >
            <img
                class="clicker"
                src="assets/images/search.png"
                alt="Search collections"
            >
        </label>
        <!-- ---------------------------------------------------------------- -->
        <!--

                <div *ngFor="let item  of queryCriteriaData['dynamicQueryCriteriaDataArray']; let i = index">
                    [{{i}}]: {{item}}
                </div>
        -->

    </div>

    <!-- -----  Criteria list search input (Red magnifying glass)  ----- -->
    <div *ngIf="showListSearch" class="list-search-box">

        <input type="text" class="list-search-text-area multi-list-box-with-focus" id="collectionsSearchText" placeholder="search"
               [(ngModel)]="listSearchInput"
               (blur)="onSearchTextOutFocus(0)"
               (focus)="onSearchTextFocus(0)"
               (ngModelChange)="onSearchChange($event)">
    </div>
    <!-- -----  End Search input  ----- -->


    <!-- ---------------------------------------------------------------- -->
    <div class="list-scroller-div"
         (resized)="onResized($event)"

         [ngClass]="{
           'hide': ! multiChoiceListShowCriteria
       }"
    >

        <div class="list-scroller">

            <div class="list-scroller-content" id="collections">
                <div *ngFor="let item of queryCriteriaData['dynamicQueryCriteriaDataArray']; let i = index"
                     class="list-panel-radio-button"

                >
                    <input type="checkbox"
                           class="multi-list-checkbox"
                           id="multi-choice-checkbox{{i}}"
                           [(ngModel)]="listCheckboxes[i]"
                           (click)="onCriteriaClicked( i)"
                    >

                    <label [attr.for]="'multi-choice-checkbox'+i"
                           class="criteria-text"
                    >
                        {{item}}
                    </label>
                </div>
            </div>

        </div>
    </div>


</div>
