<div  *ngIf="roleIsGood"
      class="edit-collection-description-tool">

    <nbia-query-section
        [currentTool]="consts.TOOL_EDIT_COLLECTION_DESCRIPTIONS"

    ></nbia-query-section>

    <div class="container data-section">

        <div class="row edit-collection-description-edit">
            <angular-editor
                [(ngModel)]="htmlContent"
                [config]="editorConfig">
            </angular-editor>
        </div>

        <div  class="row edit-collection-description-edit">
            <div>
                <label
                    class="label label-primary"
                    for="edit-collection-description-html-text"
                >HTML:</label>
            </div>

            <textarea
                class="collection-description-div-html"
                placeholder="Enter HTML here..."
                id="edit-collection-description-html-text"
                [(ngModel)]="htmlContent"
            ></textarea>

        </div>

        <!--  Save button  -->
        <div class="row ">
            <button
                [ngClass]="{
                     'disabled': this.textTrailer === this.htmlContent,
                     'nbia-button-disabled': this.textTrailer === this.htmlContent
                 }"

                (click)="onSave()"
                class="btn nbia-button edit-collection-button"
            >
                Save
            </button>
        </div>

    </div>
</div>


<h4 *ngIf="! roleIsGood && ( userRoles !== undefined)">
    <p>User does not have authorization required for "<b>Edit Collection Description</b>"</p>
    <p>Users role(s): <b>{{userRoles}}</b></p>
    Required role: <b>NCIA.MANAGE_COLLECTION_DESCRIPTION</b>
</h4>
