// ----------------------------------------------------------------------------------------
// ----------        "Edit Collection Descriptions" and select License         ------------
// ----------------------------------------------------------------------------------------

.collection-description-div-html {
    width: 100%;
    min-height: 100px;
    border: solid #ddd 1px;
    resize: vertical;
}

.edit-collection-description-tool {
    /* keep the Query section and the Display section side by side.  */
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.input-section {
    width: 100%;
}

.edit-collection-description-edit {
    margin-bottom: 8px;
}

.lic-and-save-div {
    height: 400px;
}
