<!---------------------------------------------------------------------------------------->
<!----------        "Edit Collection Descriptions" and select License         ------------>
<!---------------------------------------------------------------------------------------->

<!-----  Left side search criteria.  Only gets "Collection"  ----->
<div *ngIf="roleIsGood"
     class="edit-collection-description-tool">
    <nbia-query-section
        [currentTool]="consts.TOOL_EDIT_COLLECTION_DESCRIPTIONS"
    ></nbia-query-section>

    <!-- Right side, user input section -->
    <div class="container-fluid input-section">
        <!-- Third party WYSIWYG HTM text editor  https://www.npmjs.com/package/@kolkov/angular-editor -->
        <div class="row edit-collection-description-edit">
            <angular-editor
                [(ngModel)]="htmlContent"
                [config]="editorConfig"
                [ngClass]="{
                    'font-extra-small': currentFont === '0',
                    'font-small': currentFont === '1',
                    'font-medium': currentFont === '2',
                    'font-large': currentFont === '3'
                }"
            >
            </angular-editor>
        </div>

        <!-- Plain text version showing HTML tags -->
        <div class="row edit-collection-description-edit">
            <div>
                <label
                    class="label label-primary"
                    [ngClass]="{
                        'heading-font-extra-small': currentFont === '0',
                        'heading-font-small': currentFont === '1',
                        'heading-font-medium': currentFont === '2',
                        'heading-font-large': currentFont === '3'
                    }"
                    for="edit-collection-description-html-text"
                >HTML:</label
                >
            </div>

            <!-- This plain text editor is bound to the WYSIWYG editor above (very cool) -->
            <textarea
                class="collection-description-div-html"
                [ngClass]="{
                    'font-extra-small': currentFont === '0',
                    'font-small': currentFont === '1',
                    'font-medium': currentFont === '2',
                    'font-large': currentFont === '3'
                }"
                placeholder="Enter HTML here..."
                id="edit-collection-description-html-text"
                [(ngModel)]="htmlContent"
            ></textarea>
        </div>



            <!--  Save button  -->
            <span>
                <button
                    class="btn nbia-button ml-2"
                    [ngClass]="{
                        disabled:
                            textTrailer === htmlContent &&
                            currentLicenseIndexTrailer === currentLicenseIndex,
                        'nbia-button-disabled':
                            textTrailer === htmlContent &&
                            currentLicenseIndexTrailer === currentLicenseIndex
                    }"
                    (click)="onSave()"
                >
                    Save
                </button>
            </span>
        </div>
    </div>

<h4 *ngIf="!roleIsGood && userRoles !== undefined">
    <p>
        User does not have authorization required for "<b>Edit Collection Description</b>"
    </p>
    <p>
        Users role(s): <b>{{ userRoles }}</b>
    </p>
    Required role: <b>NCIA.MANAGE_COLLECTION_DESCRIPTION</b>
</h4>
