$editCollectionDescriptionMenuWidth: 400px;

.collection-description-text-editor {
    margin: 10px;

}

.collection-description-div-html {
    width: 100%;
    min-height: 100px;
    border: solid #ddd 1px;
}

.collection-description-div {
    margin: 10px;
}

.edit-collection-description-dropdown-menu {
    width: $editCollectionDescriptionMenuWidth;
    margin: 10px;
    padding-top: 0;
}

.edit-collection-dropdown-button {
    width: $editCollectionDescriptionMenuWidth;
}

.edit-collection-button {
    margin-left: 10px;
}
