.dark {
    background: #f4f4f4;
}

.thead-td {
    background-color: #dedddd;
    border: solid 1px #dedddd;
    height: 50px;
    font-weight: bold;
}


.thead-tr {
    border: none;
}


td {
    border: solid 1px #e7e7e7;
    padding: 8px;
}

th {
    padding: 8px;
}

.search-results-table{
    width: 100%;
}

.view-button{
    padding: 4px 6px 4px 6px;
}
