<div class="query-panel">
    <div class="query-panel-heading">
        <label *ngIf="criteriaSmallTextInputText.length > 0" class="red-clear">
            <img class="clicker" src="../../../../../assets/images/redClear.png" alt="Clear" (click)="onClearClick()">
        </label>
        <label class="close-x-icon">
            <span class="clicker glyphicon glyphicon-remove  "
                  (click)="onRemoveCriteriaClick()"
            ></span>
        </label>
        <!-- No close/open icon, just show th Heading. -->
        <span *ngIf="! queryCriteriaData['dynamicQueryCriteriaOpenCloseButton']">
            {{queryCriteriaData['dynamicQueryCriteriaHeading']}}
        </span>
        <!-- Show close/open icon to the left of the Heading. -->
        <span *ngIf="queryCriteriaData['dynamicQueryCriteriaOpenCloseButton']">
            <span *ngIf="criteriaSmallTextInputShowCriteria" class="clicker" (click)="onShowCriteriaClick(false)">
                <img src="../../../../../assets/images/down_V01.png">
                    {{queryCriteriaData['dynamicQueryCriteriaHeading']}}
            </span>
            <span *ngIf="!criteriaSmallTextInputShowCriteria" class="clicker" (click)="onShowCriteriaClick(true)">
                <img src="../../../../../assets/images/right_V01.png">
                    {{queryCriteriaData['dynamicQueryCriteriaHeading']}}
            </span>
        </span>
    </div>
    <div class="small-text-input-div"
         [ngClass]="{
        'hide': !criteriaSmallTextInputShowCriteria
        }"
    >
        <span class="small-text-input-subheading">{{queryCriteriaData['dynamicQueryCriteriaSubheading']}}</span>
        <input [(ngModel)]="criteriaSmallTextInputText" class="small-text-input-text">
        <button class="btn nbia-button small-text-input-apply-button"
                type="button"
                (click)="onApplyCriteriaClick()">
            {{queryCriteriaData['dynamicQueryCriteriaApplyButtonText']}}
        </button>
    </div>
</div>
