@import 'src/app/app.component';
@import 'src/app/tools/query-section-module/query-section/query-section.component';


.small-text-input-div {
    height: 100px;
}

.small-text-input-text {
    border: solid 1px $criteriaQueryBorderColor;
    border-radius: 4px;
    margin-left: 18px;
    margin-right: 18px;
    width: calc(100% - 40px);
    // height: calc(100% - 40px);
    height: calc(100% - 70px);
    overflow-y: scroll;
    resize: none;
}

.small-text-input-apply-button {
    float: right;
    margin-right: 22px;
    margin-top: 8px;
}

.small-text-input-subheading {
    margin-left: 18px;
}


.query-panel-long {
    padding-bottom: 30px;
}


.close-x-icon {
    position: absolute;
    padding-top: 2px;
    left: $left-section-width - 27px;
}

.small-text-input-and-or {
    background-color: #2aabd2;
    color: #985f0d;
}

.small-text-input-and-or-radio-button {
    margin-right: 3px;
    margin-left: 8px;
}
