<div class="query-panel top-border ">
    <div class="query-panel-heading" style="background-color: #fff51a">
        <label *ngIf="criteriaSmallTextInputText.length > 0" class="red-clear">
            <img class="clicker" src="assets/images/redClear.png" alt="Clear" (click)="onClearClick()">
        </label>
        <!-- Red X at the top right, that will remove this widget from the UI and remove any part of the query it may have provided -->
        <span
            class="clicker dynamic-query-top-right-inner-button-box mr-1"
            (click)="onRemoveCriteriaClick()"
        >
            <img class="pl-1"
                [ngClass]="{
                    'dynamic-query-list-button-icon-extra-small':
                        currentFont === '0',
                    'dynamic-query-list-button-icon-small':
                        currentFont === '1',
                    'dynamic-query-list-button-icon-medium':
                        currentFont === '2',
                    'dynamic-query-list-button-icon-large':
                        currentFont === '3'
                }"
                    src="assets/images/x_red.png"
                    alt="Remove this search criteria"
            />
        </span>

        <!-- No close/open icon, just show th Heading. -->
        <span *ngIf="! queryCriteriaData['dynamicQueryCriteriaOpenCloseButton']">
            {{queryCriteriaData['dynamicQueryCriteriaHeading']}}
        </span>


        <!-- Show close/open icon to the left of the Heading. -->
        <span *ngIf="queryCriteriaData['dynamicQueryCriteriaOpenCloseButton']">
            <span *ngIf="criteriaSmallTextInputShowCriteria" class="clicker" (click)="onShowCriteriaClick(false)">
                <img src="assets/images/down_V01.png">
                {{queryCriteriaData['dynamicQueryCriteriaHeading']}}
            </span>
            <span *ngIf="!criteriaSmallTextInputShowCriteria" class="clicker" (click)="onShowCriteriaClick(true)">
                <img src="assets/images/right_V01.png">
                {{queryCriteriaData['dynamicQueryCriteriaHeading']}}
            </span>
        </span>
    </div>

    <div class="small-text-input-div"
         [ngClass]="{
        'hide': !criteriaSmallTextInputShowCriteria
        }"
    >
        <!-- Subheading -->
        <span class="dynamic-query-subheading">{{queryCriteriaData['dynamicQueryCriteriaSubHeading']}}</span>

        <!-- Text input -->
        <input [(ngModel)]="criteriaSmallTextInputText" class="dynamic-query-small-text-input">

        <!-- Apply button -->
        <button class="btn nbia-button dynamic-query-apply-button mb-4"
                type="button"
                (click)="onApplyCriteriaClick()">
            {{queryCriteriaData['dynamicQueryCriteriaApplyText']}}
        </button>
    </div>
</div>
