<div *ngIf="currentTool===consts.TOOL_PERFORM_QC ||
            currentTool===consts.TOOL_APPROVE_DELETIONS"
     class="query-panel"
>
    <!-- ----------  Heading & hide/show buttons  ---------- -->
    <div class="query-panel-heading">

        <!-- Hide the Confirmed options list.  Still show the heading (with this img to its left) -->
        <span
            *ngIf="showCriteriaList"
            class="clicker"
            (click)="onShowCriteriaListClick(false)"
        >
            <img src="assets/images/down_V01.png">
            Confirmed as Complete
        </span>

        <!-- Show the Confirmed options list -->
        <span
            *ngIf="!showCriteriaList"
            class="clicker"
            (click)="onShowCriteriaListClick(true)"
        >
            <img src="assets/images/right_V01.png">
            Confirmed as Complete&nbsp;&nbsp;<small>({{options[currentOption]}})</small>
        </span>

    </div>

    <div
        [ngClass]="{
           'hide': ! showCriteriaList
       }"
    >
        <span *ngFor="let option of options; let i = index"
             class="query-panel-radio-button">
            <input type="radio"
                   class="radio-button"
                   name="qc-confirmed-complete-radio"
                   id="qc-confirmed-complete-radio{{i}}"
                   (change)="onClick(i)"
                   [checked]="cBox[i]"
            >

            <label [attr.for]="'qc-confirmed-complete-radio'+i"
                   class="criteria-text"
            >
                {{option}}
            </label>
        </span>
    </div>

</div>
