// ----------------------------------------------------------------------------------------
// ----------             New Status for Perform Quality Control                  ---------
// ----------------------------------------------------------------------------------------
// ----------       @TODO This is very similar to QcStatusEditComponent           ---------
//  ---------             "Perform Quality Control" cine mode.                    ---------
//  ---------             Can these be combined into one component?               ---------
// ----------------------------------------------------------------------------------------

@import '../../../../app.component';
@import '../../../../data-table';

.released-date{
    padding: 0;
    height: 26px;
}

.qc-bulk-outer-div{
    border: solid $data-table-body-border-color;
    margin-top: 10px;
}

.qc-bulk-heading{
    color: $heading-text-color;
    background-color: #fff;
    margin: 6px 0 0 6px;
}

.bulk-qc-status-table-frame{
    padding: 8px;
}

.qc-bulk-radios{
    border: solid $data-table-body-border-color 1px;
    padding: 6px;
}

.qc-bulk-complete-radios{
    border: solid $data-table-body-border-color 1px;
    padding: 6px 18px 6px 18px;
}

.qc-bulk-radio-label{
    padding-left: 4px;
}

.qc-bulk-batch-number-spinner{
    border: solid 1px #686868;
    border-radius: 3px;
    position: relative;
    top: 0;
    padding: 0 4px 0 4px;
    margin: 10px 2px 10px 4px;
    width: 48px;
    height: 28px;
}

.log-text{
    margin-top: 14px;
    border: solid $data-table-body-border-color 1px;
    width: 100%;
}

.qc-bulk-update-button{
    margin: 6px 12px 0 0;
}

.red-text{
    color: #f00;  //@FIXME
}
