<!------------------------------------------------------------------------------------------>
<!------------             New Status for Perform Quality Control                  --------->
<!------------------------------------------------------------------------------------------>
<!------------       @TODO This is very similar to QcStatusEditComponent           --------->
<!-- ---------             "Perform Quality Control" cine mode.                    --------->
<!-- ---------             Can these be combined into one component?               --------->
<!------------------------------------------------------------------------------------------>

<div
    class="qc-bulk-outer-div"
    [ngClass]="{
        'font-extra-small': currentFont === '0',
        'font-small': currentFont === '1',
        'font-medium': currentFont === '2',
        'font-large': currentFont === '3'
    }"
>
    <div
        class="qc-bulk-heading"
        [ngClass]="{
            'font-extra-small': currentFont === '0',
            'font-small': currentFont === '1',
            'font-medium': currentFont === '2',
            'font-large': currentFont === '3'
        }"
    >
        <span
            [ngClass]="{
                'heading-font-extra-small': currentFont === '0',
                'heading-font-small': currentFont === '1',
                'heading-font-medium': currentFont === '2',
                'heading-font-large': currentFont === '3'
            }"
        >New Status</span>
    </div>
    <div class="bulk-qc-status-table-frame">
        <div class="container-fluid">
            <div class="row">
                <div
                    *ngFor="let criteria of qcStatuses; let n = index"
                    class="qc-bulk-radios"
                >
                    <input
                        class="clicker"
                        type="radio"
                        id="radio-qc-bulk-status{{ n }}"
                        name="qcBulkRadio"
                        (click)="onQcBulkStatusClick(n)"
                    />
                    <label
                        [attr.for]="'radio-qc-bulk-status' + n"
                        class="qc-bulk-radio-label clicker"
                    >
                        {{ criteria }}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="bulk-qc-status-table-frame">
        <div class="container-fluid">
            <div class="row">
                <!-- ----- Batch number  ----- -->
                <div class="qc-bulk-radios mr-1">
                    <input
                        type="checkbox"
                        class="clicker"
                        id="qc-bulk-batch-checkbox"
                        [(ngModel)]="useBatchNumber"
                    />
                    <label
                        class="qc-bulk-radio-label clicker"
                        for="qc-bulk-batch-checkbox"
                    >
                        Batch Number
                    </label>
                    <input
                        type="number"
                        class="qc-bulk-batch-number-spinner"
                        min="1"
                        [ngClass]="{
                            'disabled-spinner': !useBatchNumber
                        }"
                        [disabled]="!useBatchNumber"
                        [(ngModel)]="batchNumber"
                    />
                </div>
                <!-- ----- Confirmed as Complete  ----- -->
                <div class="qc-bulk-complete-radios mr-1">
                    Confirmed as Complete<br/>
                    <input
                        type="radio"
                        class="clicker"
                        id="radio-qc-bulk-complete-yes"
                        name="qcBulkRadioComplete"
                        (click)="onQcBulkStatusCompleteClick(YES)"
                    />
                    <label
                        [attr.for]="'radio-qc-bulk-complete-yes'"
                        class="qc-bulk-radio-label clicker"
                    >
                        Yes
                    </label>
                    &nbsp;&nbsp;
                    <input
                        type="radio"
                        class="clicker"
                        id="radio-qc-bulk-complete-no"
                        name="qcBulkRadioComplete"
                        (click)="onQcBulkStatusCompleteClick(NO)"
                    />
                    <label
                        [attr.for]="'radio-qc-bulk-complete-no'"
                        class="qc-bulk-radio-label clicker"
                    >
                        No
                    </label>
                    &nbsp;&nbsp;
                    <input
                        type="radio"
                        class="clicker"
                        id="radio-qc-bulk-complete-no-change"
                        name="qcBulkRadioComplete"
                        [checked]="true"
                        (click)="onQcBulkStatusCompleteClick(NO_CHANGE)"
                    />
                    <label
                        [attr.for]="'radio-qc-bulk-complete-no-change'"
                        class="qc-bulk-radio-label clicker"
                    >
                        No Change
                    </label>
                </div>


                <!-- ----- Released  ----- -->
                <div class="qc-bulk-complete-radios">
                    <span class="mr-2">Released</span>

                    <!--  Calendar  -->
                    <span *ngIf="showReleasedDateCalendar"
                          class="released-date"
                    >
                        <input class="m-0 w-50"
                               [ngClass]="{
                                    'red-text': badReleasedDate
                                }"

                               type="text"
                               value="The date here"
                               [(ngModel)]="releaseDate"
                               (ngModelChange)="calendarTextInputChange()"
                        >

                        <img [ngStyle]="{height: '20px'}"
                             class="cal-button-image ml-1 mb-1"
                             src="assets/images/calendar_icon_2.png"
                             alt="Calendar button"
                             (click)="releasedCalendarIconClick($event)">
                    </span>
                    <br/>

                    <input
                        type="radio"
                        class="clicker"
                        id="radio-qc-bulk-released-yes"
                        name="qcBulkRadioReleased"
                        (click)="onQcBulkStatusReleasedClick(YES)"
                    />
                    <label
                        [attr.for]="'radio-qc-bulk-released-yes'"
                        class="qc-bulk-radio-label clicker"
                    >
                        Yes
                    </label>
                    &nbsp;&nbsp;
                    <input
                        type="radio"
                        class="clicker"
                        id="radio-qc-bulk-released-no"
                        name="qcBulkRadioReleased"
                        (click)="onQcBulkStatusReleasedClick(NO)"
                    />
                    <label
                        [attr.for]="'radio-qc-bulk-released-no'"
                        class="qc-bulk-radio-label clicker"
                    >
                        No
                    </label>
                    &nbsp;&nbsp;
                    <input
                        type="radio"
                        class="clicker"
                        id="radio-qc-bulk-released-no-change"
                        name="qcBulkRadioReleased"
                        [checked]="true"
                        (click)="onQcBulkStatusReleasedClick(NO_CHANGE)"
                    />
                    <label
                        [attr.for]="'radio-qc-bulk-released-no-change'"
                        class="qc-bulk-radio-label clicker"
                    >
                        No Change
                    </label>
                    <nbia-release-date-calendar
                        *ngIf="showReleaseCalendar"
                    >
                    </nbia-release-date-calendar>

                </div>
                <!-- ----- END Released  ----- -->

                <!-- ----- Update Site ----- -->
                <span class="qc-bulk-complete-radios ml-1" style="display: inline-block;"

                >
<!--
searchResultsSelectedCount:{{searchResultsSelectedCount}}  showUpdateCollectionSite:{{showUpdateCollectionSite}}
-->
                    <!-- Checkbox -->
                      <input
                          class="mt-3" type="checkbox" id="updateSiteCheckbox"
                          [(ngModel)]="showUpdateCollectionSite"
                          (click)="onShowUpdateCollectionSiteClick()"
                          [ngClass]="{
                                'nbia-button-disabled': searchResultsSelectedCount < 1
                                }"
                          [disabled]="searchResultsSelectedCount < 1"
                      >
                    <!-- END Checkbox -->

                    <!-- Update Site text -->
                       <label
                           class="ml-1"
                           [ngClass]="{
                                'nbia-button-disabled':  searchResultsSelectedCount < 1
                                }"
                           for="updateSiteCheckbox"
                       >Update Site</label>
                    <!-- END Update Site text -->

                    <!-- ----- Site Dropdown ----- -->
                    <span *ngIf="showUpdateCollectionSite && ( searchResultsSelectedCount > 0 )">
                        <select class="custom-select  show-tick"
                                id="newSite"
                                name="newSite"
                                [(ngModel)]="newSite"
                        >

                           <option *ngFor="let i of siteDropdownArray"
                                   (click)="onSiteOptionClick( i )"
                                   selected value=i
                                   value = {{i}}
                           >
                               {{i}}
                           </option>
                       </select>
                    </span>
                    <!-- ----- END Site Dropdown ----- -->

                </span>
                <!-- ----- END Update Site ----- -->

                <!-- ----- Update Description URI ----- -->
                <span class="qc-bulk-complete-radios ml-1" style="display: inline-block;">
                    <span>
                    <!-- Checkbox -->
                      <input
                          class="mt-3" type="checkbox" id="updateDescriptionUri"
                          [(ngModel)]="showUpdateDescriptionUri"
                      >
                        <!-- END Checkbox -->
                         <label
                             class="ml-1"
                             for="updateDescriptionUri"
                         >Update Desc. URI
                         </label>

                </span>

                    <div *ngIf="showUpdateDescriptionUri">
                        <input
                            [(ngModel)]="descriptionUri"
                            type="text"
                        >
                    </div>
                </span>
                <!-- ----- END Update Description URI ----- -->

            </div> <!-- ----- END row ----- -->
        </div>

        <table width="100%">
            <tr>
                <td>
                    <textarea
                        class="log-text"
                        [(ngModel)]="logText"
                        placeholder="Enter change log here..."
                    ></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div
                        [ngClass]="{
                            'font-extra-small': currentFont === '0',
                            'font-small': currentFont === '1',
                            'font-medium': currentFont === '2',
                            'font-large': currentFont === '3'
                        }"
                    >
                        <button
                            class="btn nbia-button qc-bulk-update-button"
                            [ngClass]="{
                                'nbia-button-disabled':(
                                     searchResultsSelectedCount < 1 ||
                                     (
                                         visible < 0 &&
                                         (! useBatchNumber ) &&
                                         logText.length < 1  &&
                                         (! showUpdateCollectionSite) &&
                                         (! showUpdateDescriptionUri) &&
                                         ( isReleased === NO_CHANGE) &&
                                         ( isComplete === NO_CHANGE)
                                     )
                                 ),
                                'font-extra-small': currentFont === '0',
                                'font-small': currentFont === '1',
                                'font-medium': currentFont === '2',
                                'font-large': currentFont === '3'
                            }"
                            [disabled]="
                                (
                                     searchResultsSelectedCount < 1 ||
                                     (
                                         visible < 0 &&
                                         (! useBatchNumber ) &&
                                         logText.length < 1  &&
                                         ( isReleased === NO_CHANGE) &&
                                         (! showUpdateCollectionSite) &&
                                         (! showUpdateDescriptionUri) &&
                                         ( isComplete === NO_CHANGE)
                                     )
                                 )
                            "
                            type="button"
                            (click)="onQcBulkUpdateClick()"
                        >
                            Update
                        </button>

                       <button
                            class="btn nbia-button qc-bulk-update-button"
                            [ngClass]="{
                                'nbia-button-disabled':
                                    searchResultsSelectedCount < 1,
                                'font-extra-small': currentFont === '0',
                                'font-small': currentFont === '1',
                                'font-medium': currentFont === '2',
                                'font-large': currentFont === '3'
                            }"
                            [disabled]="searchResultsSelectedCount < 1"
                            type="button"
                            (click)="onSeriesReportClick()"
                        >
                            Series Report
                        </button>

                        <button
                            class="btn nbia-button qc-bulk-update-button"
                            [ngClass]="{
                                'nbia-button-disabled':
                                    searchResultsSelectedCount < 1,
                                'font-extra-small': currentFont === '0',
                                'font-small': currentFont === '1',
                                'font-medium': currentFont === '2',
                                'font-large': currentFont === '3'
                            }"
                            [disabled]="searchResultsSelectedCount < 1"
                            type="button"
                            (click)="onQcStatusHistoryReportClick()"
                        >
                            QC Status History Report
                        </button>
                        <button
                            class="btn nbia-button qc-bulk-update-button"
                            [ngClass]="{
                                'nbia-button-disabled':
                                    searchResultsSelectedCount < 1,
                                'font-extra-small': currentFont === '0',
                                'font-small': currentFont === '1',
                                'font-medium': currentFont === '2',
                                'font-large': currentFont === '3'
                            }"
                            [disabled]="searchResultsSelectedCount < 1"
                            type="button"
                            (click)="onDownloadClick()"
                        >
                            Download
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
