<!-- ----------  This is the tooltip like display which is used to show the descriptions when the  ---------- -->
 <!-- ---------  user mouses over a Collection or Image Modality in the left panel.                ---------- -->

<span
    [ngStyle]="{'top':(toolTipY + 10) + 'px'}"
    class="toolTip step"

    [ngClass]="{
        'show': showToolTip
    }"
>

    <div *ngIf="properties.COLLECTION_DESCRIPTION_TOOLTIP_TYPE === 1">
        <b>{{toolTipHeading}}</b>
        <span
                class="close-x clicker"
                (click)="onToolTopCloseClick()"
        >X</span>
    </div>
    <span [innerHTML]=toolTipText ></span>

 </span>

