@import '../../../app.component.scss';

.tool-heading {
    padding: 0 0 10px 10px;
    font-size: $toolHeadingFontSize;
}

.current-tool-text {
    font-size: 32px;
}

.tool-help-clicker {
    color: $close-x-red;
    float: right;
    margin: 10px 10px 0 0;
}
