@import '../../../app.component.scss';

.tool-heading{
    padding: 0 0 10px 10px;
    font-size: $toolHeadingFontSize;
}

.current-tool-text{
    font-size: 32px;
}

.tool-help-clicker{
    color: $close-x-red;
    margin-left: 5px;
}
