<!-- ----------  Top right button(s) on the Cart page.  ---------- -->

<div class="btn-group cart-button-div" role="group">
    <!-- -----  Download button top right above cart contents list. For "Downloader" ----- -->
    <button
        type="button"
        class="btn btn-default nbia-button exportSpreadsheetButton"
        [ngClass]="{
                    'nbia-button-disabled': allDisabled
                }"
        (click)="onDownloadCsvClick()"
    >
        <img class="application-menu-icon" src="assets/images/TOOLS/download_white.png">
        <span>
            &nbsp;Export spreadsheet
        </span>
    </button>

    <button
        type="button"
        class="btn btn-default nbia-button"
        [ngClass]="{
                    'nbia-button-disabled': allDisabled
                }"
        (click)="onDownloadClick()"
    >
        <img class="application-menu-icon" src="assets/images/TOOLS/download_white.png">

        <span>
            &nbsp;Download
        </span>
    </button>

</div>
