<span
        class="card-nbia-default text-search-explanation alert-box-div alert-box-shadow"
        [ngStyle]="{'top':(posY - 230) + 'px'}"
>
    <div class="card-nbia-header-default p-2">
        <div >Patient Age Range
            <span class=" close-x clicker unselectable" (click)="onSubjectsAgeExplanationCloseClick()">
                X
            </span>
        </div>
    </div>

    <div class="subjects-tab-explanation-text bg-white p-2">
        Some datasets encode Patient Age information in the image metadata.
        This filter allows you to refine search results based on the range of slected patient age range when these metadata are included by the data submitter (e.g. "patient age range").
        See <a href="https://wiki.cancerimagingarchive.net/display/NBIA/Cancer+Imaging+Archive+User%27s+Guide#CancerImagingArchiveUser'sGuide-PerformingaSimpleSearch"  target="_BLANK">Performing a Simple Search</a> for more information.
    </div>
</span>

