<span
        class="card-nbia-default text-search-explanation alert-box-div alert-box-shadow"
        [ngStyle]="{'top':(posY - 230) + 'px'}"
>
    <div class="card-nbia-header-default p-2">
        <div >Patient Age Range
            <span class=" close-x clicker unselectable" (click)="onSubjectsAgeExplanationCloseClick()">
                X
            </span>
        </div>
    </div>

    <div class="subjects-tab-explanation-text bg-white p-2">
        Some datasets encode Patient Age information in the image metadata.
        This filter allows you to refine search results based on the range of selected patient age range when these metadata are included by the data submitter (e.g. "patient age range").
        The max inclusive age is 89 years old. The selection of 90 years old is considered as "90 and older".
        See <a href="https://wiki.cancerimagingarchive.net/display/NBIA/TCIA+Radiology+Portal+User%27s+Guide#TCIARadiologyPortalUser'sGuide-PerformingaSimpleSearch"  target="_BLANK">Performing a Simple Search</a> for more information.
    </div>
</span>

