@import '../../../app.component';
@import '../../../../app/data-table';
@import '../../../popup';

$cineModeImageWidth: 512px;
$cineModeImageHeight: 512px;
$cineModeMinWidth: 350px; // A good width for when we just have the loading progress bar.
$cineModeMinWidthWithDicom: 1400px;
$cineModePadding: 6px;
$cineModeTop: 40px;
$cineModeLoadingMessageTop: 250px;


.cine-mode-div {
    z-index: 4;
    position: absolute;
    top: $cineModeTop;
    left: calc(50% - #{($cineModeImageWidth+$cineModePadding) / 2 });
    padding: 0;
    margin: 0;
}

.cine-mode-loading {
    min-width: $cineModeMinWidth;
    left: calc(50% - #{$cineModeMinWidth / 2 });
    top: $cineModeLoadingMessageTop;
}

.cine-mode-div-with-dicom {
    z-index: 4;
    position: absolute;
    top: $cineModeTop;
    left: calc(50% - #{($cineModeMinWidthWithDicom+$cineModePadding) / 2 });
    width: $cineModeMinWidthWithDicom+$cineModePadding;
    padding: 0;
    margin: 0;
}

.cine-mode-progress-bar-data-loading-text {
    font-size: 12pt;
}

.image {
    height: $cineModeImageHeight;
    width: $cineModeImageWidth;
    padding: 0;
    margin: 0;
}

.cine-mode-content {
    padding: $cineModePadding;
}

.cine-mode-scroller {
    width: $cineModeImageWidth;
}

.cine-mode-image-number-input {
    width: 40px;
}

.cine-mode-frame-rate-number {
    margin: 0;
    padding-bottom: 0;
    height: 14px;
    width: 40px;
    font-size: 16px;
    border-style: hidden;
}

.cine-mode-frame-rate-number-text {
    font-size: 12px;
    padding: 0;
    margin: 0;
    height: 12px;
    width: 40px;
}

.cine-mode-frame-rate-table {
    float: right;
    border: solid 1px #ccc;
    padding: 2px 4px 2px 4px;
}


.image-count-display {
    font-size: 10pt;
}

.show-dicom-checkbox {
    font-size: 12pt;
    float: right;
}


.cine-mode-buttons {
    margin: 6px 0 0 0;
}

.cine-mode-button-icon {
    font-size: 20px;
    padding: 0;
    margin: 0;

}

.cine-mode-button-bar {
    margin-left: 4px;
    margin-bottom: 20px;
    width: $cineModeImageWidth+$cineModePadding - 40px;
}


.play-back-image {
    height: 25px;
    padding: 3px 0 3px 0;
}


.cine-mode-dicom-tr {
    height: 30px;
}


.dicom-scroll-area {
    height: $cineModeImageHeight;
    overflow-y: auto;
}

.dicom-data-table {
    width: 100%;
}

.dicom-data-column {
    width: calc(75% - 140px);
}

.dicom-element-column {
    width: 140px;
}

.dicom-name-column {
    width: 25%;
}

.section-heading {
    color: $heading-text-color;
    padding: 7px 0 0 0;
    font: 16px arial, sans-serif;
}

.section-div {
    border: solid 1px $data-table-header-border-color;
    margin: 4px;
    padding: 4px;
}

