<!--The parent div/ bootstrap panel-->
<div *ngIf="showCineModeViewer" ngDraggable [handle]="PanelHandle"
     class="panel panel-info  alert-box-div alert-box-shadow unselectable"

     [ngClass]="{
            'cine-mode-div-with-dicom':showDicomData &&  ( progress > 99 ),
            'cine-mode-div':(! showDicomData ) || ( progress <= 99 ),
            'cine-panel-heading-moving': handleMoving,
            'cine-mode-loading-00': loadingX
        }"

     [ngDraggable]="true"
     (started)="onDragBegin($event)"
     (stopped)="onDragEnd($event)"
     (movingOffset)="onMoving($event)"
     (endOffset)="onMoveEnd($event)"

>

    <!-- The panel heading, this is the draggable part -->
    <div #PanelHandle class="panel-heading unselectable cine-panel-heading">
        <span class="panel-title">{{seriesDescription}}&nbsp;&nbsp;{{studyDate|date}}</span>
        <span *ngIf="progress > 0" class="clicker glyphicon glyphicon-remove close-x" (click)="closeCineMode()"></span>
    </div>


    <div class="cine-mode-content">


        <!--
                <span *ngIf="loadingX && progress <= 0">
                    <span class="data-loading-text">Accessing data &nbsp;&nbsp;</span>
                    <img src="../assets/images/test_loading.gif" alt="Accessing data gif">
                </span>
        -->
        <span *ngIf="loadingX ">
            <span class="data-loading-text">Loading images</span>
            <progress-bar [progress]="progress" [color]="'#488aff'"></progress-bar>
        </span>

        <!--
                <span *ngIf="loadingX && progress <= 0">
                    <span class="data-loading-text">Accessing data &nbsp;&nbsp;</span>
                    <img src="../assets/images/test_loading.gif" alt="Accessing data gif">
                </span>

                <span *ngIf="loadingX && progress > 0">
                    <span class="data-loading-text">Loading images</span>
                    <progress-bar [progress]="progress" [color]="'#488aff'"></progress-bar>
                </span>

        -->


        <div class="container-fluid">
            <div class="row">

                <div class="col-md-5">

                    <!-- The image -->
                    <div *ngIf="! loadingX && !! images[currentImage-1]">
                        <img
                            class="image"
                            [src]=images[currentImage-1].thumbnailImage
                        >
                    </div>


                    <!-- The Slider -->
                    <input *ngIf="! loadingX"
                           class="cine-mode-scroller"
                           type="range" name="points" min="1" max='{{imageCount}}'
                           [(ngModel)]="currentImage"
                           (change)="updateDicom()"
                    >

                    <!--  The buttons  -->

                    <div *ngIf="! loadingX" class="cine-mode-button-bar">
                        <label
                            class="btn btn-default cine-mode-buttons"
                            title="Frame one"
                            (click)="onFirstFrameClick()"
                        >
                            <span class="glyphicon  glyphicon-fast-backward cine-mode-button-icon"
                                  title="Frame one"></span>
                        </label>

                        <label
                            class="btn btn-default cine-mode-buttons"
                            title="Previous one"
                            (click)="onPreviousFrameClick()"
                        >
                            <span class="glyphicon glyphicon-step-backward cine-mode-button-icon"
                                  title="Previous one"></span>
                        </label>

                        <label
                            class="btn btn-default cine-mode-buttons"
                            title="Play backwards"
                            (click)="onPlayBackwardsClick()"

                        >
                            <img class="play-back-image" src="../../assets/images/playBack.svg" alt="">
                        </label>


                        <label
                            class="btn btn-default cine-mode-buttons"
                            title="Pause"
                            (click)="onPause()"
                        >
                            <span class="glyphicon glyphicon-pause cine-mode-button-icon" title="Pause"></span>
                        </label>


                        <label
                            class="btn btn-default cine-mode-buttons"
                            title="Play"
                            (click)="onPlayClick()"
                        >
                            <span class="glyphicon glyphicon-play cine-mode-button-icon" title="Play"></span>
                        </label>

                        <label
                            class="btn btn-default cine-mode-buttons"
                            title="Next frame"
                            (click)="onNextFrameClick()"

                        >
                            <span class="glyphicon glyphicon-step-forward cine-mode-button-icon"
                                  title="Next frame"></span>
                        </label>

                        <label
                            class="btn btn-default cine-mode-buttons"
                            title="Last frame"
                            (click)="onLastFrameClick()"
                        >
                            <span class="glyphicon glyphicon-fast-forward cine-mode-button-icon"
                                  title="Last frame"></span>
                        </label>


                        <span >
                                <input class="cine-mode-frame-rate"
                                       type="number"
                                       min="1"
                                       max="30"
                                       [(ngModel)]="frameRate"
                                >
                            F.P.S.
                        </span>
                    </div>
                </div>

                <!-- ------------ -->
                <!--  DICOM Data  -->
                <div *ngIf="showDicomData &&  ( progress > 99 ) && !! dicomData &&  dicomData.length > 0"
                     class="col-md-7 cine-mode-dicom-col">
                    <div class="dicom-scroll-area">

                        <table class="dicom-data-table">

                            <!-- ----- Header  ----- -->
                            <tr class="cine-mode-dicom-header-tr">
                                <th>
                                    Element
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Data
                                </th>
                            </tr>

                            <!-- ----- Data  ----- -->
                            <tr
                                class="cine-mode-dicom-tr"
                                *ngFor="let row of dicomData; let i=index; let even = even; let odd = odd"
                                [ngClass]="{
                                        'dark': i%4 !== 0
                                    }"
                            >
                                <td class="dicom-element-column">{{row.element}}</td>
                                <td class="dicom-name-column">{{row.name}}</td>
                                <td class="dicom-data-column">{{row.data}}</td>
                            </tr>
                        </table>
                    </div>


                </div>

                <!-- loading DICOM data  -->
                <div *ngIf="showDicomData &&  ( progress > 99 ) && !! dicomData &&  dicomData.length <= 1">
                    <span class="data-loading-text">Accessing DICOM data &nbsp;&nbsp;</span>
                    <img src="./assets/images/test_loading.gif" alt="Accessing data gifXXX">
                </div>


            </div>

            <span *ngIf="progress > 99">
            <!-- The Image of Images numbers display -->
            <span *ngIf="imageCount > 0" class="image-count-display">

                Image:
                <input
                    type="text"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '');
                         this.value = this.value.replace(/(\..*)\./g, '$1');"

                    [(ngModel)]="currentImage"
                    (input)="checkCurrentImageNumber()"
                    class="cine-mode-image-number-input">

                of {{imageCount}}
            </span>


                <!--  Show DICOM Checkbox  -->
            <span
                class="show-dicom-checkbox">
                     <label for="showDicomCheckboxId">Show Dicom data&nbsp;</label>
                       <input type="checkbox"
                              id="showDicomCheckboxId"
                              [(ngModel)]="showDicomData"
                              (change)="toggleDicomCheckbox()"
                       >
            </span>
            </span>

        </div>
    </div>
</div>
