<span *ngIf="show" class="glyphicon glyphicon-backward search-query-closer"
      title="Hide Query section"
      (click)="onCloserOpenerClick(  )"></span>

<span *ngIf="!show" class="glyphicon glyphicon-forward search-query-opener"
      title="Show Query section"
      (click)="onCloserOpenerClick(  )"></span>

<div class="query-section"
     [ngClass]="{
         'hide': !show
      }">

    <nbia-left-section
        [useQcStatusLeftSectionComponent]="useQcStatusQuerySectionComponent"
        [currentTool]="currentTool"
    ></nbia-left-section>

</div>
