@import 'src/app/tools/query-section-module/query-section/query-section.component';
$list-start-height: 140px;
$list-content-left-margin: 18px;
$dynamic-query-criteria-heading-bottom-margin: 6px;

// FIXME this will change after full glyph cleanup
.close-x-icon {
    position: absolute;
    padding-top: 2px;
    left: $left-section-width - 27px;
}



// And/Or radio buttons
.dynamic-query-and-or-radio-button {
    margin-right: 3px;
    margin-left: 8px;
}


// And/Or radio buttons
.dynamic-query-all-any-radio-button {
    margin-right: 3px;
    margin-left: 8px;
}

// Checkboxes in a Query list
.dynamic-query-list-checkbox {
    margin-right: 4px;

}

.dynamic-query-calendar-div{
    margin-left: $query-criteria-content-left-margin;
    height: 82px;
}
.dynamic-query-calendar-div-with-apply-checkbox{
    @extend .dynamic-query-calendar-div;
    height: 104px;
}
.dynamic-query-calendar-div-with-apply-button{
    @extend .dynamic-query-calendar-div;
    height: 118px;
}

// TODO rename this, I think it is only for text inputs
.dynamic-query-vertical-expand-div {
   // padding-top: 12px;
    margin-bottom: 0;
    resize: vertical;
    overflow: auto;
    height: 300px; // Height of large textarea
}

.dynamic-query-list-scroller{
  //   height: 100%;
    height: calc(100% - 35px);
    border: #f59bb5;
}

.test_small_text_input{
    padding-bottom: 50px;
}


// List
$dynamic-query-list-line-height-extra-small: 12px;
$dynamic-query-list-line-height-small: 17px;
$dynamic-query-list-line-height-medium: 21px;
$dynamic-query-list-line-height-large: 24px;

.dynamic-query-list-line {
    color: #3a3a3a;
    margin-left: $list-content-left-margin;
    margin-bottom: 2px;
}

.dynamic-query-list-line-extra-small {
    @extend .dynamic-query-list-line;
    height: $dynamic-query-list-line-height-extra-small;
}

.dynamic-query-list-line-small {
    @extend .dynamic-query-list-line;
    height: $dynamic-query-list-line-height-small;
}

.dynamic-query-list-line-medium {
    @extend .dynamic-query-list-line;
    height: $dynamic-query-list-line-height-medium;
}

.dynamic-query-list-line-large {
    @extend .dynamic-query-list-line;
    height: $dynamic-query-list-line-height-large;
}




// ////////////////////////////////////////////
// List Search/Filter
// ////////////////////////////////////////////

// The list count in a Search/Filter, on the right side of the Search input frame
.dynamic-query-list-search-count {
    color: $disabled-text;
    margin: 6px 4px 0 0;
    float: right;
}

// Don't show frame around interior item(input) of the Search/Filter input on Chrome
.dynamic-query-list-search-box-with-focus {
    outline: none;
}

.dynamic-query-list-search-box {
    border: solid 1px $criteriaQueryBorderColor;
    border-radius: 4px;
    padding: 0 0 0 12px;

    margin-left: 15px;
    margin-bottom: 3px;
    margin-top: 2px;

    height: 34px;
    width: calc(100% - 35px);
}

.dynamic-query-list-search-text-area {
    color: #000;
    border-style: none;
    height: 30px;
    width: calc(100% - 25px);
}


// ////////////////////////////////////////////
// Top right buttons
// ////////////////////////////////////////////
.dynamic-query-top-right-button-box {
    background: rgba(255, 255, 255, 0.0);
   // background: rgba(255, 0, 255, 0.4) ;
}

$dynamic-query-list-button-box-size-extra-small: 20px;
$dynamic-query-list-button-box-size-small: 50px;
$dynamic-query-list-button-box-size-medium: 70px;
$dynamic-query-list-button-box-size-large: 84px;



.dynamic-query-top-right-inner-button-box {
    float: right;
   // background-color: #44ffaa;
}

$dynamic-query-list-button-icon-size-extra-small: 11px;
$dynamic-query-list-button-icon-size-small: 14px;
$dynamic-query-list-button-icon-size-medium: 16px;
$dynamic-query-list-button-icon-size-large: 19px;

.dynamic-query-list-button-icon {
    // to preserve the aspect ratio of the image
    height: auto;
}

.dynamic-query-list-button-icon-extra-small {
    @extend .dynamic-query-list-button-icon;
    height: $dynamic-query-list-button-icon-size-extra-small;

}

.dynamic-query-list-button-icon-small {
    @extend .dynamic-query-list-button-icon;
    height: $dynamic-query-list-button-icon-size-small;
}

.dynamic-query-list-button-icon-medium {
    @extend .dynamic-query-list-button-icon;
    height: $dynamic-query-list-button-icon-size-medium;
}

.dynamic-query-list-button-icon-large {
    @extend .dynamic-query-list-button-icon;
    height: $dynamic-query-list-button-icon-size-large;
}


// Smaller moves it to the right
$dynamic-query-list-button-box-offset: 80px;

.dynamic-query-list-button-box {
    position: absolute;
    margin: 0;
    padding: 0;
}

.dynamic-query-list-button-box-extra-small {
    @extend .dynamic-query-list-button-box;
    left: $left-section-width-extra-small - $dynamic-query-list-button-box-offset;
    width: $dynamic-query-list-button-box-size-extra-small;

}

.dynamic-query-list-button-box-small {
    @extend .dynamic-query-list-button-box;
    left: $left-section-width-small - $dynamic-query-list-button-box-offset;
    width: $dynamic-query-list-button-box-size-small;

}

.dynamic-query-list-button-box-medium {
    @extend .dynamic-query-list-button-box;
    left: $left-section-width-medium - $dynamic-query-list-button-box-offset;
    width: $dynamic-query-list-button-box-size-medium;
}

.dynamic-query-list-button-box-large {
    @extend .dynamic-query-list-button-box;
    left: $left-section-width-large - $dynamic-query-list-button-box-offset;
    width: $dynamic-query-list-button-box-size-large;

}

$dynamic-query-button-top-margin: 10px;
$dynamic-query-button-bottom-margin: 10px;
$dynamic-query-apply-button-right-margin: 23px;

.dynamic-query-button{
    float:right;
    /*
    margin-top: $dynamic-query-button-top-margin;
    padding-bottom: $dynamic-query-button-top-margin;
    */
}

.dynamic-query-apply-button{
    @extend .dynamic-query-button;
    margin-right: $dynamic-query-apply-button-right-margin;
}

.dynamic-query-subheading{
    margin-left: $query-criteria-content-left-margin;
}

.dynamic-query-text-input{
    border: solid 1px $criteriaQueryBorderColor;
    border-radius: 4px;
    margin-left: $query-criteria-content-left-margin;
    margin-right: 18px;
    width: calc(100% - 40px);
    overflow-y: scroll;
    resize: none;
}

.dynamic-query-small-text-input{
    @extend .dynamic-query-text-input;
    height: 30px;
    margin-bottom: 5px; // A little space between the text area and the apply button if there is one
    overflow:auto;
}

.dynamic-query-large-text-input{
    @extend .dynamic-query-text-input;
    overflow:auto;
    height: calc(100% - 16px); // Space between textArea (and apply button or checkbox if there) and the bottom of the widget
}

.dynamic-query-large-text-input-with-apply {
    @extend.dynamic-query-large-text-input;
    height: calc(100% - 50px); // Space between textArea (and apply button or checkbox if there) and the bottom of the widget
}



/*For the individual query entry panels */
.dynamic-query-panel-heading {
    color: $heading-text-color;
    background-color: #fff;
    padding: 7px 0 0 0;
    margin-left: $query-criteria-content-left-margin;
    margin-bottom: $dynamic-query-criteria-heading-bottom-margin;
}

.dynamic-query-number-input{
    width: 80px;
}

.single-line-radio-input{
    margin-left: 4px;
    margin-right: 2px;
}

.single-line-radio-input-text{
    color: #000000;
}

.widget-display-div{
    overflow-y: scroll;
    height: 80vh;

}
