@import 'src/app/tools/query-section-module/query-section/query-section.component';
$list-start-height: 140px;
$list-content-left-margin: 18px;


.close-x-icon {
    position: absolute;
    padding-top: 2px;
    left: $left-section-width - 27px;
}


.dynamic-criteria-list-search{
    position: absolute;
    left: $left-section-width - 47px;
}

// Make room for the clear icon if there is one.
.dynamic-criteria-list-search-with-clear{
    position: absolute;
    left: $left-section-width - 64px;
}


// --------------

.query-collection-search{
    position: absolute;
    left: $left-section-width - 47px;

}

/* Trying to clean this up for Chrome */
.box-with-focus {
    outline: none;
}


.search-box {
    border: solid 1px $criteriaQueryBorderColor;
    border-radius: 4px;
    padding: 0 0 0 12px;
    margin-left: 15pt;
    margin-bottom: 10pt;
    height: 34px;
    width: calc(100% - 35px);
}

/* Trying to clean this up for Chrome */
.box-with-focus {
    outline: none;
}

// .collection-scroller-div {
.list-scroller-div {
   // padding-top: 12px;
    margin-bottom: 0;
    resize: vertical;
    overflow: auto;
}

// .collection-scroller{
.list-scroller{
    height: 100%;

}

// .collection-scroller-content {
.list-scroller-content {
    height: $list-start-height;
}


.list-panel-radio-button {
    color: #3a3a3a;
    margin-left: $list-content-left-margin;
    margin-bottom: 2px;
}






.list-search-box {
    border: solid 1px $criteriaQueryBorderColor;
    border-radius: 4px;
    padding: 0 0 0 12px;
    margin-left: 15px;
    margin-bottom: 12px;
    margin-top: 10px;
    height: 34px;
    width: calc(100% - 35px);
}


.list-search-text-area {
    color: #000;
    border-style: none;
    height: 30px;
    width: calc(100% - 25px);
}

.list-search-text-area-x {
    margin: 6px 6px 0px 0px;
    cursor: pointer;
}
