<!------------------------------------------------------------------------------------------------>
<!------------  The Widget tester left vertical section containing the search criteria  ---------->
<!------------------------------------------------------------------------------------------------>


<span *ngIf="properties.SHOW_DYNAMIC_QUERY_CRITERIA_TEST_PAGE">
    Keep count
    <input type="number"
           [(ngModel)]="ShowSampleCount"
    >
</span>


<div class="widget-display-div">
<span *ngFor="let criteria of queryCriteriaData">

    <!-- [queryCriteriaData]="criteria" is used by the widget test page -->
        <nbia-widget *ngIf="criteria['dynamicQueryCriteriaType'] === dynamicQueryCriteriaTypes.WIDGET"
                     [queryCriteriaData]="criteria"
        ></nbia-widget>

</span>
</div>
