@import '../../../../../../../../app.component.scss';

.dicom-scroll-area{
    max-height: 256px;
    overflow-y: auto;
}

.dicom-data-table{
    width: 100%;
}

.dicom-data-column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; /* Restrict initial width */
    border: solid 1px #bbb;
    width: calc(75% - 140px);
    position: relative;
   // transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transition */
}


.dicom-data-column:hover{
    overflow-x: auto; /* Allow horizontal scroll when hovering */
   // white-space: normal; /* Allow text to wrap when hovering */
    text-overflow: clip;
}

.dicom-element-column{
    border: solid 1px #bbb;
    width: 140px;
}

.dicom-name-column{
    border: solid 1px #bbb;
    width: 25%;
}


th, td {
    padding: 2px 16px 2px 8px;
}
