// -------------------------------------------------------------------------------------------
// -------------------------      Patient ID a.k.a Subject ID      ---------------------------
// -------------------------------------------------------------------------------------------

@import "../../../app.component";
@import "src/app/tools/query-section-module/query-section/query-section.component";

.text-input-div {
    height: 250px;
}

.subject-id-text {
    border: solid 1px $criteriaQueryBorderColor;
    border-radius: 4px;
    margin-left: 18px;
    margin-right: 18px;
    width: calc(100% - 40px);
    height: calc(100% - 70px);
    overflow-y: scroll;
    resize: none;
}

.subject-id-query-button {
    margin-left: $query-criteria-content-left-margin;
}

.subject-id-prompt {
    margin-left: $query-criteria-content-left-margin;
}

.subject-id-button-box {
    width: calc(100% - 20px);
}
