$footer_height: 38;

.footer-div{
    padding: 0;
    margin-top: 3px;
    height: 0px + $footer_height;
}


.per-page-span{
    margin-top: 3px;
}


.pager-span{
    float:right;

}

.footer-row{
    padding: 0;
    margin: 0;
}
