<div>
    <!-- <nbia-collection-query></nbia-collection-query> -->
    <nbia-image-modality-query></nbia-image-modality-query>
    <nbia-anatomical-site-query></nbia-anatomical-site-query>
    <nbia-species-query *ngIf="properties.SHOW_SPECIES"></nbia-species-query>
    <nbia-images-manufacturer-search></nbia-images-manufacturer-search>
    <nbia-images-desciption-search></nbia-images-desciption-search>
    <nbia-images-slice-thickness-search></nbia-images-slice-thickness-search>
    <nbia-images-pixel-spacing-search></nbia-images-pixel-spacing-search>
   

</div>
