@import '../../app.component.scss';

.search-query-closer{
    @extend %panel-heading-text-color;
//    z-index: 1;
    position: absolute;
    top: 14px + $heading-height + $heading-margin-bottom;
    left: $left-section-width - 47px;
    cursor: pointer;
}

.search-query-opener{
    @extend %panel-heading-text-color;
    left: -26px;
    cursor: pointer;
    padding: 12px 10px 14px 0;

    border-right: solid 1px #ddd;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    border-radius: 4px;
}

.hide {
    display: none;
}
