
<span *ngIf="show" class="glyphicon glyphicon-backward "
      [ngClass]="{
          'search-query-closer': properties.SHOW_HEADER,
          'search-query-closer-no-header': ! properties.SHOW_HEADER
        }"
      title="Hide Query section"
      (click)="onCloserClick(  )"></span>

<span *ngIf="!show" class="glyphicon glyphicon-forward search-query-opener"
      title="Show Query section"
      (click)="onCloserClick(  )"></span>


<div class="query-section" [ngClass]="{
      'hide': !show
}"
>
    <nbia-query-section-tabs></nbia-query-section-tabs>
</div>
