@import '../../app.component.scss';

.search-query-closer-with-header{
    @extend %panel-heading-text-color;
//    z-index: 1;

    /*
    position: absolute;
    top: 14px + $heading-height + $heading-margin-bottom;
    */
  //  left: $left-section-width - 47px;

    margin-top: -30px;
    float: right;
    cursor: pointer;

}

.search-query-closer-no-header{
    @extend %panel-heading-text-color;
//    z-index: 1;
    position: absolute;
    top: 14px;  // TODO FIXME After the new Universal Header is working we won't need this.
    left: $left-section-width - 47px;
    cursor: pointer;
}

.search-query-opener{
    @extend %panel-heading-text-color;
     position: absolute;
    left: 0;
    cursor: pointer;
    padding: 12px 10px 14px 0;
    margin-top: 0;

    border-right: solid 1px #ddd;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    border-radius: 4px;
}

.search-query-opener-icon{
    height:14px;
}

.hide {
    display: none;
}
