$toolHeadingFontSize: 16pt;
$header-background-color: #013856;
$popup-z-index: 91;
$alert-top: 100px;
$close-x-red: #700;
$loading-screen-z-index: 5;
$heading-text-color: #bb0e3d;

$top-logo-height: 41px;
$heading-height: 110px;
$heading-margin-bottom: 8px;   /* Space between menu bar and top of content */
$disabled-text: #acacac; // TODO rename & explain
$disabled-dark-text: #9c9c9c; // TODO rename & explain


table {
    border-collapse: separate;
}

.hide {
    display: none;
}


/* Trying to clean this up for Chrome */
.no-outline {
    outline: none;
}

/* ********* Buttons ******** */
.nbia-button {
    @extend .no-outline;
    color: #fff;
    background-color: #0b7983;
    cursor: pointer;
    /*
    font-size: 10pt;
    */
}

.nbia-button:hover {
    background-color: #277599;
}

.nbia-button:active {
    background-color: #1e5975;
}

.nbia-button-disabled:active {
    cursor: not-allowed;
}

.nbia-button-disabled:hover {
    cursor: not-allowed;
}

.nbia-button-disabled {
    cursor: not-allowed;
}

.clicker {
    cursor: pointer;
}

.text-left {
    text-align: left !important;
}

.dropdown-menu-item-data-admin {
    color: #fff;
    padding: 1px 0px 4px 14px;
    background-color: #337ab7;
    border: solid 1px #828282;
}

.dropdown-menu-item-data-admin:hover {
    color: #fff;
    background-color: #286090;
}


.display-query-div {
    width: 100%;
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.black-text{
    color: #000000;
}

.disabled-text{
    color: $disabled-dark-text;
}
