@import './app.component';

/*  TODO  explain  */

/*  Apply a "closed-hand" cursor during drag operation. */
.alert-box-heading-moving:active {
    cursor: grabbing;
}

/*  Apply a "closed-hand" cursor during drag operation. */
.alert-box-heading-moving {
    cursor: grabbing;
}

// .cursor-draggable isn't working for me, this is a workaround.
.alert-box-heading:hover {
    cursor: grab;
}




.alert-box-div {
    z-index: $popup-z-index;
    position: absolute;

    /* Set the vertical location of all the Alert/Message boxes.  */
    margin-top: $alert-top;
}

.alert-box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.alert-box-button {
    float: right;
    margin-left: 4px;
}

.alert-panel-title {
    /* Looks better without this.
    font-weight: bold;
    */
}

.alert-box-icon {
    font-size: x-large;
}


.close-x {
    color: $close-x-red;
    float: right;
}

