
.footer-div{
    font-size: 10pt;
    margin-right: 12px;
    margin-left: 12px;
}

/*

.footer-item{
    margin-left: 6px;
    margin-right: 6px;
}
*/

.right-side{
    float: right;
}

.footer-text-color{
    color: #666;
}

.footer-center{
      align: center;
}

.footer-text-center{
    text-align: center;
}

