@import '../app.component.scss';

.ui-g div {
    background-color: #ededed;
    text-align: center;
    border: 1px solid #fafafa;
}

.background-none { 
	background: none !important;
	border: 0px	!important;			
}

.pi {
	color: #700;
}