<!------------------------------------------------------------------------->
<!----------                 "Approve Deletions"                 ---------->
<!------------------------------------------------------------------------->

<div *ngIf="roleIsGood" class="approve-deletions-tool">
    <!-- approve-deletions does not use the Status section of left-section. -->
    <nbia-query-section
        [currentTool]="consts.TOOL_APPROVE_DELETIONS"
    ></nbia-query-section>

    <div class="container-fluid approve-deletions-search-results-section">
        <!----- Display Query at top. ----->
        <div class="row">
            <div class="display-query-wrapper">
                <nbia-display-query
                    [currentTool]="consts.TOOL_APPROVE_DELETIONS"
                ></nbia-display-query>
            </div>
        </div>

        <!----- Grid of search results, result of Criteria Search and marked for deletion. ----->
        <div class="row">
            <nbia-search-results-section-bravo
                (resultsUpdateBravoEmitter)="onSearchResultsUpdate($event)"
                (resultsSelectCountUpdateBravoEmitter)="
                    onResultsSelectCountUpdate($event)
                "
            >
            </nbia-search-results-section-bravo>
        </div>

        <!----- Lower section with Delete (conformation) button and log entry text box. ----->
        <div *ngIf="showBulkOperations" class="row">
            <nbia-deletion-bulk-operations
                style="width: 100%;"
                [collectionSite]="collectionSite"
                [searchResults]="searchResults"
                [searchResultsSelectedCount]="searchResultsSelectedCount"
            ></nbia-deletion-bulk-operations>
        </div>
    </div>
</div>

<h4 *ngIf="!roleIsGood">
    <p>
        User does not have authorization required for "<b>Approve deletions</b>"
    </p>
    <p>
        Users role(s): <b>{{ userRoles }}</b>
    </p>
    Required role: <b>NCIA.NCIA.SUPER_CURATOR</b>
</h4>
