@import '../../../app.component';

.approve-deletions-tool{
    /* keep the Query section and the Display section side by side.  */
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

// Includes Display query and search results
// TODO rename this
.data-section{
    width: 100%;
}
