// -------------------------------------------------------------------------
// ----------                 "Approve Deletions"                 ----------
// -------------------------------------------------------------------------

@import '../../../app.component';

.approve-deletions-tool{
    /* keep the Query section and the Display section side by side.  */
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

// Includes search results, Delete button and log text area
.approve-deletions-search-results-section{
    width: 100%;
}
