<div style="position:absolute;top: 8px;right: 30px;">
	<a href="{{wikiLink}}" target="_blank">
		<img src="app/images/help.png" alt="Help"/>
	</a>
</div>	

<div class="ContentSideSections Implementation">
	<p-dataTable [value]="groups" expandableRows="true" [paginator]="true" [rows]="10" [responsive]="true">
		<p-column header="Click for Associated Protection Group(s) & Role(s)" expander="true" styleClass="col-icon" style="width:10%;text-align:center"></p-column>
		<template #group>
		<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-11" >
                        <div class="ui-grid ui-grid-responsive ui-grid-pad">
                            <div class="ui-grid-row" >
                                <div class="ui-grid-col-5"><strong>Protection Group</strong></div>
								<div class="ui-grid-col-5"><strong>Assigned Role</strong></div>
                            </div>
                            
                        </div>
                    </div>
					<div class="ui-grid-col-1" align="right">
						<strong>Edit Association</strong>
                    </div>
                </div>		
                <div class="ui-grid-row" *ngFor="#pg of group.pgs">
                    <div class="ui-grid-col-11" >
                        <div class="ui-grid ui-grid-responsive ui-grid-pad">
							<hr>
                            <div class="ui-grid-row" >
                                <div class="ui-grid-col-5">{{pg.pgName}} </div>
								<div class="ui-grid-col-5">{{pg.roleNames}} </div>
                            </div>
                            
                        </div>
                    </div>
					<div class="ui-grid-col-1">
						<hr>
						<button type="button" pButton icon="fa-edit" (click)="showDialogToEdit(group, pg)" style="width:40px;float: right;"></button>
                    </div>
                </div>
            </div>
        </template>	
		
		<p-column field="userGroup" header="User Group" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
		<p-column field="description" header="Description" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
		<p-column style="width:8%;text-align:center" header="Delete User Group">
			<template let-col #group="rowData" >
				<button type="button" pButton icon="fa-cut" (click)="onSelect(group)"></button>
			</template>
		</p-column>	
		<p-column style="width:8%;text-align:center" header="Assign Protection Group(s) with Role(s)">
			<template let-col #group="rowData" >
				<button type="button" pButton icon="fa-plus" (click)="showDialogToAssign(group)"></button>
			</template>
		</p-column>
	</p-dataTable>
		
	<p-messages [value]="statusMessage" [closable]="false" style="height:10px;"></p-messages>

	<p-dialog header="Delete the Following Group?" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width=600 height=150 appendTo="body">
		<div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="group">
			<div class="ui-grid-row">
				<div class="ui-grid-col-4"><label for="dataGroup">User Group Name</label></div>
				<div class="ui-grid-col-8"><input pInputText id="userGroup" [(ngModel)]="group.userGroup" [disabled]="true"/></div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-4"><label for="description">Description</label></div>
				<div class="ui-grid-col-8"><input pInputText id="description" [(ngModel)]="group.description" [disabled]="true"/></div>
			</div>
		</div>
		<footer>
			<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
				<button type="button" pButton icon="fa-close" (click)="delete()" label="Delete" [disabled]="newGroup"></button>	
			</div>
		</footer>
	</p-dialog>
	
	<p-dialog header="Add Protection Group to Selected User Group " [(visible)]="displayAssignDialog" [responsive]="true" showEffect="fade" width=600 height=460 appendTo="body">
		<div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
			<div class="ui-grid-row">
				<div class="ui-grid-col-4"><label for="groupName">User Group Name</label></div>
				<div class="ui-grid-col-12"><input pInputText id="groupName" [(ngModel)]="group.userGroup" [disabled]="true"/></div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-4"><label >Protection Group</label></div>
				<div class="ui-grid-col-12">
					<p-dropdown [options]="availablePgs" [(ngModel)]="selectedPGName" [filter]="true" appendTo="body" style="width:350px or width: 100%"></p-dropdown>
					<p>Selected Protection Group: {{selectedPGName||'none'}}</p>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-4"><label>Role</label></div>
				<div class="ui-grid-col-12">
					<p-multiSelect [options]="allRoles" [(ngModel)]="srs" [scrollHeight]="400" appendTo="body"></p-multiSelect>
					<p>Selected Role(s): <span template="ngFor #c of srs">{{c}} &nbsp;</span></p>
				</div>
			</div>
		</div>
		<footer>
			<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
				<button type="button" pButton icon="fa-check" (click)="save()" label="Save" [disabled]="selectedPGName == null || srs.length==0 || selectedPGName.length==0"></button>
			</div>
		</footer>
	</p-dialog>

	<p-dialog header="Modify Authorization for Selected User Group " [(visible)]="displayDeassignDialog" [responsive]="true" showEffect="fade" width=600 height=460 appendTo="body">
		<div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
			<div class="ui-grid-row">
				<div class="ui-grid-col-4"><label for="groupName">User Group Name</label></div>
				<div class="ui-grid-col-12"><input pInputText id="groupName" [(ngModel)]="group.userGroup" [disabled]="true"/></div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-4"><label >Protection Group Name</label></div>
				<div class="ui-grid-col-12"><input pInputText id="pgName" [(ngModel)]="selectedPGName" [disabled]="true"/></div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-4"><label>Role</label></div>
				<div class="ui-grid-col-12">
					<p-multiSelect [options]="allRoles" [(ngModel)]="srs" [autoWidth]="false" [scrollHeight]="400" appendTo="body" style="width:350px or width: 100%"></p-multiSelect>
					<p>Selected Role(s): <span template="ngFor #c of srs">{{c}} &nbsp;</span></p>
				</div>
			</div>
		</div>
		<footer>
			<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
				<button type="button" pButton icon="fa-close" (click)="deassignPG()" label="Remove PG"></button>
				<button type="button" pButton icon="fa-check" (click)="updateRole()" label="Update Role"  [disabled]="srs.length==0"></button>			
			</div>
		</footer>
	</p-dialog>		
</div>

