<div *ngIf="showPreferences"
    class="card card-nbia-default box-div alert-box-div alert-box-shadow preferences-div"
>
    <div class="card-nbia-header-default card-nbia-header">
        Preferences
    </div>
        <div><b>Font Stuff</b></div>

        <table class="table">
            <tr>
                <td class="font-button unselectable">
                <input type="radio"
                       class="clicker"
                       id="font_0"
                       name="fontRadioButton"
                       value="0"
                       [(ngModel)]="selectedFontSize.options"
                >
                <label [attr.for]="'font_0'"
                       class=""
                >
                    Extra Small
                </label>
                </td>
                <td class="font-button unselectable">

                <input type="radio"
                       class="clicker"
                       id="font_1"
                       name="fontRadioButton"
                       value="1"
                       [(ngModel)]="selectedFontSize.options"
                >
                <label [attr.for]="'font_1'"
                       class=""
                >
                    Small
                </label>

                </td>
                <td class="font-button unselectable">
                <input type="radio"
                       class="clicker"
                       id="font_2"
                       name="fontRadioButton"
                       value="2"
                       [(ngModel)]="selectedFontSize.options"
                >
                <label [attr.for]="'font_2'"
                       class=""
                >
                    Medium
                </label>

                </td>
                <td class="font-button unselectable">
                <input type="radio"
                       class="clicker"
                       id="font_3"
                       name="fontRadioButton"
                       value="3"
                       [(ngModel)]="selectedFontSize.options"
                >
                <label [attr.for]="'font_3'"
                       class=""
                >
                    Large
                </label>
                </td>

            </tr>
        </table>  <!-- END Font section -->
    <div><b>selectedFontSize: {{selectedFontSize.options}}</b></div>

<span (click)="onOkayClick()">Ok</span>   <span (click)="onCancelClick()">Cancel</span>
</div>
