<!-- ----------  The Results section - Search results and Summary (Pie Charts)  ---------- -->

<div class="tab-div">
    <tabset (onSelect)="onTabClick($event)">

        <!-- If Text Search, disable the "Summary" (charts) tab  -->
        <tab
            *ngIf="properties.SHOW_SUMMARY_TAB"
            [active]='tabIsActive[0]'
            [disabled]="searchType === 1"
        >
            <span *tabHeading>
                Summary
            </span>
            <nbia-summary></nbia-summary>
        </tab>


        <!-- Search Results -->
        <tab [active]='tabIsActive[1]'>
            <span *tabHeading>
                 Search Results
            </span>
            <nbia-search-results></nbia-search-results>
        </tab>


        <!-- This is just a place where I put testing and diagnostic things, showTestTab should never be true for production or public build. -->
        <tab [active]='tabIsActive[2]' *ngIf="showTestTab">
            <span *tabHeading>
                 Test
            </span>
            <nbia-test></nbia-test>
        </tab>


    </tabset>
</div>
