<!-- ----------  The Results section - Search results and Summary (Pie Charts)  ---------- -->

<span class="tab-div unselectable">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <span class="nav-link unselectable"
                  [ngClass]="{
                   'active': activeTab === 0
               }"
                  (click)="onTabClick(0 )"
            >Summary</span>
        </li>
        <li class="nav-item">
            <span class="nav-link unselectable"
                  [ngClass]="{
                   'active': activeTab === 1
               }"
                  (click)="onTabClick(1 )"
            >Search Results</span>
        </li>
        <li *ngIf="showTestTab"
            class="nav-item"
        >
            <span class="nav-link unselectable"
                  [ngClass]="{
                   'active': activeTab === 2
               }"
                  (click)="onTabClick(2 )"
            >Test</span>

        </li>

    </ul>
</span>

<nbia-summary
        [ngClass]="{
        'active': activeTab === 0,
        'hide': activeTab !== 0
    }"
></nbia-summary>

<nbia-search-results
        [ngClass]="{
        'active': activeTab === 1,
        'hide': activeTab !== 1
    }"
></nbia-search-results>

<nbia-test
        [ngClass]="{
        'active': activeTab === 2,
        'hide': activeTab !== 2
    }"
></nbia-test>
