@import './btn-nbia';
@import './card-nbia';

$toolHeadingFontSize: 16pt;
$header-background-color: #013856;
$popup-z-index: 91;
$alert-top: 100px;
$close-x-red: #800;
$loading-screen-z-index: 5;
$heading-text-color: #bb0e3d;

$top-logo-height: 41px;
$heading-height: 110px;
$heading-margin-bottom: 8px; /* Space between menu bar and top of content */
$disabled-text: #acacac; // TODO rename & explain
$disabled-dark-text: #9c9c9c; // TODO rename & explain


table {
    border-collapse: separate;
}

.hide {
    display: none;
}


/* Trying to clean this up for Chrome */
.no-outline {
    outline: none;
}

/* ********* Buttons ******** */
.nbia-button {
    @extend .no-outline;
    color: #fff;
    background-color: #0b7983;
    cursor: pointer;
    /*
    font-size: 10pt;
    */
}

.nbia-button:hover {
    background-color: #277599;
}

.nbia-button:active {
    background-color: #1e5975;
}

.nbia-button-disabled:active {
    cursor: not-allowed;
}

.nbia-button-disabled:hover {
    cursor: not-allowed;
}

.nbia-button-disabled {
    cursor: not-allowed;
}

.clicker {
    cursor: pointer;
}

.text-left {
    text-align: left !important;
}

.display-query-div {
    width: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9
;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.black-text {
    color: #000000;
}

.disabled-text {
    color: $disabled-dark-text;
}


.admin-dropdown-outline {
    border-bottom: solid #d9d9d9 1px;
    margin-bottom: 0;
}

.admin-dropdown-span {
    cursor: pointer;
}

.admin-dropdown-span:hover {
    background-color: #286090;
}

.admin-dropdown-button {
    padding-top: 10px;
    min-width: 540px;
    cursor: pointer;
    background-color: #f0f0f0;
}

.admin-dropdown-button:disabled {
    cursor: default;
}


.display-query-wrapper{
    width: 100%;
}

.query-display-row{
    // This should not be needed, but...
    width: calc(100% + 30px);
}

.parent-font{
    font-size: 10px;
}

.font-extra-small{
    font-size: 10px;
}
.font-small{
    font-size: 12px;
}
.font-medium{
    font-size: 14px;
}
.font-large{
    font-size: 22px;
    color: #880000;
}
