<div>
    <nbia-subjects-sex-search></nbia-subjects-sex-search>
    <nbia-subjects-age-search></nbia-subjects-age-search>
    <nbia-days-from-baseline></nbia-days-from-baseline>
    <nbia-minimum-matched-studies></nbia-minimum-matched-studies>
    <nbia-species-query *ngIf="properties.SHOW_SPECIES"></nbia-species-query>
    <nbia-phantom-query *ngIf="properties.SHOW_PHANTOM"></nbia-phantom-query>
<!--
    <nbia-days-from-baseline></nbia-days-from-baseline>

    <nbia-date-range-query></nbia-date-range-query>
    <nbia-subject-id-query></nbia-subject-id-query>
-->
</div>
