// -------------------------------------------------------------------------------------------
// ------------  Series History - popup in "Perform Quality Control"  not Cine mode  ---------
// -------------------------------------------------------------------------------------------

@import "../../../app.component";
@import "../../../popup.scss";

$qcReportTop: 100px;
$qcReportWidth: calc(100% - 40px);
$qcReportPadding: 6px;

.perform-qc-history-report-div {
    z-index: 5;
    position: absolute;
    top: $qcReportTop;
    width: $qcReportWidth;
    left: calc(50% - #{($qcReportWidth) / 2});
    margin: 0;
    resize: vertical;
}
