<!-- ----------  This is the customizable menu at the top.                       ---------- -->
<!-- ----------  The contents of this menu is read from assets/customMenu.json.  ---------- -->

<span class="custom-menu-span">

    <span *ngFor="let topMenuEntry of properties.CUSTOM_MENU_DATA">
        <span
            *ngIf="topMenuEntry['menuData'] !== undefined"
            class="dropdown custom-menu-dropdown-span"
            align="left"
        >
            <a class="custom-menu-no-dropdown " [href]=topMenuEntry.menuData.target TARGET="_blank">{{topMenuEntry.entryTitle}}</a>
        </span>
        <span
            *ngIf="topMenuEntry['menuDataDropdown'] !== undefined"
            class="dropdown custom-menu-dropdown-span"
            dropdown
            align="left"
        >
            <span class="custom-menu-dropdown-button" dropdown-open>{{topMenuEntry.entryTitle}}<span
                class="caret"></span></span>
            <ul class="dropdown-menu custom-menu-dropdown-ul">
                <li *ngFor="let subMenuElement of topMenuEntry.menuDataDropdown">

                    <!-- FIXME this should not be dependant on this specific text. -->
                    <a *ngIf="subMenuElement.menuText !== 'Search Data Portal'" class="btn-primary custom-menu-dropdown-li" [href]=subMenuElement.target TARGET="_blank">{{subMenuElement.menuText}}</a>
                    <a *ngIf="subMenuElement.menuText === 'Search Data Portal'" class="btn-primary custom-menu-dropdown-li" [href]="homeUrl" TARGET="_blank">{{subMenuElement.menuText}}</a>
                </li>

            </ul>
        </span>

    </span>

</span>
