@import '../../../app.component';
@import '../../../data-table';

.perform-online-deletion-number-column{
    width: 30px;
    padding-left: 10px;
}

.perform-online-deletion-div{
    padding-bottom: 5px;
}
