<!-- If seriesCount is -1, it has not been initialized.
     TODO - react to this.
-->
<div *ngIf="roleIsGood && seriesCount === 0">
    <div
        class="perform-online-deletion-no-series alert alert-info alert-box-shadow"
    >
        There are no series that need to be deleted.
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br />
</div>

<div *ngIf="roleIsGood && seriesCount !== 0">
    <div *ngIf="!deletedFlag" class="perform-online-deletion-caption">
        <span
            *ngIf="seriesCount === 1"
            [ngClass]="{
                'heading-font-extra-small': currentFont === '0',
                'heading-font-small': currentFont === '1',
                'heading-font-medium': currentFont === '2',
                'heading-font-large': currentFont === '3'
            }"
        >
            The following series has been approved for deletion.
        </span>
        <span
            *ngIf="seriesCount > 1"
            [ngClass]="{
                'heading-font-extra-small': currentFont === '0',
                'heading-font-small': currentFont === '1',
                'heading-font-medium': currentFont === '2',
                'heading-font-large': currentFont === '3'
            }"
        >
            The following {{ seriesCount }} series have been approved for
            deletion.
        </span>

        <button
            class="btn nbia-button perform-online-deletion-button"
            type="button"
            (click)="onPerformOnlineDeletionClick()"
        >
            <span
                [ngClass]="{
                    'heading-font-extra-small': currentFont === '0',
                    'heading-font-small': currentFont === '1',
                    'heading-font-medium': currentFont === '2',
                    'heading-font-large': currentFont === '3'
                }"
                >Delete
            </span>
        </button>
    </div>

    <div
        *ngIf="!deletedFlag"
        class="data-tableFixHead perform-online-deletion-results-scroller-div perform-online-deletion-main-div"
    >
        <table class="perform-online-deletion-results-table">
            <thead>
                <tr
                    class="data-table-thead-tr"
                    [ngClass]="{
                        'heading-font-extra-small': currentFont === '0',
                        'heading-font-small': currentFont === '1',
                        'heading-font-medium': currentFont === '2',
                        'heading-font-large': currentFont === '3'
                    }"
                >
                    <th class="perform-online-deletion-number-column">#</th>
                    <th class="data-table-thead-th">Series Instance UID</th>
                    <th class="data-table-thead-th">Project</th>
                    <th class="data-table-thead-th">Site Name</th>
                </tr>
            </thead>

            <tbody>
                <tr
                    *ngFor="
                        let series of seriesForDeletion;
                        let i = index;
                        let even = even;
                        let odd = odd
                    "
                    class="data-table-body-tr perform-online-deletion-results--tr"
                    [ngClass]="{
                        'data-table-body-dark-tr': odd,
                        'heading-font-extra-small': currentFont === '0',
                        'heading-font-small': currentFont === '1',
                        'heading-font-medium': currentFont === '2',
                        'heading-font-large': currentFont === '3'
                    }"
                >
                    <td class="data-table-body-td">{{ series["order"] }}</td>
                    <td class="data-table-body-td">
                        {{ series["seriesUID"] }}
                    </td>
                    <td class="data-table-body-td">{{ series["project"] }}</td>
                    <td class="data-table-body-td">{{ series["site"] }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="deletedFlag" class="online-deletion-message-div">
        <div class="panel online-deletion-message panel-info alert-box-shadow">
            <div>System is performing deletion now.</div>
            <div>
                A confirmation email will be sent after the deletion is
                completed.
            </div>
            <div>
                Do not upload images until you receive image deletion
                confirmation email to avoid database deadlock.
            </div>
        </div>
    </div>
</div>
<h4 *ngIf="!roleIsGood && userRoles != null">
    <p>
        User does not have authorization required for "<b
            >Perform Online Deletion</b
        >"
    </p>
    <p>
        Users role(s): <b>{{ userRoles }}</b>
    </p>
    Required role: <b>NCIA.DELETE_ADMIN</b>
</h4>
