<!------------------------------------------------------------------------------------------->
<!-----------------  The left vertical section containing all the search criteria  ---------->
<!------------------------------------------------------------------------------------------->

<div class="left-section-div">

    <div *ngIf="searchType === consts.CRITERIA_SEARCH">

        <nbia-query-qc-status
            [currentTool]="currentTool"
            *ngIf="currentTool !== consts.TOOL_APPROVE_DELETIONS"
        ></nbia-query-qc-status>

        <nbia-query-collection
            *ngIf="
                currentTool === consts.TOOL_PERFORM_QC ||
                currentTool === consts.TOOL_APPROVE_DELETIONS ||
                currentTool === consts.TOOL_EDIT_COLLECTION_DESCRIPTIONS
            "
            [currentTool]="currentTool"
        ></nbia-query-collection>
        <!-- These are still in their early stages of development -->
        <span *ngIf="properties.SHOW_DYNAMIC_QUERY_CRITERIA_TEST_PAGE && currentTool === consts.TOOL_DYNAMIC_SEARCH_TEST">
             <nbia-dynamic-query-criteria></nbia-dynamic-query-criteria>
        </span>


        <nbia-query-released [currentTool]="currentTool"></nbia-query-released>

        <nbia-query-batch [currentTool]="currentTool"></nbia-query-batch>

        <nbia-query-confirmed
            [currentTool]="currentTool"
        ></nbia-query-confirmed>

        <nbia-query-patient-id
            [currentTool]="currentTool"
        ></nbia-query-patient-id>

        <nbia-query-most-recent-submission-date
            [currentTool]="currentTool"
        ></nbia-query-most-recent-submission-date>
    </div>
    <!--
    We are not sure yet what kind of search we will put here.
    <div *ngIf="searchType===consts.TEXT_SEARCH">
        Text Search
    </div>
--></div>
