
@import 'src/app/tools/query-section-module/query-section/query-section.component';

.red-clear {
    position: absolute;
    left: $left-section-width - 47px;
}


.query-panel-checkboxes {
    color: #3a3a3a;
    margin-left: $query-criteria-content-left-margin;
    margin-bottom: 2px;
}

// TODO rename
.check-box{
    margin-right: 4px;
}

.query-panel-radio-button {
    color: #3a3a3a;
    margin-left: $query-criteria-content-left-margin;
    margin-bottom: 2px;
}

.radio-button {
    margin-right: 4px;
}



.left-section-div{
    margin:  0;

}



// For the top query panel, all the lower ones have no top border
.top-query-panel{
    border-top: solid 1px #cfcfcf;
}

.query-panel {
    //  background-color: #fff;
    border-bottom: solid 1px #cfcfcf;
    border-left: solid 1px #cfcfcf;
    border-right: solid 1px #cfcfcf;
    // padding-bottom: 8px;
}

/*For the individual query entry panels */
.query-panel-heading {
    color: $heading-text-color;
    background-color: #fff;
    padding: 7px 0 0 0;
    margin-left: $query-criteria-content-left-margin;
    margin-bottom: 11px;
    // font-size: 12pt;
    font: 16px arial, sans-serif;
}

.criteria-text{
    font: 15px arial, sans-serif;
}



.number-spinner {
    border: solid 1px #686868;
    border-radius: 3px;

    position: relative;
    top: 0px;
    padding: 0 4px 0 4px;
    margin: 10px 2px 10px 4px;
    width: 48px;
    height: 28px;
}

.disabled-spinner{
    color: #999;
    cursor: not-allowed;
}
