<div class="left-section-div">
    <div *ngIf="searchType===consts.CRITERIA_SEARCH">
        <nbia-query-qc-status
            [currentTool]="currentTool"
        ></nbia-query-qc-status>

        <nbia-query-collection
            [currentTool]="currentTool"
        ></nbia-query-collection>

        <nbia-query-released
            [currentTool]="currentTool"
        >
        </nbia-query-released>

        <nbia-query-batch [currentTool]="currentTool"
        ></nbia-query-batch>
        <nbia-query-confirmed [currentTool]="currentTool"
        ></nbia-query-confirmed>
        <nbia-query-patient-id [currentTool]="currentTool"
        ></nbia-query-patient-id>
        <nbia-query-most-recent-submission-date [currentTool]="currentTool"
        ></nbia-query-most-recent-submission-date>
    </div>

    <div *ngIf="searchType===consts.TEXT_SEARCH">
        Text Search
    </div>
</div>
