version: '2.1'

services:
  mysql:
    image: bitnami/mariadb:10.5.9
    volumes:
      - mariadb_data:/bitnami/mariadb
      - ./sql:/docker-entrypoint-initdb.d
      - ./my.cnf:/opt/bitnami/mariadb/conf/my_custom.cnf
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_ROOT_PASSWORD=Mysql1!.
      - MARIADB_USER=nbia_user
      - MARIADB_PASSWORD=nbia_password
      - MARIADB_DATABASE=nbiadb
    ports:
      - 3306:3306
    healthcheck:
      test: ['CMD', '/opt/bitnami/scripts/mariadb/healthcheck.sh']
      interval: 15s
      timeout: 5s
      retries: 6
    logging:
      options:
        max-size: 5m
  tomcat:
    build: ./
    volumes:
      - ./webapps/nbia-api.war:/usr/local/tomcat/webapps/nbia-api.war
      - ./webapps/nbia-download.war:/usr/local/tomcat/webapps/nbia-download.war
      - ./conf/context.xml:/usr/local/tomcat/conf/context.xml
      - ./conf/server.xml:/usr/local/tomcat/conf/server.xml
      - ./conf/jaas.config:/usr/local/tomcat/conf/jaas.config
      - ./lib/nbia.properties:/usr/local/tomcat/lib/nbia.properties
      - ./lib/mysql-connector-java-5.1.34.jar:/usr/local/tomcat/lib/mysql-connector-java-5.1.34.jar
      - ./lib/UIDNames.properties:/usr/local/tomcat/lib/UIDNames.properties
      - ./lib/userAgreement.txt:/usr/local/tomcat/lib/userAgreement.txt
      - ./lib:/usr/local/tomcat/lib/custom
      - /var/log/nbia-container-logs:/usr/local/tomcat/logs
      - ./dicoms:/opt/dicoms
    environment:
      - CATALINA_OPTS=-Djava.security.auth.login.config=/usr/local/tomcat/conf/jaas.config -Dlog4j.configuration=file:///usr/local/tomcat/lib/custom/log4j.properties -Dlog4j.configurationFile=file:///usr/local/tomcat/lib/custom/log4j2.properties -Xmx12G -Xms1G
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/nbia-api/up"]
      interval: 1m
      timeout: 5s
      retries: 3
    ports:
      - 8888:8080
    logging:
      options:
        max-size: 5m
  solr:
    image: docker.io/bitnami/solr:8
    environment:
      - SOLR_ENABLE_AUTHENTICATION=no
      - SOLR_CORE_CONF_DIR=/opt/solr_conf
      - SOLR_CORES=nbia
    volumes:
      - ./solr:/opt/solr_conf
    logging:
      options:
        max-size: 5m
  web:
    image: docker.io/nginx:latest
    volumes:
      - ./html:/var/www/html
      - ./nbia.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
    healthcheck:
      test: ["CMD", "service", "nginx", "status"]
    logging:
      options:
        max-size: 5m
  keycloak:
    image: bitnami/keycloak:22-debian-11
    volumes:
      - ./keycloak:/opt/bitnami/keycloak/data/import
    environment:
      KEYCLOAK_EXTRA_ARGS: "-Dkeycloak.migration.action=import 
                            -Dkeycloak.migration.provider=singleFile 
                            -Dkeycloak.migration.file=/opt/bitnami/keycloak/data/import/TCIA-realm.json
                            -Dkeycloak.migration.strategy=OVERWRITE_EXISTING 
                            -Dkeycloak.migration.usersExportStrategy=SAME_FILE
                            -Dkeycloak.profile.feature.upload_scripts=enabled
                            --http-relative-path=/auth"
      KEYCLOAK_CREATE_ADMIN_USER: true
      KEYCLOAK_DATABASE_VENDOR: dev-file
      KEYCLOAK_ADMIN_USER: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_RELAITVE_PATH: /auth
      # KEYCLOAK_IMPORT: /opt/jboss/keycloak/imports/realm-export.json
    ports:
      - 8080:8080
  openldap:
    image: bitnami/openldap:2
    volumes:
      - './ldap:/opt/ldapconf'
    ports:
      - '1389:1389'
      - '1636:1636'
    environment:
      - LDAP_ADMIN_USERNAME=admin
      - LDAP_ADMIN_PASSWORD=adminpassword
      # - LDAP_USERS=user01,user02,nbiaAdmin
      # - LDAP_PASSWORDS=password1,password2,admin
      - LDAP_CUSTOM_LDIF_DIR=/opt/ldapconf/nbia.ldif
volumes:
  mariadb_data:
    driver: local
