<div *ngIf="roleIsGood"
     class="qc-tool"
>

    <nbia-query-section
        [useQcStatusQuerySectionComponent]="true"
        [currentTool]="consts.TOOL_PERFORM_QC"
    >
    </nbia-query-section>

    <div class="display-query-div">
        <nbia-display-query
            [currentTool]="consts.TOOL_PERFORM_QC"
        ></nbia-display-query>
    </div>


</div>


<h4  *ngIf="! roleIsGood && ( userRoles !== undefined)" >
    <p>User does not have authorization required for "<b>Perform QC</b>"</p>
    <p>Users role(s): <b>{{userRoles}}</b></p>
    Required role: <b>NCIA.MANAGE_VISIBILITY_STATUS</b>
</h4>
