<!-- ----------  This is the left side Species list of check boxes.  ---------- -->
<div class="query-panel species-query-panel">

    <!-- ----------  Heading & hide/show buttons  ---------- -->
    <div class="query-panel-heading">

        <!-- Hide the Species list.  Still show the heading (with this img to its left) -->
        <span
                *ngIf="showCriteriaList"
                class="clicker"
                (click)="onShowCriteriaListClick(false)"
        >
            <img class="chevron-down-icon" src="assets/images/TOOLS/chevron_down_red.png">
            Species
        </span>

        <!-- Show the Species list -->
        <span
                *ngIf="!showCriteriaList"
                class="clicker"
                (click)="onShowCriteriaListClick(true)"
        >
            <img class="chevron-right-icon" src="assets/images/TOOLS/chevron_right_red.png">
            Species
        </span>

        <label
                *ngIf="checkedCount > 0"
                class="red-clear"
        >
            <img
                    class="clicker cart-button-icon"
                    src="assets/images/TOOLS/clear_red.png"
                    alt="Search"
                    (click)="onSpeciesClearAllClick(false)"
            >

        </label>

    </div>

    <!-- -----  This list of checkboxes, criteria texts, and count boxes  ----- -->
    <div
            [ngClass]="{
            'hide-div': !showCriteriaList
        }"
    >

        <div *ngFor="let criteria of criteriaList ; let i = index" class="query-panel-checkboxes">
            <span *ngIf="( criteria['seq']  < (  properties.CRITERIA_SHOW_COUNT + checkedCount) ) || showAll">
                <input type="checkbox"
                       class="check-box"
                       id="checkbox-species{{i}}"
                       [(ngModel)]="cBox[i]"
                       (click)="onCheckboxClick(i, $event.target['checked'])">

                <label
                    class="criteria-entry-text"
                    [attr.for]="'checkbox-species'+i">
                    {{criteria['description']}}
                </label>

                <span
                        [ngClass]="{
                          'count-box': criteria['count'] > 0,
                          'count-box_zero': criteria['count'] <= 0
                      }"
                >
                    {{criteria['count']}}/  {{criteria['unfilteredCount']}}
                </span>
            </span>
        </div>
    </div>

</div>
