@import '../../../../../../app.component.scss';


.cart-with-count {
    padding-left: 5px;
}

.cart-no-count {
    padding-left: 10px;
}

.cart-div .cart-span {

    padding-right: 0px;
   // width: 44px;
    margin-right: 0px;
    margin-left: 0px;

}
