@import 'src/app/app.component';
@import 'src/app/tools/query-section-module/query-section/query-section.component';
@import 'src/app/tools/query-section-module/dynamic-query-criteria/dynamic-query-criteria.component.scss';



.count-box {
    color: #fff;
    background-color: #5b5151;
    border-radius: 3px;
    padding: 1px 5px 1px 5px;
    margin-right: 15px;
   // float: right;
   // font-size: 8pt;
}


