<div class="query-panel">
    <div
        class="query-panel-heading"
        [ngClass]="{
            'heading-font-extra-small': currentFont === '0',
            'heading-font-small': currentFont === '1',
            'heading-font-medium': currentFont === '2',
            'heading-font-large': currentFont === '3'
        }"
    >
        <label *ngIf="haveInput" class="red-clear">
            <img
                class="clicker"
                src="../../../../../assets/images/redClear.png"
                alt="Clear"
                (click)="onClearClick()"
            />
        </label>

        <!-- No close/open icon, just show th Heading. -->
        <span *ngIf="!queryCriteriaData['dynamicQueryCriteriaOpenCloseButton']">
            {{ queryCriteriaData["dynamicQueryCriteriaHeading"] }}
        </span>

        <span *ngIf="queryCriteriaData['dynamicQueryCriteriaOpenCloseButton']">
            <span
                *ngIf="twoLevelMultiChoiceShowCriteria"
                class="clicker"
                (click)="onShowCriteriaClick(false)"
            >
                <img src="../../../../../assets/images/down_V01.png"/>
                {{ queryCriteriaData["dynamicQueryCriteriaHeading"] }}
            </span>
            <span
                *ngIf="!twoLevelMultiChoiceShowCriteria"
                class="clicker"
                (click)="onShowCriteriaClick(true)"
            >
                <img src="../../../../../assets/images/right_V01.png"/>
                {{ queryCriteriaData["dynamicQueryCriteriaHeading"] }}
            </span>
        </span>

        <!-- And / Or  -->
        <span>
            <!-- This user input includes And/Or radio buttons -->
            <span
                *ngIf="
                    queryCriteriaData['dynamicQueryCriteriaAndOrType'] ===
                    andOrTypes.AND_OR
                "
            >
                &nbsp;
                <span *ngFor="let option of options; let i = index">
                    <input
                        type="radio"
                        class="multi-list-input-and-or-radio-button"
                        name="large-text-input-and-or-radio-button-name{{
                            sequenceNumber
                        }}"
                        id="large-text-input-and-or-radio-button-id-{{ i }}-{{
                            sequenceNumber
                        }}"
                        (change)="onMultiListAndOrRadioClick(i)"
                        [checked]="cBox[i]"
                    />
                    <label
                        [attr.for]="
                            'large-text-input-and-or-radio-button-id-' +
                            i +
                            '-' +
                            sequenceNumber
                        "
                        class="criteria-text"
                    >
                        {{ option }}
                    </label>
                </span>
            </span>
            <!--  End of criteriaLargeTextInputAndOrType === andOrTypes.andOr  -->
            <!-- If server says: This is an "And"  -->
            <span
                *ngIf="
                    queryCriteriaData['dynamicQueryCriteriaAndOrType'] ===
                    andOrTypes.ONLY_AND
                "
            >
                &nbsp;&nbsp;&nbsp;(And)
            </span>
            <!-- If server says: This is an "Or"  -->
            <span
                *ngIf="
                    queryCriteriaData['dynamicQueryCriteriaAndOrType'] ===
                    andOrTypes.ONLY_OR
                "
            >
                &nbsp;&nbsp;&nbsp;(Or)
            </span>
            <!-- If server says: Don't display an And/Or  -->
            <!--
                <span *ngIf="criteriaLargeTextInputAndOrType === andOrTypes.none">
                    Nothing
                </span>
                -->
        </span>
        <!-- Search (filter) List. -->
        <label
            class="dynamic-criteria-list-search"
            [ngClass]="{
                'dynamic-criteria-list-search-with-clear': haveInput
            }"
            (click)="onSearchGlassClick()"
        >
            <img
                class="clicker"
                src="assets/images/search.png"
                alt="Search collections"
            />
        </label>
        <!-- ---------------------------------------------------------------- -->
        <!--

                <div *ngFor="let item  of queryCriteriaData['dynamicQueryCriteriaDataArray']; let i = index">
                    [{{i}}]: {{item}}
                </div>
        -->
    </div>
    AAAAAAAAAAAAAA
    <!-- -----  Criteria list search input (Red magnifying glass)  ----- -->
    <div *ngIf="showListSearch" class="list-search-box">
        <input
            type="text"
            class="list-search-text-area multi-list-box-with-focus"
            id="collectionsSearchText"
            placeholder="search"
            [(ngModel)]="listSearchInput"
            (blur)="onSearchTextOutFocus(0)"
            (focus)="onSearchTextFocus(0)"
            (ngModelChange)="onSearchChange($event)"
        />
    </div>
    <!-- -----  End Search input  ----- -->

    <!-- ---------------------------------------------------------------- -->
    <div
        class="list-scroller-div"
        (resized)="onResized($event)"
        [ngClass]="{
            hide: !twoLevelMultiChoiceShowCriteria
        }"
    >
        <div class="list-scroller">
            <div class="list-scroller-content" id="collections">
                <div
                    *ngFor="
                        let item of queryCriteriaData[
                            'dynamicQueryCriteriaDataArray'
                        ];
                        let i = index
                    "
                    class="list-panel-radio-button"
                >
                    <!-- -----  Dropdown menu  -----  -->
                    <span
                        *ngIf="subMenuType === 0"
                        class="dropdown clicker criteria-text"
                    >
                        <button
                            class="btn admin-dropdown-button text-left dropdown-toggle"
                            data-toggle="dropdown"
                            type="button"
                        >
                            <span
                                [ngClass]="{
                                    'font-extra-small': currentFont === '0',
                                    'font-small': currentFont === '1',
                                    'font-medium': currentFont === '2',
                                    'font-large': currentFont === '3'
                                }"
                            >
                                <span
                                    class="count-box"
                                    [ngClass]="{
                                        'font-extra-small': currentFont === '0',
                                        'font-small': currentFont === '1',
                                        'font-medium': currentFont === '2',
                                        'font-large': currentFont === '3'
                                    }"
                                >
                                    {{ itemsSelected[i] }}
                                </span>
                                {{ item.item }}
                            </span>
                        </button>

                        <div class="dropdown-menu pb-0">
                            <a
                                class="dropdown-item admin-dropdown-outline"
                                *ngFor="
                                    let subItem of item['subItems'];
                                    let c = index
                                "
                                (click)="onSubItemDropdownClick(i, c)"
                            >
                                <span
                                    [ngClass]="{
                                        'font-extra-small': currentFont === '0',
                                        'font-small': currentFont === '1',
                                        'font-medium': currentFont === '2',
                                        'font-large': currentFont === '3'
                                    }"
                                >
                                    <img
                                        *ngIf="
                                            subItemsSelected !== undefined &&
                                            subItemsSelected[i][c]
                                        "
                                        src="assets/images/check.png"
                                        alt=""
                                    />
                                    {{ subItem }}
                                </span>
                            </a>
                        </div>
                    </span>
                    <!--  END Dropdown menu  -->


                    <!-- Menu Type 1 -->
                    <span *ngIf="subMenuType === 1">
                        <span
                            [ngClass]="{
                                'font-extra-small': currentFont === '0',
                                'font-small': currentFont === '1',
                                'font-medium': currentFont === '2',
                                'font-large': currentFont === '3'
                            }"
                        >
                            <img
                                *ngIf="itemsSelected[i] > 0"
                                src="assets/images/check.png"
                                alt=""
                            /> {{ item.item }}
                        </span>

                        <div>
                            <label for="multi-choice-checkbox{{ i }}:{{c}}"
                                class="dropdown-item admin-dropdown-outline"
                                *ngFor="
                                    let subItem of item['subItems'];
                                    let c = index
                                "
                                (click)="onSubItemDropdownClick(i, c)"
                            >
                                <input
                                    type="checkbox"
                                    class="multi-list-checkbox"
                                    id="multi-choice-checkbox{{ i }}:{{c}}"
                                    [ngModel]="subItemsSelected[i][c]"
                                />

                                <label
                                    [attr.for]="'multi-choice-checkbox' + i"
                                    class="criteria-text"
                                >
                                    {{ subItem }}
                                </label>
                            </label>
                        </div>
                    </span>
                    <!--  END Menu type 1  -->
                </div>
            </div>
        </div>
    </div>
    XXXXXXXXXXXXXXXXXXX
</div>
ZZZZZZZZZZZZZZZZZZZZ
<hr/>
