@import 'src/app/app.component';
@import 'src/app/tools/query-section-module/query-section/query-section.component';
@import 'src/app/tools/query-section-module/dynamic-query-criteria/dynamic-query-criteria.component.scss';



.count-box {
    color: #fff;
    background-color: #5b5151;
    border-radius: 3px;
    padding: 1px 5px 1px 5px;
    margin-right: 15px;
   // float: right;
   // font-size: 8pt;
}


.list-panel-radio-button {
    color: #3a3a3a;
    margin-left: $list-content-left-margin;
    margin-bottom: 2px;
}



.dynamic-criteria-list-search{
    position: absolute;
    left: $left-section-width - 47px;
}


// Make room for the clear icon if there is one.
.dynamic-criteria-list-search-with-clear{
    position: absolute;
    left: $left-section-width - 64px;
}
