@import '../../../app.component';
@import '../../../popup.scss';

$edit-lic-height: 500px;
$edit-lic-delete-confirm-min-width: 650px;


.edit-license-description-tool {
    /* keep the dropdown section and the Display section side by side.  */
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.admin-dropdown-div {
    padding-right: 8px;
    margin-right: 20px;
}

.edit-lic-div {
    height: $edit-lic-height;
}

td {
    padding: 6px;
}

.edit-lic-button-div {
    float: right;
}

.edit-lic-button {
    margin-left: 5px;
}

.edit-lic-button:disabled {
    margin-left: 5px;
    cursor: not-allowed;
}

.edit-lic-left-td {
    padding: 10px 15px 0 25px;
    text-align: right;
}

.edit-lic-right-td {
    margin: 3px;
}

.edit-lic-checkbox-label {
    float: right;
    font-weight: normal;
}

.edit-lic-commercial-td {
    text-align: left;
    padding-left: 10px;
}

// Text input on the right
.edit-lic-input {
    min-width: 540px;
}

.edit-lic-no-dropdown {
    color: #fff;
}

.edit-lic-no-dropdown {
    text-decoration: none;
}

.delete-box {
    position: absolute;
    // width: $edit-lic-delete-confirm-min-width;
    // width: auto;
    // left: calc(50% - #{($edit-lic-delete-confirm-min-width / 2)});
    top: 200px;
    padding: 0;
}


.edit-license-heading {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


// .cursor-draggable isn't working for me, this is a workaround.
.edit-license-panel-heading:hover {
    cursor: grab;
}

/*  Apply a "closed-hand" cursor during drag operation. */
.edit-license-panel-heading:active {
    cursor: grabbing;
}

/*  Apply a "closed-hand" cursor during drag operation. */
.edit-license-panel-heading-moving {
    cursor: grabbing;
}

.edit-license-confirm-delete-buttons-div {
    float: right;;
}

.edit-license-confirm-delete-text0 {
    font-size: large;
}

.edit-license-confirm-delete-text1 {
    font-size: large;
    color: $close-x-red;
}

.edit-lic-unsaved-changes-text {
    color: $close-x-red;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
}


.top-edit-lic-radio-tr {
    margin-bottom: 0;
    padding-bottom: 0;
}

.bottom-edit-lic-radio-tr {
    margin-top: 0px;
    padding-top: 0px;
}

.top-edit-lic-radio-td {
    margin-bottom: 0;
    padding-bottom: 0;
}

.bottom-edit-lic-radio-td {
    margin-top: 0px;
    padding-top: 0px;
}

.edit-lic-warning{
    color: $close-x-red;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;

}
