<!------------------------------------------------------------------------------------------->
<!-------------------------     Collection search criteria        --------------------------->
<!------------------------------------------------------------------------------------------->

<div
    *ngIf="
        currentTool === consts.TOOL_PERFORM_QC ||
        currentTool === consts.TOOL_APPROVE_DELETIONS ||
        currentTool === consts.TOOL_EDIT_COLLECTION_DESCRIPTIONS
    "
    class="query-panel"
    [ngClass]="{
        'top-query-panel':
            currentTool === consts.TOOL_APPROVE_DELETIONS ||
            currentTool === consts.TOOL_EDIT_COLLECTION_DESCRIPTIONS
    }"
>
    <!-- ----------  Heading & hide/show buttons  ---------- -->
    <div
        class="query-panel-heading"
        [ngClass]="{
            'heading-font-extra-small': currentFont === '0',
            'heading-font-small': currentFont === '1',
            'heading-font-medium': currentFont === '2',
            'heading-font-large': currentFont === '3'
        }"
    >
        <!-- Hide the Collection radio button list.  Still show the heading (with this img to its left) -->
        <span
            *ngIf="showCriteriaList"
            class="clicker"
            (click)="onShowCriteriaListClick(false)"
        >
            <img src="assets/images/down_V01.png"/>
            Collection
        </span>

        <!-- Show the Collection radio button list -->
        <span
            *ngIf="!showCriteriaList"
            class="clicker"
            (click)="onShowCriteriaListClick(true)"
        >
            <img src="assets/images/right_V01.png" />
            Collection<small>&nbsp;({{ currentCollectionName }})</small>
        </span>

        <!-- Search (filter) Collections. -->
        <label
            [ngClass]="{
                'query-collection-search-extra-small': currentFont === '0',
                'query-collection-search-small': currentFont === '1',
                'query-collection-search-medium': currentFont === '2',
                'query-collection-search-large': currentFont === '3'
            }"
            title="{{searchToolTip}}"
            (click)="onSearchGlassClick()"
        >
            <img
                class="clicker"
                src="assets/images/search.png"
                alt="Search collections"
            />
        </label>
    </div>

    <!-- -----  Criteria list search input (Red magnifying glass)  ----- -->
    <div *ngIf="showSearch" class="search-box">
        <input
            type="text"
            class="search-text-area"
            id="collectionsSearchText"
            placeholder="search"
            [ngClass]="{
                'box-with-focus': searchHasFocus,
                'font-extra-small': currentFont === '0',
                'font-small': currentFont === '1',
                'font-medium': currentFont === '2',
                'font-large': currentFont === '3'
            }"
            [(ngModel)]="searchInput"
            (blur)="onSearchTextOutFocus(0)"
            (focus)="onSearchTextFocus(0)"
            (ngModelChange)="onSearchChange($event)"
        />
    </div>
    <!-- -----  End Search input  ----- -->

    <!-- -----  Collection List  ----- -->
    <!-- (resized)="onResized($event)" -->
    <div
        class="collection-list-div"
        [ngClass]="{
            hide: !showCriteriaList,
            'font-extra-small': currentFont === '0',
            'font-small': currentFont === '1',
            'font-medium': currentFont === '2',
            'font-large': currentFont === '3'
        }"
    >
        <div class="collection-scroller">
            <div class="collection-scroller-content" id="collections">
                <div
                    *ngFor="let collection of collections; let i = index"
                    class="query-panel-radio-button"
                    [ngClass]="{
                        hide: !collection['include']
                    }"
                >
                    <input
                        type="radio"
                        class="radio-button"
                        name="collectionsRadio"
                        id="collections-radio{{ i }}"
                        (click)="onCriteriaClicked(i)"
                        [checked]="cBox[i]"
                    />

                    <label
                        [attr.for]="'collections-radio' + i"
                        [ngClass]="{
                            hide: !showCriteriaList,
                            'font-extra-small': currentFont === '0',
                            'font-small': currentFont === '1',
                            'font-medium': currentFont === '2',
                            'font-large': currentFont === '3'
                        }"
                    >
                        {{ collection["name"] }}
                    </label>
                </div>
            </div>
        </div> <!-- -----  END collection-scroller  ----- -->
    </div> <!-- -----  END Collection List  ----- -->

</div>
