<div *ngIf="currentTool===consts.TOOL_PERFORM_QC ||
            currentTool===consts.TOOL_APPROVE_DELETIONS ||
            currentTool===consts.TOOL_EDIT_COLLECTION_DESCRIPTIONS "
     class="query-panel collection-query-panel"
     [ngClass]=" {
           'top-query-panel': currentTool===consts.TOOL_APPROVE_DELETIONS|| currentTool===consts.TOOL_EDIT_COLLECTION_DESCRIPTIONS
       }"
>

    <!-- ----------  Heading & hide/show buttons  ---------- -->
    <div class="query-panel-heading">

        <!-- Hide the Collection radio button list.  Still show the heading (with this img to its left) -->
        <span
            *ngIf="showCriteriaList"
            class="clicker"
            (click)="onShowCriteriaListClick(false)"
        >
            <img src="assets/images/down_V01.png">
            Collection
        </span>

        <!-- Show the Collection radio button list -->
        <span
            *ngIf="!showCriteriaList"
            class="clicker"
            (click)="onShowCriteriaListClick(true)"
        >
            <img src="assets/images/right_V01.png">
            Collection<small>&nbsp;({{currentCollectionName}})</small>
        </span>


        <!-- Search (filter) Collections. -->
        <label class="query-collection-search"
               (click)="onSearchGlassClick()"
        >
            <img
                class="clicker"
                src="assets/images/search.png"
                alt="Search collections"
            >
        </label>


    </div>


    <!-- -----  Criteria list search input (Red magnifying glass)  ----- -->
    <div *ngIf="showSearch" class="search-box">

        <input type="text" class="search-text-area" id="collectionsSearchText" placeholder="search"
               [ngClass]="{
                       'box-with-focus':searchHasFocus
                   }"
               [(ngModel)]="searchInput"
               (blur)="onSearchTextOutFocus(0)"
               (focus)="onSearchTextFocus(0)"
               (ngModelChange)="onSearchChange($event)">
    </div>
    <!-- -----  End Search input  ----- -->


    <div class="collection-scroller-div"
         (resized)="onResized($event)"

         [ngClass]="{
           'hide': ! showCriteriaList
       }"
    >

        <div class="collection-scroller">

            <div class="collection-scroller-content" id="collections">
                <div *ngFor="let collection of collections; let i = index"
                     class="query-panel-radio-button"
                     [ngClass]="{
                                     'hide': ! collection['include']
                                 }"
                >
                    <input type="radio"
                           class="radio-button"
                           name="collectionsRadio"
                           id="collections-radio{{i}}"
                           (click)="onCriteriaClicked(i)"
                           [checked]="cBox[i]"
                    >

                    <label [attr.for]="'collections-radio'+i"
                           class="criteria-text"
                    >
                        {{collection['name']}}
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>
