// -------------------------------------------------------------------------------------------
// -------------------------     Collection search criteria        ---------------------------
// -------------------------------------------------------------------------------------------

@import 'src/app/tools/query-section-module/query-section/query-section.component';

.query-collection-search{
    position: absolute;
}

// Position the magnifying glass search icon/button.
.query-collection-search-extra-small{
    @extend .query-collection-search;
    left: $left-section-width-extra-small - 47px;
}
.query-collection-search-small{
    @extend .query-collection-search;
    left: $left-section-width-small - 47px;
}
.query-collection-search-medium{
    @extend .query-collection-search;
    left: $left-section-width-medium - 47px;
}
.query-collection-search-large{
    @extend .query-collection-search;
    left: $left-section-width-large - 47px;
}

// Hide highlight border of text input within Search frame
.box-with-focus {
    outline: none;
}

// For searching/filtering the list of collections.
.search-box {
    border: solid 1px $criteriaQueryBorderColor;
    border-radius: 4px;
    padding: 0 0 0 12px;
    margin-left: 15pt;
    margin-bottom: 10pt;
    height: 34px;
    width: calc(100% - 35px);
}

.search-text-area {
    border-style: none;
    height: 30px;
    width: calc(100% - 25px);
}

.search-text-area-x {
    margin: 6px 6px 0 0;
    cursor: pointer;
}

.collection-list-div {
    padding-bottom: 12px;
    resize: vertical;
    overflow: auto;
}

.collection-scroller{
    height: 100%;
}

.collection-scroller-content {
    height: $query-collection-start-height;
}

