@import 'src/app/tools/query-section-module/query-section/query-section.component';


.query-collection-search{
    position: absolute;
    left: $left-section-width - 47px;

}

/* Trying to clean this up for Chrome */
.box-with-focus {
    outline: none;
}


.search-box {
    border: solid 1px #cfcfcf;
    border-radius: 4px;
    padding: 0 0 0 12px;
    margin-left: 15pt;
    margin-bottom: 10pt;
    height: 34px;
    width: calc(100% - 35px);
}

/* Trying to clean this up for Chrome */
.box-with-focus {
    outline: none;
}

.search-text-area {
    border-style: none;
    height: 30px;
    width: calc(100% - 25px);
}

.search-text-area-x {
    margin: 6px 6px 0px 0px;
    cursor: pointer;
}

.collection-scroller-div {
    padding-bottom: 12px;
    resize: vertical;
    overflow: auto;
}

.collection-scroller{
    height: 100%;
}

.collection-scroller-content {
    height: $query-collection-start-height;
}

