/*L
 *  Copyright SAIC, Ellumen and RSNA (CTP)
 *
 *
 *  Distributed under the OSI-approved BSD 3-Clause License.
 *  See http://ncip.github.com/national-biomedical-image-archive/LICENSE.txt for details.
 */

/* ********************************* BEGIN ELEMENT-BASED RULES ***************************************/
/* this is a hack for IE6 which doesnt inherit font-size values properly through tables.
   i think other table rules will be more specific and therefore supersede this where necessary */
table {
  font-size: 1em;
}

body {
  background:-webkit-gradient(linear, left top, left bottom, from(#d6d6d4), to(#ffffff)) scroll 0 0 repeat-x ;
  background:-moz-linear-gradient(center top , rgb(214, 214, 212), rgb(255, 255, 255)) repeat-x scroll 0% 0% transparent; 
  background:-ms-filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#d6d6d4, endColorStr=#ffffff,GradientType=1);
  padding-right: 0px; 
  padding-left: 0px; 
  padding-bottom: 0px; 
  margin: 0px; 
  padding-top: 0px
}

a:link {
  color: #0000CC; 
  text-decoration: underline;
  border:0px;
}

a:visited {
  color: #551a8b; 
  text-decoration: underline
}

a:active {
  color: #0033CC; 
  text-decoration: underline; 
  border:0px;
}

a:hover {
  color: #a90101
}

h2 {
  font-weight: bold; 
  font-size: 1.6em; 
  color: #5c5c5c; 
  text-align: center
}

h3 {
  font-weight: bold; 
  font-size: 1.3em
}

p {
  padding-left: 1em
}
/* ********************************* END ELEMENT-BASED RULES ***************************************/


/* ********************************* BEGIN MAIN LAYOUT RULES ***************************************/
/*.hdrBG {
  background-color: #a90101
}*/

.subhdrBG {
  background-color: #475b82
}

.ftrTable {
  padding-top: 0.4em
}
table.hdrBG {
  background:-webkit-gradient(linear, left top, left bottom, from(#fbfcfc), to(#d6d6d4));
  background:-moz-linear-gradient(center top , rgb(251, 252, 252), rgb(214, 214, 212)) repeat-x scroll 0% 0% transparent; 
  background:-ms-filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#fbfcfc, endColorStr=#d6d6d4,GradientType=0);
  border-right: thin solid #798d93;
  border-left: thin solid #798d93;
}
table.portal-footer {
  margin-left: auto; 
  margin-right: auto;
}

tr.portal-footer{
  text-align: center; 
  font-size: 79%; 
}

a.portal-footer {
  text-decoration: none; 
  color: #333333; 
  border: none; 
  line-height: 1.1em;
}

a.portal-footer:visited {
  color: #333333;
}

a.portal-footer:hover {
  text-decoration: underline;
}

#portal-footer { 
  text-align: center; 
  color: #333333; 
  font-size: 79%; 
  line-height: 3.2em;
}

#portal-footer a {
  text-decoration: none; 
  color: #333333; 
  border: none;
}

#portal-footer a:visited {
  color: #333333;
}

#portal-footer a:hover {
  text-decoration: underline;
}

.footerLinks {
  padding: .5em 0em 0em 0em;
}

td.mainMenu {
  border-top: #cccccc 1px solid; 
  border-bottom: #cccccc 1px solid; 
  font-family: arial,helvetica,verdana,sans-serif; 
  background-color: #5c5c5c;
}

td.mainMenuText {
  padding-right: 1em; 
  padding-left: 1em; 
  font-weight: bold; 
  font-size: 0.7em; 
  color: #ffffff;
  background-color: #4C5D87;
}

td.mainMenuItem {
  padding-right: 1em; 
  padding-left: 1em; 
  font-weight: bold; 
  font-size: 0.82em; 
  color: #ffffff;
  background-color: #4C5D87;
}

td.mainMenuItem ul{
  display: none;
  margin: 0;
  font-size: 1.0em;
  text-align: left;
  color: #ffffff; 
}

td.mainMenuItem:hover {
  background-color: #d6d6d4;
  color: #000000; 
}


td.mainMenuItem:hover ul  {
  display: block;
  position: absolute;
  padding:0;
  margin: auto;
  margin-left: -1em;
  
  background-color: #4C5D87;
}

td.mainMenuItem li {
  color: #FFFFFF; 
  white-space: nowrap; 
  list-style: none;
  Padding-top: 6px;
  Padding-right: 7px;
  Padding-bottom: 5px;
  Padding-left:  5px;
  border-bottom: 1px solid #EFEFEF;
}

td.mainMenuItem li a {
  
  color: #FFFFFF; 
  text-decoration: none;
	 
}
td.mainMenuItem li a:hover {
  color: #000000; 
  background-color: #d6d6d4;
}

td.mainMenuItem li:hover {
  color: #000000; 
  background-color: #d6d6d4;
}


td.mainMenuItemOver {
  padding-right: 1em; 
  padding-left: 1em; 
  font-weight: bold; 
  font-size: 0.8em; 
  background-color: #d6d6d4
}

a.mainMenuLink:link {
  color: #ffffff; 
  white-space: nowrap; 
  text-decoration: none;
 
}

a.mainMenuLink:visited {
  color: #ffffff; 
  white-space: nowrap; 
  text-decoration: none
}

a.mainMenuLink:active {
  color: #ffffff; 
  white-space: nowrap; 
  text-decoration: none
}

a.mainMenuLink:hover {
  color: #ffffff
  text-decoration: none
}


td.footerMenu {
  border-top: #cccccc 1px solid; 
  border-bottom: #cccccc 1px solid; 
  font-family: arial,helvetica,verdana,sans-serif; 
  background-color: #5c5c5c
}

td.footerMenuItem {
  padding-right: 1em; 
  padding-left: 1em; 
  font-weight: bold; 
  font-size: 0.6em; 
  background-color: #5c5c5c
}

td.footerMenuItemOver {
  padding-right: 1em; 
  padding-left: 1em; 
  font-weight: bold; 
  font-size: 0.6em; 
  background-color: #475b82
}

td.subMenu {
  font-family: arial,helvetica,verdana,sans-serif; 
  background-color: #6e81a6
}

td.subMenuPrimaryTitle {
  border-right: #cccccc 1px solid; 
  border-top: #cccccc 1px solid; 
  padding-left: 0.8em; 
  font-weight: bold; 
  font-size: 0.6em; 
  color: #ffffff; 
  border-bottom: #cccccc 1px solid; 
  background-color: #5c5c5c
}

td.subMenuPrimaryItems {
  border-right: #cccccc 1px solid; 
  padding-left: 0.3em; 
  font-weight: bold; 
  font-size: 0.6em; 
  padding-bottom: 0.8em; 
  padding-top: 0.8em; 
  background-color: #F8F8F8
}

td.subMenuSecondaryTitle {
  border-right: #cccccc 1px solid; 
  padding-left: 0.8em; 
  font-weight: bold; 
  font-size: 0.6em; 
  color: #ffffff; 
  border-bottom: #cccccc 1px solid;
  background-color: #F8F8F8;
  text-decoration: underline
}

td.subMenuSecondaryTitleOver {
  border-right: #cccccc 1px solid; 
  padding-left: 0.8em; 
  font-weight: bold; 
  font-size: 0.6em; 
  color: #ffffff; 
  border-bottom: #cccccc 1px solid;
  background-color: #F8F8F8
  
}

td.subMenuFill {
  border-right: #cccccc 1px solid
}

/*
a.subMenuPrimary {
  color: #FFFFFF; 
  white-space: nowrap; 
  text-decoration: underline;
  Padding-top: 6px;
  Padding-right: 7px;
  Padding-bottom: 5px;
  Padding-left:  5px;
  border-bottom: 1px solid #EFEFEF;
}


a.subMenuPrimary:link {
  color: #ffffff; 
  white-space: nowrap; 
  text-decoration: none
  
}

a.subMenuPrimary:visited {
  color: #ffffff; 
  white-space: nowrap; 
  text-decoration: none
}

a.subMenuPrimary:active {
  color: #ffffff; 
  white-space: nowrap; 
  text-decoration: none
}

a.subMenuPrimary:hover {
  color: #a90101
}

a.mainMenuLink:link {
  color: #ffffff; 
  white-space: nowrap; 
  text-decoration: none
}

#subMenuPrimary {
  Padding-top: 6px;
  Padding-right: 7px;
  Padding-bottom: 5px;
  Padding-left:  5px;
  border-bottom: 1px solid #EFEFEF;
}

*/

a.mainMenuLink:visited {
  color: #ffffff; 
  white-space: nowrap; 
  text-decoration: none
}

a.mainMenuLink:active {
  color: #ffffff; 
  white-space: nowrap; 
  text-decoration: none
}

a.mainMenuLink:hover {
  color: #000000;
}

a.footerMenuLink:link {
  color: #000000; 
  white-space: nowrap; 
  text-decoration: none
}

a.footerMenuLink:visited {
  color: #000000; 
  white-space: nowrap; 
  text-decoration: none
}

a.footerMenuLink:active {
  color: #000000; 
  white-space: nowrap; 
  text-decoration: none
}

a.footerMenuLink:hover {
  color: #a90101
}
/* ********************************* END MAIN LAYOUT RULES ***************************************/

.errorLabel {
  color:#FF0000;
  font-family: arial,helvetica,verdana,sans-serif; 
  text-align: left
}
.infoLabel {
  color: blue; 
  font-family: arial,helvetica,verdana,sans-serif; 
  text-align: left
}
.formLabel{
  font-family:arial,helvetica,verdana,sans-serif;
  background-color:#F4F4F5;
  color:#000000;
  border-right:1px solid #5C5C5C;
  border-bottom:1px solid #5C5C5C;
  text-align:left;
  border-left: 1px solid #5C5C5C;
}

.formTitle{
  font-family:arial,helvetica,verdana,sans-serif;
  font-weight:bold;
  padding-left:0.8em;
  background-color:#999999;
  color:#FFFFFF;
  border-right-color: #666666;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-color: #666666;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-color: #666666;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: #666666;
  border-top-style: solid;
  border-top-width: 1px;
}
td.formField{ /* for the cell that contains the form elements */
  font-family:arial,helvetica,verdana,sans-serif;
  color:#000000; /* constant: black */
  border-right:1px solid #5C5C5C; /* constant: dark gray */
  border-bottom:1px solid #5C5C5C; /* constant: dark gray */
  background-color:#F4F4F5; /* constant: light gray */
}

input.formField {
  border-right: #5c5c5c 1px solid;
  border-top: #5c5c5c 1px solid; 
  font-size: 1em; 
  border-left: #5c5c5c 1px solid; 
  border-bottom: #5c5c5c 1px solid; 
  font-family: arial,helvetica,verdana,sans-serif
}

td.formFieldWhite {
  font-family:arial,helvetica,verdana,sans-serif;
  font-size:0.7em;
  color:#000000; /* constant: black */
  border-right:1px solid #5C5C5C; /* constant: dark gray */
  border-bottom:1px solid #5C5C5C; /* constant: dark gray */
  background-color:#FFFFFF; /* constant: light gray */
}

td.formFieldLogin {
  font-size: 0.7em; 
  color: #000000; 
  font-family: arial,helvetica,verdana,sans-serif
}




input.actionButton {
  border-right: #5c5c5c 2px solid; 
  border-top: #cccccc 1px solid; 
  border-left: #cccccc 1px solid; 
  border-bottom: #5c5c5c 2px solid
}
.formMessage {
  color: #000000; 
  font-family: arial,helvetica,verdana,sans-serif
}


.dataTablePrimaryLabel {
  text-align: left;
  font-weight: bold; 
  color: #ffffff; 
  font-family: arial,helvetica,verdana,sans-serif; 
  background-color: #6E81A6
}

.dataTableHeader {
  border-right: #5c5c5c 1px solid; 
  font-weight: bold; 
  color: #000000; 
  border-bottom: #5c5c5c 1px solid; 
  font-family: arial,helvetica,verdana,sans-serif; 
  background-color: #cccccc
}
.dataTable {
  border-top: #5c5c5c 1px solid; 
  border-left: #5c5c5c 1px solid; 
  color: #000000; 
  font-family: arial,helvetica,verdana,sans-serif
}

.columnClasses1{
  width: 4%;
		
}

.columnClasses2{
  width: 14%;
}

.columnClasses3{  
  width: 10%;
}

.columnClasses4{
  width: 8%;
	
}

.columnClasses5{
  width: 17%;
	
}

.columnClasses6{
  width: 8%;
	
}

.columnClasses7{
  width: 13%;
	
}

.columnClasses8{
  width: 7%;
	
}

.columnClasses9{
  width: 6%;
	
}

.columnClasses10{
  width: 7%;
	
}

.columnClasses11{
  width: 6%;
	
}

.seriesDataCell {
  padding-left: 3px;
  border-right: #5c5c5c 1px solid; 
  border-bottom: #5c5c5c 1px solid;     
}
.dataRowLight {
  color: #000000; 
  background-color: #ffffff
}
.dataRowDark {
  color: #000000; 
  background-color: #f4f4f5
}
.dicomDataRowLight {
  border-right: #5c5c5c 1px solid;
  border-bottom: #5c5c5c 1px solid; 
  color: #000000; 
  background-color: #ffffff; 
  padding-left: 1.2em;
}
.dicomDataRowDark {
  border-right: #5c5c5c 1px solid; 
  border-bottom: #5c5c5c 1px solid; 
  color: #000000; 
  background-color: #f4f4f5; 
  padding-left: 1.2em;
}
.dataCellText {
  border-top: #5c5c5c 1px solid; 
  border-left: #5c5c5c 1px solid; 
  border-right: #5c5c5c 1px solid;
  border-bottom: #5c5c5c 1px solid;
  text-align: left
}

table.contentPage {
  padding-right: 5px; 
  padding-left: 5px; 
  font-size: 0.7em; 
  color: #000000; 
  font-family: arial,helvetica,verdana,sans-serif
}
table.contentPageII { 
  color: #000000; 
  font-family: arial,helvetica,verdana,sans-serif
}
/* ********************************* BEGIN WELCOME/HOME RULES ***************************************/
.sidebarBackground {
  border-right: #cccccc 1px solid;
  border-left: #cccccc 1px solid;
  background-color: #f4f4f5;
}

.sidebarSection {
  font-size: 0.7em; 
  font-family: verdana, arial, helvetica, sans-serif; 
  background-color: #f4f4f5
}

.sidebarTitle {
  padding-left: 0.7em; 
  font-weight: bold; 
  font-size: 1em; 
  color: #ffffff; 
  background-color: #5c5c5c
}

.sidebarContent {
  border-right: #cccccc 1px solid;
  padding-right: 0.8em;
  padding-left: 0.8em;
  font-size: 1em;
  padding-bottom: 0.8em;
  border-left: #cccccc 1px solid;
  padding-top: 0.8em;
  border-bottom-color: #999999;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.homePageContent {
  padding-right: 0.4em;
  padding-left: 0.4em;
  font-size: .7em;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
    line-height: 1.2em;  
  font-family: verdana, arial, helvetica, sans-serif;
}

.sidebarLogin {
  padding-left: 0.8em; 
}

.bannerHome {
  border-right: #cccccc 1px solid; 
  background-color: #475b82
}

.welcomeTitle {
  border-top: #cccccc 1px solid; 
  padding-left: 1em; 
  font-weight: bold; 
  font-size: 0.7em; 
  font-family: verdana, arial, helvetica, sans-serif; 
  background-color: #cccccc
}

.welcomeTitleMain {
  border-top: #cccccc 1px solid;
  font-weight: bold; 
  font-size: 0.7em; 
  font-family: verdana, arial, helvetica, sans-serif; 
  background-color: #cccccc
}

.welcomeContent {
  padding-right: 1em; 
  padding-left: 1em; 
  font-size: .7em; 
  padding-bottom: 1em; 
  line-height: 1.5em; 
  padding-top: 1em; 
  font-family: arial,helvetica,verdana,sans-serif
}
/* ********************************* END WELCOME/HOME RULES ***************************************/

.formTitleII {  
  font-family:arial,helvetica,verdana,sans-serif;
  font-weight:bold;
  padding-left:0.8em;
  background-color:#999999;
  color:#FFFFFF;
  border-right-color: #666666;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #666666;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: #666666;
  border-top-style: solid;
  border-top-width: 1px;
}
.formTitleIII {
  font-family:arial,helvetica,verdana,sans-serif;
  font-weight:bold;
  padding-left:0.8em;
  background-color:#999999;
  color:#FFFFFF;
  border-right-color: #666666;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #666666;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.historyItemTitle {
  font-family:arial,helvetica,verdana,sans-serif;
  font-weight:bold;
}

.formTitleIIII {  
  font-family:arial,helvetica,verdana,sans-serif;
  font-weight:bold;
  padding-left:0.8em;
  background-color:#6E81A6;
  color:#FFFFFF;
  border-right: #5c5c5c 1px solid; 
  border-bottom: #5c5c5c 1px solid;     
}
.contentPageII {
  color: #000000; 
  border: solid 1px black;
  font-family: arial,helvetica,verdana,sans-serif
}


.bottomBorderOnly {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #6E81A6;
}
.leftAndBottomBorderOnly {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #6E81A6;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #6E81A6;
}
.topBorderOnly {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
}
.dashedBorderOnly {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #6E81A6;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #6E81A6;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #6E81A6;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #6E81A6;
}
.leftBorderOnly {
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #6E81A6;
}

.emptyDataCell {
  background-color: #5c5c5c
}


.highlightedData {
  background-color: #FFFF99;
  padding: 0;
  margin: 0;
}



#trailimageid {
  position: absolute;
  visibility: hidden;
  left: 0px;
  top: 0px;
  width: 350px;
  height: 1px;
  z-index: 1000;
}
.queryHeader {
  color: #000000; font-family: arial,helvetica,verdana,sans-serif; 
  font-weight: bold
}

.panelGroupHeader{
  background-color:#6E81A6; 
  color:#FFFFFF;
}

#notification {
  bottom: 0;
  padding: 0;
  height: 20px;
  margin: 0;
  width: 100%;
  background-color: #FFFF99;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding-top: 5px;
}

.notification {
  bottom: 0;
  padding: 0;
  height: 20px;
  margin: 0;
  width: 100%;
  background-color: #FFFF99;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding-top: 5px;
}

/* ********************************* BEGIN SUBMISSION REPORTS RULES ***************************************/
.submissionReportResultsContainer {
  width: 800px;
  text-align: center;
  margin-left: 15px;
  border-top: 1px dashed gray;
  padding-top: 15px;
}

.submissionReportResultsBanner {
  background: #F0F7F9 none repeat scroll 0 0;
  border-top: 1px solid #6B90DA;
  border-right: 1px solid #666666;
  border-left: 1px solid #666666;
  border-bottom: 1px solid #666666;
  font-family: arial,helvetica,verdana,sans-serif;
  font-weight: bold;
  padding: 5px; 
}

.correctionReportWarning {
  font-size: 8pt; 
  color: red;
 }
 
 .submissionReportResultsBanner img {
   vertical-align: middle;
   border: 0px;
 }
 
.adminToolsContainer {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color:#5C5C5C;
  font-size:24px;
  font-weight:bold;
}
 
.submissionReportControlsTable {
  width: 800px;
  margin-left: 15px;
  border:0px;
}
 
.submissionReportFormTitle {  
  font-family:arial,helvetica,verdana,sans-serif;
  font-weight:bold;
  font-size:0.8em;
  padding-left:0.8em;
  background-color:#6E81A6;
  color:#FFFFFF;
  border: #5c5c5c 1px solid;    
}
/* ********************************* END SUBMISSION REPORTS RULES ***************************************/

/* begin - stolen from caNanoLab - dropped relative font stuff */
.submissionView {
	border-width: 1px;
	border-color: #AAAAAB;
	border-style: solid;
	border-collapse: collapse;
	color: #333333;
}

.submissionView th {
	font-family: arial, helvetica, verdana, sans-serif;
	padding: 3px 3px 3px 3px;
	color: #5C5C5C;
	/*background-color: #5C5C5C;*/
	background: white url(../images/shadeactive.gif) top left repeat-x;
	text-align: left;
}

.submissionView td {
	font-family: arial, helvetica, verdana, sans-serif;
	padding: 3px 3px 3px 3px;
	vertical-align: top;
	text-align: left;
	color: #333333;
}

table.promptbox {
  background-color:#F4F4F5;
  border:1px solid #CCCCFF;
  color:black;
  font-family:arial;
  padding-bottom:3px;
  padding-left:2px;
  padding-right:2px;
}
/* end - stolen from caNanoLab */

.searchFormHeader{
	font-weight:bold; 
	font-size: 25px;
}

.searchFormSelector {
    overflow: auto;
    width: 180px;
    height: 114px;
    border: 1px solid black
}

.qcToolControlsTable {
  width: 800px;
  margin-left: 15px;
  border:0px;
}

.searchResultTopLevelTable {
    border-collapse:collapse;
    border: none;
}

.searchResultTopLevelRow {
    border: none;
} 
/* QC Shared List popup*/

.corePopup {
    position: absolute;
    z-index: 1001;
    width: 630px;
    height: 300px;
    top: 60%;
    left: 40%;
}

.popupBody {
    margin-top: 5px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
}

.popupHeaderWrapper {
    text-align: center;
    vertical-align: middle;
}

.popupHeaderText {
    float: left;
}

.popupHeaderImage {
    float: right;
    margin-top: 2px;
    margin-right: 2px;
}

/* END QC Shared List popup*/

/* for some reason, putting this style inline for the collection description popup makes
   the window not closable */
.icePnlPop {
   border: 5px solid black;
}

/* pull the following rule out adter IE 8 is the current tech stack */
.iceMnuBarItem {
    float: none;
}
/* end */

.button {
     padding: 5px 7px;
        background: #d6d6dd;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: solid 1px #2A4E77;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
    user-select:none;
   }
.button:hover {
    background: #d6d6d4;
    border: solid 1px #2A4E77;
    text-decoration: none;
}   
/* FOOTER for TCIA */
ul.footnav {
  text-align: center;
  background-color: #706F5D;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding: 0;
  margin: 0;
}
.footnav li {
  display: inline;
  margin-left: -2px;
}
.footnav li a, .footnav li a:visited {
  display: inline-block;
  color: #fff;
  border-right: #FFF 1px solid;
  border-left: #706F5D 1px solid;
  padding: 5px 20px 5px 18px;
  text-decoration: none;
}
.footnav li a:hover, .footnav li a:focus {
  background-color: #475b82;
}
ul.footnav li.first a {
  border-left: #FFF 1px solid;
}
.footnav img {
  vertical-align: middle;
}
p.footer {
  text-align: center;
  color: #999;
  font-size: 10px;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
}
    /* HEADER for TCIA */
/* themeblvd.min.css 2.3.0 */
.sf-menu li li.divider {
    *width:100%;
    height:1px;
    margin:8px 1px;
    *margin:-5px 0 5px;
    padding:0;
    overflow:hidden;
    background-color:#e5e5e5;
    border-bottom:1px solid #fff
}
.btn-navbar {
    display:none
}
.sf-menu,.sf-menu * {
    margin:0;
    padding:0;
    list-style:none
}
.sf-menu li {
    position:relative
}
.sf-menu ul {
    position:absolute;
    display:none;
    top:100%;
    left:0;
    z-index:99
}
.sf-menu>li {
    float:left
}
.sf-menu li:hover>ul,.sf-menu li.sfHover>ul {
    display:block
}
.sf-menu a {
    display:block;
    position:relative
}
.sf-menu ul ul {
    top:0;
    left:100%
}
.sf-menu a.sf-with-ul {
    padding-right:2.25em;
    min-width:1px
}
ul.sf-menu-with-fontawesome .sf-sub-indicator {
    display:inline;
    margin-left:8px;
    position:static;
    width:auto;
    height:auto;
    text-indent:0
}
ul.sf-menu-with-fontawesome ul .sf-sub-indicator {
    position:absolute;
    top:.8em;
    right:10px
}
ul.sf-menu [class^="icon-"] {
    margin-right:5px
}
.subnav ul.sf-menu li li:hover ul,.subnav ul.sf-menu li li.sfHover ul,.subnav ul.sf-menu li li li:hover ul,.subnav ul.sf-menu li li li.sfHover ul {
    left:200px
}
.subnav .sf-menu li:hover ul,.subnav .sf-menu li.sfHover ul {
    z-index:998
}
.clearfix:after {
    content:".";
    visibility:hidden;
    display:block;
    height:0;
    clear:both
}
.themeblvd-contact-bar ul {
    margin:0
}
.themeblvd-contact-bar li {
    float:left;
    list-style:none!important;
    padding:1px
}
.themeblvd-contact-bar li a {
    background-image:url('../images/tcia/social-media-grey_24x24.png');
    display:block;
    outline:0;
    width:24px;
    height:24px;
    text-indent:-9999px
}
.themeblvd-contact-bar ul.social-media-dark li a {
    background-image:url('../images/tcia/social-media-dark_24x24.png')
}
.themeblvd-contact-bar ul.social-media-grey li a {
    background-image:url('../images/tcia/social-media-grey_24x24.png')
}
.themeblvd-contact-bar ul.social-media-light li a {
    background-image:url('../images/tcia/social-media-light_24x24.png')
}
.themeblvd-contact-bar ul.social-media-color li a {
    background-image:url('../images/tcia/social-media-color_24x24.png')
}
.themeblvd-contact-bar li .amazon {
    background-position:0 0
}
.themeblvd-contact-bar li .delicious {
    background-position:0 -24px
}
.themeblvd-contact-bar li .deviantart {
    background-position:0 -48px
}
.themeblvd-contact-bar li .digg {
    background-position:0 -72px
}
.themeblvd-contact-bar li .dribbble {
    background-position:0 -96px
}
.themeblvd-contact-bar li .ebay {
    background-position:0 -120px
}
.themeblvd-contact-bar li .email {
    background-position:0 -144px
}
.themeblvd-contact-bar li .facebook {
    background-position:0 -168px
}
.themeblvd-contact-bar li .feedburner {
    background-position:0 -192px
}
.themeblvd-contact-bar li .flickr {
    background-position:0 -216px
}
.themeblvd-contact-bar li .forrst {
    background-position:0 -240px
}
.themeblvd-contact-bar li .foursquare {
    background-position:0 -264px
}
.themeblvd-contact-bar li .github {
    background-position:0 -288px
}
.themeblvd-contact-bar li .google {
    background-position:0 -312px
}
.themeblvd-contact-bar li .instagram {
    background-position:0 -336px
}
.themeblvd-contact-bar li .linkedin {
    background-position:0 -360px
}
.themeblvd-contact-bar li .myspace {
    background-position:0 -384px
}
.themeblvd-contact-bar li .paypal {
    background-position:0 -408px
}
.themeblvd-contact-bar li .picasa {
    background-position:0 -432px
}
.themeblvd-contact-bar li .pinterest {
    background-position:0 -456px
}
.themeblvd-contact-bar li .reddit {
    background-position:0 -480px
}
.themeblvd-contact-bar li .rss {
    background-position:0 -504px
}
.themeblvd-contact-bar li .scribd {
    background-position:0 -528px
}
.themeblvd-contact-bar li .squidoo {
    background-position:0 -552px
}
.themeblvd-contact-bar li .technorati {
    background-position:0 -576px
}
.themeblvd-contact-bar li .tumblr {
    background-position:0 -600px
}
.themeblvd-contact-bar li .twitter {
    background-position:0 -624px
}
.themeblvd-contact-bar li .vimeo {
    background-position:0 -648px
}
.themeblvd-contact-bar li .xbox {
    background-position:0 -672px
}
.themeblvd-contact-bar li .yahoo {
    background-position:0 -696px
}
.themeblvd-contact-bar li .youtube {
    background-position:0 -720px
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
.themeblvd-contact-bar li a {
    background-image:url('../images/tcia/social-media-grey_48x48.png');
    background-size:24px 744px
}
.themeblvd-contact-bar ul.social-media-dark li a {
    background-image:url('../images/tcia/social-media-dark_48x48.png')
}
.themeblvd-contact-bar ul.social-media-grey li a {
    background-image:url('../images/tcia/social-media-grey_48x48.png')
}
.themeblvd-contact-bar ul.social-media-light li a {
    background-image:url('../images/tcia/social-media-light_48x48.png')
}
.themeblvd-contact-bar ul.social-media-color li a {
    background-image:url('../images/tcia/social-media-color_48x48.png')
}
}
/* theme.min.css 3.0.0 */
a:hover,a:focus {
    text-decoration:none
}
img {
    max-width:100%;
    height:auto
}
img.size-full {
    max-width:100%;
    width:auto
}
#branding #header_content .header_content-inner {
    padding:20px 30px;
    position:relative
}
#branding #access .access-content {
    background-image:none;
    margin-bottom:0
}
#branding .header_logo {
    float:left
}
#branding .header_logo .tb-image-logo img {
    display:block
}
.header_logo .tb-text-logo {
    font-size:2.8em;
    margin:0;
    text-shadow:1px 1px 1px #000
}
.header_logo .tb-text-logo .header-shade {
    display:none
}
.header_logo .tb-text-logo a {
    color:#fff
}
.header_logo .tagline {
    color:#fff;
    font-style:italic;
    font-size:1em;
    text-shadow:1px 1px 1px #000
}
.header_logo_title_tagline,.header_logo_title,.header_logo_custom {
    padding:15px 10px
}
#branding .header-addon {
    margin:-13px 0 0 0;
    position:absolute;
    top:50%;
    right:35px
}
#branding .header-addon-with-text {
    margin-top:-25px
}
#branding .themeblvd-contact-bar ul {
    float:right
}
#branding .themeblvd-contact-bar li a {
    background-repeat:no-repeat;
    -moz-opacity:.8;
    -khtml-opacity:.8;
    opacity:.8;
    width:25px
}
#branding .themeblvd-contact-bar li a:hover,#branding .themeblvd-contact-bar li a:focus {
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1
}
#branding .header-text {
    color:#fff;
    line-height:30px;
    text-align:right;
    text-shadow:1px 1px 1px #000
}
#menu-wrapper {
    position:relative
}
#main-menu #search-trigger {
    background-repeat:no-repeat;
    display:block;
    position:absolute;
    top:10px;
    right:3px;
    width:30px;
    height:30px;
    text-indent:-9999px;
    z-index:4
}
#main-menu #search-trigger:hover,#main-menu #search-trigger:focus {
    background-position:0 -30px
}
#main-menu #search-popup-wrapper {
    float:right;
    position:relative;
    height:58px;
    z-index:3
}
#main-menu .search-popup-outer {
    display:none;
    position:absolute;
    width:304px;
    height:120px
}
#main-menu .search-popup {
    background-image:url(../images/layout/style/light/search-popup.png);
    background-repeat:no-repeat;
    width:304px;
    height:120px
}
#main-menu .search-popup .search-popup-inner {
    padding:23px 26px 29px 26px
}
#main-menu .search-popup form {
    background-image:url(../images/layout/style/light/search-popup-field.png);
    background-repeat:no-repeat;
    width:252px;
    height:35px
}
#main-menu .search-popup input {
    display:block;
    float:left;
    outline:0;
    background-position:0 0;
    border:0;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    height:auto;
    padding:0
}
#main-menu .search-popup .search-input {
    background-color:transparent;
    font-size:11px;
    line-height:100%;
    margin:11px 0 0 15px;
    width:205px
}
#main-menu .search-popup .submit {
    background-color:transparent;
    background-image:url(../images/layout/style/light/search-popup-submit.png);
    background-repeat:no-repeat;
    cursor:pointer;
    margin:10px 0 0 0;
    width:16px!important;
    height:17px;
    text-indent:-9999px
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
#main-menu .search-popup {
    background-image:url(../images/layout/style/light/search-popup_2x.png);
    background-size:304px 87px
}
#main-menu .search-popup form {
    background-image:url(../images/layout/style/light/search-popup-field_2x.png);
    background-size:252px 35px
}
#main-menu .search-popup .submit {
    background-image:url(../images/layout/style/light/search-popup-submit_2x.png);
    background-size:16px 17px
}
}
#branding .widget-area-collapsible {
    padding:0
}
.footer-below .widget-area-collapsible .widget {
    margin-bottom:10px
}
#bottom #footer_content {
    background-color:#e8e8e8;
    border:1px solid #fff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    -moz-box-shadow:inset 0 0 10px #cdcdcd;
    -webkit-box-shadow:inset 0 0 10px #cdcdcd;
    box-shadow:inset 0 0 10px #cdcdcd;
    position:relative
}
#bottom #footer_content .footer_content-inner {
    padding:30px
}
#footer_sub_content {
    font-size:.9em
}
#footer_sub_content p {
    margin:0
}
#footer_sub_content .copyright {
    font-size:11px;
    line-height:100%;
    padding:25px 15px
}
#footer_sub_content .copyright .text {
    float:left
}
#footer_sub_content .copyright .menu {
    float:right
}
#footer_sub_content .copyright .menu ul {
    margin:0;
    padding:0;
    list-style:none
}
#footer_sub_content .copyright .menu li {
    float:left;
    padding:0 5px
}
#footer_sub_content .copyright .menu li a {
    color:#666
}
/* menus.min.css 3.0.0 */
#main-menu .sf-menu li a {
    font-family:Arial,Helevtica,Verdana,san-serif
}
#main-menu .sf-menu li li a {
    margin:0 8px;
    padding:13px 12px 11px 12px
}
#main-menu .sf-menu li li a:hover {
    background-image:none;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px
}
#main-menu .sf-menu ul {
    border-style:solid;
    border-width:1px;
    border-top-width:0;
    padding:8px 0;
    width:230px
}
#main-menu .sf-menu ul ul {
    border-top-width:1px;
    margin:0
}
#main-menu ul.sf-menu-with-fontawesome ul .sf-sub-indicator {
    top:12px
}
.classic-menu {
    /*margin:-58px 10px 0 10px;*/
    position:relative;
    z-index:999
}
.classic-menu .menu-left {
    position:absolute;
    top:0;
    left:0;
    width:6px;
    height:58px
}
.classic-menu .menu-right {
    position:absolute;
    top:0;
    right:0;
    width:6px;
    height:58px
}
.classic-menu .menu-middle {
/* margin:0 6px; */
    height:52px
}
.classic-menu .sf-menu li a {
    display:block;
    font-family:Arial,Helevtica,Verdana,san-serif;
    font-size:11px;
    letter-spacing:1px;
    line-height:100%;
    padding:22px 15px 19px 15px;
    text-decoration:none;
    text-transform:uppercase
}
.classic-menu .sf-menu ul {
    margin:0
}
.classic-menu .menu-left {
    background-position:0 0;
    background-repeat:no-repeat
}
.classic-menu .menu-right {
    background-position:0 -116px;
    background-repeat:no-repeat
}
.classic-menu .menu-middle {
    background-position:0 -58px;
    background-repeat:repeat-x
}
.classic-menu .sf-menu>li>a:hover {
    background-position:0 -174px;
    background-repeat:repeat-x
}
.classic-dark .menu-left,.classic-dark .menu-right,.classic-dark .menu-middle,.classic-dark .sf-menu>li>a:hover {
    background-image:url(../images/tcia/menu-classic-dark.png)
}
.classic-dark #search-trigger {
    background-image:url(../images/tcia/search-popup-trigger-classic-dark.png)
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
.classic-dark .menu-left,.classic-dark .menu-right,.classic-dark .menu-middle,.classic-dark .sf-menu>li>a:hover {
    background-image:url(../images/tcia/menu-classic-dark_2x.png);
    background-size:6px 232px
}
.classic-dark #search-trigger {
    background-image:url(../images/tcia/search-popup-trigger-classic-dark_2x.png);
    background-size:30px 60px
}
}
.classic-dark .sf-menu a,.classic-dark span.responsive-nav-text {
    color:#fff
}
.classic-dark .sf-menu ul {
    background-color:#282828;
    border-color:#000
}
.classic-dark .sf-menu li li a:hover {
    background-color:#313131
}
#menu-wrapper .menu-wrapper-inner {
    position:relative
}
#menu-wrapper .btn-navbar {
    background-position:0 -58px;
    border-style:solid;
    border-width:1px;
    border-bottom-width:0;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    font-size:16px;
    line-height:1em;
    outline:0;
    padding:8px 12px;
    position:absolute;
    top:-49px;
    left:10px;
    text-decoration:none
}
.menu_dark #menu-wrapper .btn-navbar {
    background-image:url(../images/tcia/menu-classic-dark.png);
    border-color:#333;
    color:#fff
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
.menu_dark #menu-wrapper .btn-navbar {
    background-image:url(../images/tcia/menu-classic-dark_2x.png);
    background-size:6px 232px
}
}
@media(max-width:767px) {
.mobile_nav_style_1.menu_dark #main-top .main-top-middle {
    background-image:url(../images/tcia/menu-flip-dark.png)
}
.mobile_nav_style_1.menu_dark #main-menu,.mobile_nav_style_1.layout_stretch.menu_dark #menu-wrapper {
    background:#3a3a3a
}
.mobile_nav_style_1.menu_dark #main-menu #menu-inner .sf-menu>li>a:hover {
    background-color:#282828
}
}
@media only screen and (max-width:767px) and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:767px) and (-moz-min-device-pixel-ratio:1.5),only screen and (max-width:767px) and (-o-min-device-pixel-ratio:1.5),only screen and (max-width:767px) and (min-device-pixel-ratio:1.5),only screen and (max-width:767px) and (min-resolution:1.5dppx) {
.mobile_nav_style_1.menu_dark #main-top .main-top-middle {
    background-image:url(../images/tcia/menu-flip-dark_2x.png);
    background-size:17px 228px
}
}
/* boxed-light.min.css 3.0.0 */
#wrapper {
    padding:0 0 20px 0
}
/*
#featured,#main,#featured_below,#bottom,#after-footer {
    margin:0 auto;
    width:1020px
}
#main-top .main-top-left,#main-top .main-top-right,#main-top .main-top-middle,#after-footer .after-footer-left,#after-footer .after-footer-right,#after-footer .after-footer-middle {
    background-image:url(../images/tcia/main-boxed-light.png)
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
#main-top .main-top-left,#main-top .main-top-right,#main-top .main-top-middle,#after-footer .after-footer-left,#after-footer .after-footer-right,#after-footer .after-footer-middle {
    background-image:url(../images/tcia/main-boxed-light_2x.png);
    background-size:40px 312px
}
}
#main-top {
    position:relative;
    padding:0 30px
}
#main-top .main-top-left {
    background-position:-5px -5px;
    background-repeat:no-repeat;
    position:absolute;
    top:0;
    left:0;
    width:30px;
    height:60px
}
#main-top .main-top-right {
    background-position:-5px -145px;
    background-repeat:no-repeat;
    position:absolute;
    top:0;
    right:0;
    width:30px;
    height:60px
}
#main-top .main-top-middle {
    background-position:0 -75px;
    background-repeat:repeat-x;
    height:60px
}
#after-footer {
    position:relative
}
#after-footer .after-footer-left {
    background-position:-5px -215px;
    background-repeat:no-repeat;
    position:absolute;
    left:0;
    top:0;
    width:30px;
    height:24px
}
#after-footer .after-footer-right {
    background-position:-5px -283px;
    background-repeat:no-repeat;
    position:absolute;
    right:0;
    top:0;
    width:30px;
    height:24px
}
#after-footer .after-footer-middle {
    background-position:0 -249px;
    background-repeat:repeat-x;
    margin:0 30px;
    height:24px
}
#featured .featured-inner,#main .main-inner,#featured_below .featured_below-inner,#bottom #colophon {
    margin-left:20px;
    margin-right:20px;
    background-color:#eee
}
#featured,#main,#featured_below,#bottom {
    position:relative
}
#featured:before,#main:before,#featured_below:before,#bottom:before {
    content:"";
    background:url(../images/tcia/main-boxed-middle-light.png) 0 0 repeat-y;
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:20px
}
#featured:after,#main:after,#featured_below:after,#bottom:after {
    content:"";
    background:url(../images/tcia/main-boxed-middle-light.png) -20px 0 repeat-y;
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    width:20px
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
#featured:before,#main:before,#featured_below:before,#bottom:before,#featured:after,#main:after,#featured_below:after,#bottom:after {
    content:"";
    background-image:url(../images/tcia/main-boxed-middle-light_2x.png);
    background-size:40px 1px
}
}
*/
/* TCIA add ons */
/*
  a {color: ;}a:hover,article .entry-title a:hover,.widget ul li a:hover,#breadcrumbs a:hover,.tags a:hover,.entry-meta a:hover,#footer_sub_content .copyright .menu li a:hover {color: ;}html,body {font-family: Open Sans, Arial, sans-serif;font-size: 13px;font-style: normal;font-weight: normal;color: #666;line-height: 1.625;margin: 0!important;padding: 0;}h1, h2, h3, h4, h5, h6, .slide-title {font-family: Yanone Kaffeesatz, Arial, sans-serif;font-style: normal;font-weight: normal;}#branding .header_logo .tb-text-logo,#featured .media-full .slide-title,#content .media-full .slide-title,#featured_below .media-full .slide-title,.tb-slogan .slogan-text,.element-tweet,.special-font {font-family: Yanone Kaffeesatz, Arial, sans-serif;font-style: normal;font-weight: normal;}
 */
body { /* #top for wiki */
    background-color: #013855;
    background-image: url('../images/tcia/grunge-blueall2-tcia.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    margin:0 auto;
    width:100%
}
/*
#branding {
    width:1020px
}
*/
