<!---------------------------------------------------------------------------------------->
<!----------                    QC Edit for Cine mode only                    ------------>
<!----------  Used in the bottom section of "Perform Quality Control" cine mode  --------->
<!---------------------------------------------------------------------------------------->
<!-- Row of radio buttons across the top with each of the possible statuses. -->
<div class="qc-status-outer-div pb-0 mb-0">
    <div class="container-fluid">
        <div class="row">
            <!-- qcStatuses is the list of possible statuses sent from the server -->
            <div
                *ngFor="let criteria of qcStatuses; let n = index"
                class="qc-status-radios"
            >
                <input
                    class="clicker"
                    type="radio"
                    id="radio-qc-status-status{{ n }}"
                    name="qcBulkRadio"
                    (click)="onQcBulkStatusClick(n)"
                />
                <label
                    class="qc-status-radio-label clicker"
                    [ngClass]="{
                            'font-extra-small': currentFont === '0',
                            'font-small': currentFont === '1',
                            'font-medium': currentFont === '2',
                            'font-large': currentFont === '3'
                        }"
                    [attr.for]="'radio-qc-status-status' + n"
                >
                    {{ criteria }}
                </label>
            </div>
        </div>
    </div>
    <!-- END container-fluid -->


    <div class="ml-1 mt-0 mb-0 p-0">
        <span>
            <button
                class="btn nbia-button qc-status-update-button"
                [ngClass]="{
                    'nbia-button-disabled': visible < 0,
                    'font-extra-small': currentFont === '0',
                    'font-small': currentFont === '1',
                    'font-medium': currentFont === '2',
                    'font-large': currentFont === '3'
                }"
                [disabled]="visible < 0"
                type="button"
                (click)="onQcUpdateNextClick()"
            >
                Update / Next Series
            </button>
        </span>
        <span>
            <button
                class="btn nbia-button qc-status-update-button"
                [ngClass]="{
                    'font-extra-small': currentFont === '0',
                    'font-small': currentFont === '1',
                    'font-medium': currentFont === '2',
                    'font-large': currentFont === '3'
                }"
                type="button"
                (click)="onQcSkipNextClick()"
            >
                Skip / Next Series
            </button>
        </span>
    </div>


    <!-- Second row: "Batch Number", "Confirmed as Complete", and "Released". -->
    <div class="bulk-qc-status-table-frame">
        <table class="bulk-qc-status-table">
            <tr>
                <!-- ----- Batch number  ----- -->
                <td class="qc-status-radios">
                    <input
                        class="clicker"
                        type="checkbox"
                        id="qc-status-batch-checkbox"
                        [(ngModel)]="useBatchNumber"
                    />
                    <label
                        class="qc-status-radio-label clicker"
                        for="qc-status-batch-checkbox"
                    >
                        Batch Number
                    </label>
                    <input
                        class="qc-status-batch-number-spinner"
                        [ngClass]="{
                            'disabled-spinner': !useBatchNumber
                        }"
                        type="number"
                        min="1"
                        [disabled]="!useBatchNumber"
                        [(ngModel)]="batchNumber"
                    />
                </td>
                <!-- ----- Confirmed as Complete  ----- -->
                <td class="complete-radios">
                    Confirmed as Complete<br/>
                    <input
                        class="clicker"
                        type="radio"
                        id="radio-qc-status-complete-yes"
                        name="qcBulkRadioComplete"
                        (click)="onQcBulkStatusCompleteClick(YES)"
                    />
                    <label
                        class="qc-status-radio-label clicker"
                        [attr.for]="'radio-qc-status-complete-yes'"
                    >
                        Yes
                    </label>
                    &nbsp;&nbsp;
                    <input
                        class="clicker"
                        type="radio"
                        id="radio-qc-status-complete-no"
                        name="qcBulkRadioComplete"
                        (click)="onQcBulkStatusCompleteClick(NO)"
                    />
                    <label
                        [attr.for]="'radio-qc-status-complete-no'"
                        class="qc-status-radio-label clicker"
                    >
                        No
                    </label>
                    &nbsp;&nbsp;
                    <input
                        class="clicker"
                        type="radio"
                        id="radio-qc-status-complete-no-change"
                        name="qcBulkRadioComplete"
                        [checked]="true"
                        (click)="onQcBulkStatusCompleteClick(NO_CHANGE)"
                    />
                    <label
                        class="qc-status-radio-label clicker"
                        [attr.for]="'radio-qc-status-complete-no-change'"
                    >
                        No Change
                    </label>
                </td>


                <!-- Popup Calendar -->
                <td class="popup-cal">
                    <nbia-release-date-calendar
                        *ngIf="showReleasedDateCalendar && isReleased === YES"
                    >
                    </nbia-release-date-calendar>
                </td>


                <!-- ----- Released  ----- -->
                <td class="complete-radios">


                    <div class="mr-2">Released

                        <!--  Calendar  -->
                        <span *ngIf="isReleased === YES"
                              class="released-date"
                        >
                            <input class="m-0 w-50"
                                   [ngClass]="{
                                        'red-text': badReleasedDate
                                    }"

                                   type="text"
                                   value="The date here"
                                   [(ngModel)]="releasedDate"
                                   (ngModelChange)="cineCalendarTextInputChange()"
                            >

                            <img [ngStyle]="{height: '20px'}"
                                 class="cal-button-image ml-1 mb-1"
                                 src="assets/images/calendar_icon_2.png"
                                 alt="Calendar button"
                                 (click)="releasedCalendarIconClick($event)">
                        </span>
                    </div>
                    <input
                        class="clicker"
                        type="radio"
                        id="radio-qc-status-released-yes"
                        name="qcBulkRadioReleased"
                        (click)="onQcBulkStatusReleasedClick(YES)"
                    />
                    <label
                        class="qc-status-radio-label clicker"
                        [attr.for]="'radio-qc-status-released-yes'"
                    >
                        Yes
                    </label>
                    &nbsp;&nbsp;
                    <input
                        class="clicker"
                        type="radio"
                        id="radio-qc-status-released-no"
                        name="qcBulkRadioReleased"
                        (click)="onQcBulkStatusReleasedClick(NO)"
                    />
                    <label
                        class="qc-status-radio-label clicker"
                        [attr.for]="'radio-qc-status-released-no'"
                    >
                        No
                    </label>
                    &nbsp;&nbsp;
                    <input
                        class="clicker"
                        type="radio"
                        id="radio-qc-status-released-no-change"
                        name="qcBulkRadioReleased"
                        [checked]="true"
                        (click)="onQcBulkStatusReleasedClick(NO_CHANGE)"
                    />
                    <label
                        class="qc-status-radio-label clicker"
                        [attr.for]="'radio-qc-status-released-no-change'"
                    >
                        No Change
                    </label>
                </td>
                <td class="complete-radios">
                    <!-- ----- Update Site ----- -->

                    <!-- Checkbox -->
                    <input
                        class="mt-3" type="checkbox" id="cineUpdateSiteCheckbox"
                        [(ngModel)]="showCineUpdateCollectionSite"
                        (click)="onShowCineUpdateCollectionSiteClick()"
                    >
                    <!-- END Checkbox -->

                    <!-- Update Site text -->
                    <label
                        class="ml-1"
                        for="cineUpdateSiteCheckbox"
                    >Update Site</label>
                    <!-- END Update Site text -->

                    <span *ngIf="showCineUpdateCollectionSite">
                        <select class="custom-select"
                            id="newSiteCine"
                            name="newSiteCine"
                            ngModel
                        >
                            <option *ngFor="let site of siteArray"
                                (click)="onSiteOptionClick( site )"
                            >
                                {{site}}
                            </option>
                        </select>

                    </span>

                    <!-- ----- END Update Site ----- -->
                </td>


                <td class="complete-radios">

                    <!-- ----- Update Description URI ----- -->
                    <span>
                    <!-- Checkbox -->
                        <input
                            class="mt-3" type="checkbox" id="updateDescriptionUriCine"
                            [(ngModel)]="showUpdateDescriptionUri"
                            (click)="onShowUpdateDescriptionUriClick()"
                        >
                        <!-- END Checkbox -->
                         <label
                             class="ml-1"
                             for="updateDescriptionUriCine"
                         >Update Desc. URI
                         </label>
                    </span>

                    <div *ngIf="showUpdateDescriptionUri">
                        <input
                            [(ngModel)]="descriptionUri"
                            type="text"
                        >
                    </div>
                    <!-- ----- END Update Description URI ----- -->
                </td>

            </tr>
        </table>
        <div>
            <textarea
                class="qc-status-edit-log-text"
                [(ngModel)]="logText"
                placeholder="Enter change log here..."
            ></textarea>
        </div>

    </div>
</div>
