@use "sass:math";
@import '../app.component';
@import '../popup';
@import '../card-nbia';

// .cursor-draggable isn't working for me, this is a workaround.
.criteria-selection-menu-panel-heading:hover {
    cursor: grab;
}

/*  Apply a "closed-hand" cursor during drag operation. */
.criteria-selection-menu-panel-heading:active {
    cursor: grabbing;
}

/*  Apply a "closed-hand" cursor during drag operation. */
.criteria-selection-menu-panel-heading-moving {
    cursor: grabbing;
}

$criteria-selection-menu-box-width: 40%;
.criteria-selection-menu-box {
    z-index: 750;
    width: $criteria-selection-menu-box-width;
    max-width: 500px;
    left: calc(50% - math.div($criteria-selection-menu-box-width, 2));

    padding: 0;
    position: absolute;

    top: 50px;

  //  height: 300px;
    height: calc(100% - 100px);

}
table{
    padding: 0;
   // border-collapse: collapse;
    border-spacing:0px;
    width: calc(100% - 10px );
    border: solid $card-nbia-header-default-border-color 1px;
    border-radius : 3px;
    background-color:#d9edf7;
    margin: 0 0 18px 0;

}

tr{
    border-radius : 3px;
    padding: 0;
    margin: 0;
}

td{
    border-radius : 3px;
    padding: 0;
    margin: 0;
}

.criteria-selection-menu-criteria{

}

.parent-menu-name{
    font-weight: bold;
}

.green{
    color: #008e1f;
}

.criteria-selection-menu-option{
    padding: 0;
    margin: 0;
  //  background-color: #ffc107;
}

.criteria-selection-menu-tr{

}

.criteria-selection-menu-heading-td{
    color: #347391;
    background-color: #d9edf7;
}

.criteria-selection-menu-heading-tr{
    border-bottom: solid #bce8f1 1px;
}

.criteria-selection-menu-td{
    color: #000;
    background-color: #fff;
    width: 50%;
}

.criteria-selection-menu-and-or{
    padding-top: 10px;
}

.exit-x{
    margin-top: 4px;
    float: right;
    height:16px;
}

.criteria-selection-menu-okay-button {
    float: right;
}

.background-cover{
    z-index: 4;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: .65;
    background-color: #000000;
}

.disabled-table{
    background-color: #dc3545;
}


.criteria-selection-menu-body{
    resize: vertical;
    background-color: #34ce57;
}



.rSize{
    resize: vertical;
    overflow: auto;
}

.criteria-selection-menu-panel-body{
    background-color: #FFFFFF;
}

.criteria-selection-menu-panel-heading-scroller{
     // height: 100%;
    height: calc(100% - 40px);
    overflow: auto;
    border: solid #bce8f1 1px;
}

