<div class="query-panel">
    <div class="query-panel-heading">
        <span *ngIf="!isAllEmpty()" class="red-clear">
            <img
                class="clicker"
                src="assets/images/redClear.png"
                alt="Clear"
                (click)="onClearClick()"
            />
        </span>

        <span class="close-x-icon">
            <span
                class="clicker glyphicon glyphicon-remove"
                (click)="onRemoveCriteriaClick()"
            ></span>
        </span>

        <!-- No close/open icon, just show th Heading. -->
        <span *ngIf="!queryCriteriaData['dynamicQueryCriteriaOpenCloseButton']">
            {{ queryCriteriaData["dynamicQueryCriteriaHeading"] }}
        </span>

        <span *ngIf="queryCriteriaData['dynamicQueryCriteriaOpenCloseButton']">
            <span
                *ngIf="criteriaDateRangeShowCriteria"
                class="clicker"
                (click)="onShowCriteriaClick(false)"
            >
                <img src="../../../../../assets/images/down_V01.png" />
                {{ queryCriteriaData["dynamicQueryCriteriaHeading"] }}
            </span>
            <span
                *ngIf="!criteriaDateRangeShowCriteria"
                class="clicker"
                (click)="onShowCriteriaClick(true)"
            >
                <img src="../../../../../assets/images/right_V01.png" />
                {{ queryCriteriaData["dynamicQueryCriteriaHeading"] }}
            </span>
        </span>
    </div>

    <!-- If a date range is in use and the panel is collapsed, show the date range under the heading -->
    <div
        *ngIf="!criteriaDateRangeShowCriteria && checked"
        class="display-date-range"
    >
        {{ dateRangeToDate["formatted"] }}&nbsp;to&nbsp;{{
            dateRangeFromDate["formatted"]
        }}
    </div>
    <div
        [ngClass]="{
            hide: !criteriaDateRangeShowCriteria
        }"
    >
        <div class="input-group">
            <div
                 [ngClass]="{
                        'main-date-range-div-extra-small': currentFont === '0',
                        'main-date-range-div-small': currentFont === '1',
                        'main-date-range-div-medium': currentFont === '2',
                        'main-date-range-div-large': currentFont === '3'
                    }"
            >
                <span class="date-box-label date-box-label-from">From:</span>
                <input
                    (click)="
                        dpFrom.toggleCalendar(); initializeDisableFutureDates()
                    "
                    [ngClass]="{
                        'date-box-text-box-extra-small': currentFont === '0',
                        'date-box-text-box-small': currentFont === '1',
                        'date-box-text-box-medium': currentFont === '2',
                        'date-box-text-box-large': currentFont === '3'
                    }"
                    placeholder='Select "From" date'
                    ngx-mydatepicker
                    name="fromDatePicker"
                    [(ngModel)]="dateRangeToDate"
                    [options]="dateOptions"
                    #dpFrom="ngx-mydatepicker"
                    (dateChanged)="onDateChangedFrom($event)"
                />
            </div>
        </div>

        <div class="input-group">
            <div                  [ngClass]="{
                        'main-date-range-div-extra-small': currentFont === '0',
                        'main-date-range-div-small': currentFont === '1',
                        'main-date-range-div-medium': currentFont === '2',
                        'main-date-range-div-large': currentFont === '3'
                    }"
            >
                <span class="date-box-label date-box-label-to">To:</span>

                <input
                    (click)="
                        dpTo.toggleCalendar(); initializeDisableFutureDates()
                    "
                    [ngClass]="{
                        'date-box-text-box-extra-small': currentFont === '0',
                        'date-box-text-box-small': currentFont === '1',
                        'date-box-text-box-medium': currentFont === '2',
                        'date-box-text-box-large': currentFont === '3'
                    }"

                    placeholder='Select "To" date'
                    ngx-mydatepicker
                    name="toDatePicker"
                    [(ngModel)]="dateRangeFromDate"
                    [options]="dateOptions"
                    #dpTo="ngx-mydatepicker"
                    (dateChanged)="onDateChangedTo($event)"
                />
            </div>
        </div>

        <!--Apply Available range  checkbox-->
        <div>
            <input
                type="checkbox"
                class="query-panel-checkboxes available-checkbox"
                id="UseDateRange"
                [(ngModel)]="checked"
                [disabled]="disableUseDateRange"
                [ngClass]="{
                    clicker: !disableUseDateRange
                }"
                (ngModelChange)="onApplyCheckboxChange()"
            />
            <label
                class="clicker apply-date-range-text"
                [attr.for]="'UseDateRange'"
                [ngClass]="{
                    'disabled-text': disableUseDateRange,
                    clicker: !disableUseDateRange
                }"
            >
                &nbsp;Apply&nbsp;date range
            </label>
        </div>
    </div>
</div>
