<span class="tab-div unselectable">
    <ul class="nav nav-tabs search-criteria-tabs">
        <li class="nav-item">
            <span class="nav-link unselectable"
                  [ngClass]="{
                   'active': activeTab === 0
               }"
                  (click)="onTabClick(0 )"
            >Simple Search</span>
        </li>
        <li class="nav-item">
            <span class="nav-link unselectable"
                  [ngClass]="{
                   'active': activeTab === 1
               }"
                  (click)="onTabClick(1 )"
            >Text Search</span>
        </li>

    </ul>
</span>
<span
        title="Hide Query section"
>
    <img class="search-query-opener-icon search-query-closer-with-header mr-1" src="assets/images/TOOLS/close_left_red.png"
         title="Hide Query section"
         (click)="onCloserClick(  )"
    >
</span>

<nbia-simple-search
        [ngClass]="{
        'active': activeTab === 0,
        'hide': activeTab !== 0
    }"
></nbia-simple-search>

<nbia-text-search
        [ngClass]="{
        'active': activeTab === 1,
        'hide': activeTab !== 1
    }"
></nbia-text-search>
<!--

    <tabset (onSelect)="onTabClick($event)">
        <tab [active]='tabIsActive[SIMPLE_SEARCH]'>
            <span *tabHeading class="tab-text-span">
                Simple Search
            </span>
            <nbia-simple-search></nbia-simple-search>
        </tab>

        <tab  [active]='tabIsActive[TEXT_SEARCH]'>
            <span *tabHeading  class="tab-text-span">
                 Text Search
            </span>

            <nbia-text-search></nbia-text-search>
        </tab>

-->


<!--

        &lt;!&ndash;  This is/was a replacement for Advanced search.  The UI is a good start...  &ndash;&gt;
        <tab [active]='tabIsActive[QUERY_BUILDER]'  *ngIf="showQueryBuilder">
            <span *tabHeading class="tab-text-span">
                 Query Builder
            </span>
            <nbia-query-builder></nbia-query-builder>
        </tab>


        &lt;!&ndash;  This is/was a start of Shared list search.  Was decided this would not be part of new UI.  &ndash;&gt;
        <tab [active]='tabIsActive[SHARED_LISTS]'  *ngIf="showSearchSharedListSearch">
            <span *tabHeading class="tab-text-span">
                 Lists
            </span>
            <nbia-list-search></nbia-list-search>
        </tab>


        &lt;!&ndash;  This was going to be search by Study abandoned.  &ndash;&gt;
        <tab [active]='tabIsActive[STUDY]'  *ngIf="showSearchStudySearch">
            <span *tabHeading class="tab-text-span">
                 Study
            </span>
            <nbia-study-search></nbia-study-search>
        </tab>

-->
<!--   </tabset>
</div>
-->
