<span class="tab-div unselectable">
    <ul class="nav nav-tabs search-criteria-tabs">
        <li class="nav-item">
            <span class="nav-link unselectable"
                  [ngClass]="{
                   'active': activeTab === 0
               }"
                  (click)="onTabClick(0 )"
            >General </span>
        </li>
        <li class="nav-item">
            <span class="nav-link unselectable"
                  [ngClass]="{
                   'active': activeTab === 1
               }"
                  (click)="onTabClick(1 )"
            >Subjects</span>
        </li>
        <li class="nav-item">
            <span class="nav-link unselectable"
                  [ngClass]="{
                   'active': activeTab === 2
               }"
                  (click)="onTabClick(2 )"
            >Images</span>
        </li>

    </ul>
</span>
<span
        title="Hide Query section"
>
    <img class="search-query-opener-icon search-query-closer-with-header mr-1" src="assets/images/TOOLS/close_left_red.png"
         title="Hide Query section"
         (click)="onCloserClick(  )"
    >
</span>

<nbia-general-search-tab
        [ngClass]="{
        'active': activeTab === 0,
        'hide': activeTab !== 0
    }"
></nbia-general-search-tab>

<nbia-subjects-search-tab
        [ngClass]="{
        'active': activeTab === 1,
        'hide': activeTab !== 1
    }"
></nbia-subjects-search-tab>

<nbia-images-search-tab
        [ngClass]="{
        'active': activeTab === 2,
        'hide': activeTab !== 2
    }"
></nbia-images-search-tab>

