<span class="tab-div unselectable">
    <ul class="nav nav-tabs search-criteria-tabs">
        <li class="nav-item">
            <span class="nav-link unselectable"
                  [ngClass]="{
                   'active': activeTab === 0
               }"
                  (click)="onTabClick(0 )"
            >Simple Search</span>
        </li>

    </ul>
</span>
<span
        title="Hide Query section"
>
    <img class="search-query-opener-icon search-query-closer-with-header mr-1" src="assets/images/TOOLS/close_left_red.png"
         title="Hide Query section"
         (click)="onCloserClick(  )"
    >
</span>

<nbia-simple-search
        [ngClass]="{
        'active': activeTab === 0,
        'hide': activeTab !== 0
    }"
></nbia-simple-search>

