<div class="query-panel">
    <div class="query-panel-heading">
        <span class="close-x-icon">
            <span class="clicker glyphicon glyphicon-remove"
                  (click)="onRemoveCriteriaClick()"
            ></span>
        </span>

        <input id="singleCheckbox-{{sequenceNumber}}"
               type="checkbox"
               [(ngModel)]="boxIsChecked"
               (click)="onCheckboxClick( $event.target['checked'])"
        >
        <label
            class="clicker unselectable"
            for="singleCheckbox-{{sequenceNumber}}"
        >

            <span class="checkbox-label-text">
                 &nbsp;{{queryCriteriaData['dynamicQueryCriteriaHeading']}}
             </span>
        </label>
    </div>
</div>
