// -------------------------------------------------------------------------------------------
// -------------------------         Batch Number criteria         ---------------------------
// -------------------------------------------------------------------------------------------

@import 'src/app/tools/query-section-module/query-section/query-section.component';

.batch-checkbox-text{
    color: $heading-text-color;
    margin-left: 4px;
    margin-right: 4px;
}
