@import 'src/app/tools/query-section-module/query-section/query-section.component';

.batch-checkbox-text{
    color: $query-criteria-heading-text-color;
    font: 16px arial, sans-serif;
    margin-left: 4px;
    margin-right: 4px;
}
