<span
    style="float: right"
    *ngIf="show"
    class="glyphicon glyphicon-backward search-query-closer"
    (click)="onCloserOpenerClick(  )"
></span>

<span *ngIf="!show" class="glyphicon glyphicon-forward search-query-opener"
      title="Show Query section"
      (click)="onCloserOpenerClick(  )">
</span>

<span class="tab-div"
      [ngClass]="{
          'hide': !show
      }"
>
    <span
        class="tab"
    [ngClass]="{
         'tab-selected': currentTab === consts.CRITERIA_SEARCH,
         'tab-not-selected': currentTab !== consts.CRITERIA_SEARCH,
          'hide': !show
      }"
        (click)="onTabClick(consts.CRITERIA_SEARCH)"
    >
        Criteria Search
    </span>
    <span *ngIf="currentTool !== consts.TOOL_EDIT_COLLECTION_DESCRIPTIONS"
        class="tab"
        [ngClass]="{
         'tab-selected': currentTab === consts.TEXT_SEARCH,
         'tab-not-selected': currentTab !== consts.TEXT_SEARCH
      }"
        (click)="onTabClick(consts.TEXT_SEARCH)"
    >
        Text Search
    </span>

<!--
    <span
        class="search-query-closer3"

        [ngClass]="{
         'tab-selected': currentTab === consts.TEXT_SEARCH,
         'tab-not-selected': currentTab !== consts.TEXT_SEARCH
      }"
        (click)="onTabClick(consts.TEXT_SEARCH)"
    >
        <<
    </span>
-->
<!--

    <span
           style="float: right"
           *ngIf="show"
           class="glyphicon glyphicon-backward search-query-closer"
           (click)="onCloserOpenerClick(  )"
    ></span>

    <span *ngIf="!show" class="glyphicon glyphicon-forward search-query-opener"
          title="Show Query section"
          (click)="onCloserOpenerClick(  )">
</span>

-->

</span>

<!--

<span *ngIf="show" class="glyphicon glyphicon-backward search-query-closer"
      title="Hide Query section"
      (click)="onCloserOpenerClick(  )">
</span>

<span *ngIf="!show" class="glyphicon glyphicon-forward search-query-opener"
      title="Show Query section"
      (click)="onCloserOpenerClick(  )">
</span>

-->

<div class="query-section"
     [ngClass]="{
         'hide': !show
      }">

 <nbia-left-section
        [currentTool]="currentTool"
    ></nbia-left-section>
</div>
