<!------------------------------------------------------------------------------------------->
<!------------  The parent component of the left side criteria selecting components  -------->
<!------------------------------------------------------------------------------------------->

<span
    style="float: right;"
    *ngIf="show"
    class="search-query-closer"
    (click)="onCloserOpenerClick()"
>
    <img
        class="search-query-closer-icon"
        src="assets/images/TOOLS/close_left_red.png"
    />
</span>

<span
    *ngIf="!show"
    class="search-query-opener"
    title="Show Query section"
    (click)="onCloserOpenerClick()"
>
    <img
        class="search-query-opener-icon"
        src="assets/images/TOOLS/open_right_red.png"
    />
</span>

<span
    [ngClass]="{
     'hide': ! show
     }"

    class="tab-div"
    [ngClass]="{
        'tab-div-extra-small': currentFont === '0',
        'tab-div-small': currentFont === '1',
        'tab-div-medium': currentFont === '2',
        'tab-div-large': currentFont === '3'
    }"
>

    <span
        *ngIf="(
                        (! properties.SHOW_ONLY_DEFAULT_SEARCH_TAB) ||
                        (properties.DEFAULT_SEARCH_TAB === 0)
                    ) "
        class="tab"
        [ngClass]="{
            'tab-selected': currentTab === consts.CRITERIA_SEARCH,
            'tab-not-selected': currentTab !== consts.CRITERIA_SEARCH,
            'hide': !show,
            'heading-font-extra-small': currentFont === '0',
            'heading-font-small': currentFont === '1',
            'heading-font-medium': currentFont === '2',
            'heading-font-large': currentFont === '3'
        }"
        (click)="onTabClick(consts.CRITERIA_SEARCH)"
    >
        Criteria Search
    </span>


    <span
        *ngIf="(! properties.SHOW_ONLY_DEFAULT_SEARCH_TAB) ||
                   (properties.DEFAULT_SEARCH_TAB === 1
               )"
        class="tab"
        [ngClass]="{
            'tab-selected': currentTab === consts.DYNAMIC_SEARCH,
            'tab-not-selected': currentTab !== consts.DYNAMIC_SEARCH,
            'hide': !show,
            'heading-font-extra-small': currentFont === '1',
            'heading-font-small': currentFont === '1',
            'heading-font-medium': currentFont === '2',
            'heading-font-large': currentFont === '3'
        }"
        (click)="onTabClick(consts.DYNAMIC_SEARCH)"
    >
        Dynamic Search
        <img
            (click)="onAddCriteriaClick()" class="add-criteria-plus" src="assets/images/green_plus.png" alt="Add Criteria">


    </span>

</span>
<div
    class="query-section"
    [ngClass]="{
        hide: !show,
        'query-section-extra-small': currentFont === '0',
        'query-section-small': currentFont === '1',
        'query-section-medium': currentFont === '2',
        'query-section-large': currentFont === '3'
    }"
>

    <nbia-left-section
        [currentTool]="currentTool"
    ></nbia-left-section>

    <nbia-left-section-dynamic
        [currentTool]="currentTool"
    ></nbia-left-section-dynamic>
</div>
