// -------------------------------------------------------------------------------------------
// ------------  The parent component of the left side criteria selecting components  --------
// -------------------------------------------------------------------------------------------

@import 'src/app/app.component';

$query-section-left-pad: 10px;
$query-section-right-pad: 15px;

$left-section-width: 370px;
$left-section-width-extra-small: 300px;
$left-section-width-small: 318px;
$left-section-width-medium: 370px;
$left-section-width-large: 480px;

$query-criteria-content-left-margin: 18px;
$query-criteria-heading-bottom-margin: 11px;
$query-collection-start-height: 420px;

$tab-selected-border-color: #ddd;

.query-section{
    padding-right: $query-section-right-pad;
}

.query-section-extra-small{
    @extend .query-section;

    width: $left-section-width-extra-small;
}

.query-section-small{
    @extend .query-section;

    width: $left-section-width-small;
}

.query-section-medium{
    @extend .query-section;

    width: $left-section-width-medium;
}

.query-section-large{
    @extend .query-section;

    width: $left-section-width-large;
}

.search-query-opener-icon,
.search-query-closer-icon{
    height: 14px;
}

.search-query-closer{
    background-color: #fff;
    margin: 0 16px 0 0;
    padding: 8px 3px 4px 0;
    cursor: pointer;
}

.search-query-opener{
    color: $heading-text-color;
    cursor: pointer;
    float: right;
    border-right: solid 1px #ddd;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    border-radius: 4px;
}

// Tab stuff - TODO move to its own scss file
.tab-div{
    height: 10px;
    background-color: #fff;
    margin: 0;
    padding: 6px 6px 6px 0;
    vertical-align: bottom;
    display: table-cell;
}

.tab-div-extra-small{
    @extend .tab-div;

    width: $left-section-width-extra-small - $query-section-right-pad;
}

.tab-div-small{
    @extend .tab-div;

    width: $left-section-width-small - $query-section-right-pad;
}

.tab-div-medium{
    @extend .tab-div;

    width: $left-section-width-medium - $query-section-right-pad;
}

.tab-div-large{
    @extend .tab-div;

    width: $left-section-width-large - $query-section-right-pad;
}

.single-tab{
    position: relative;
    top: 2px;
    color: #000 !important;
    background-color: #fff !important;
    border-top: solid #cfcfcf 1px !important;
    border-left: solid #cfcfcf 1px !important;
    border-right: solid #cfcfcf 1px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    cursor: default !important;
}

.tab{
    padding: 8px 8px 8px 8px;
    height: 100%;
    margin: 0 0 0 0;
    border-top: solid $tab-selected-border-color 1px;
    border-left: solid $tab-selected-border-color 1px;
    border-right: solid $tab-selected-border-color 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab-selected{
    color: #555;
    background-color: #fff;
    cursor: default;
}

.tab-not-selected:hover{
    padding: 8px 8px 7px 8px;
    color: #383e79;
    background-color: #eee;
    border-color: #eee;
    cursor: pointer;
}

.tab-not-selected{
    padding: 8px 8px 7px 8px;
    color: #337ab7;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
}
