<div class="alert alert-info display-query display-wrap" >

    <button
        class="btn btn-nbia-default  d-inline-flex align-items-center "
        title="Clear query"
        (click)="onClearQueryClick()"
    >
        <img  class="display-query-clear-icon" src="assets/images/TOOLS/clear_black.png">

        <!--       class="clicker cart-button-icon"
               src="assets/images/TOOLS/clear_red.png"
        -->

        <span>&nbsp;Clear</span>
    </button>

<!--
    <button
        class="btn btn-default no-outline"
        title="Clear query"
        (click)="onClearQueryClick()"
    >
        <img src="assets/images/clear-icon1.png">
        Clear
    </button>
-->

    <span *ngFor="let criteria of displayQueryData; let i = index">

        <span class="label label-default criteria-display criteria-display-title">{{criteria['displayName']}}</span>

        <span *ngIf="criteria['criteria'] !== consts.QUERY_CRITERIA_QC_STATUS &&
                     criteria['criteria'] !== consts.QUERY_CRITERIA_SUBJECT_ID">

            <span *ngIf="criteria['displayData'].length > 0 ">
                <span class="criteria-display-parent">(</span>
                <span class="label label-default criteria-display criteria-display-name display-wrap">{{criteria['displayData']}}</span>
                <span class="criteria-display-parent">)</span>
            </span>
        </span>


        <span *ngIf="criteria['criteria'] === consts.QUERY_CRITERIA_QC_STATUS ||
                     criteria['criteria'] === consts.QUERY_CRITERIA_SUBJECT_ID">
            <span class="criteria-display-parent">(</span>
            <span *ngFor="let status of criteria['displayData']; let i = index">
                <span class="criteria-display-comma" *ngIf="i > 0">,</span>
                <span
                    class="label label-default criteria-display criteria-display-name display-wrap">{{criteria['displayData'][i]}}</span>
            </span>
            <span class="criteria-display-parent">)</span>
        </span>

        <span *ngIf="i < (displayQueryData.length -1)" class="label label-default criteria-and">AND</span>
    </span>

</div>
