@import '../../../../app.component';
@import '../../../../data-table';

.qc-bulk-outer-div {
    border: solid $data-table-body-border-color;
    margin-top: 10px;
    background-color: #FFFF00;
}

.qc-bulk-heading {
    color: $heading-text-color;
    background-color: #fff;
    font: 16px arial, sans-serif;
    margin: 6px 0 0 6px;
}

.bulk-qc-status-table-frame{
    padding: 8px;
}

// td
.qc-bulk-radios {
    border: solid $data-table-body-border-color 1px;
    padding: 6px;
}

.qc-bulk-complete-radios{
    border: solid $data-table-body-border-color 1px;
    // padding-right: 1px;
    padding: 6px 18px 6px 18px;
}

.qc-bulk-radio-label {
    font: 14px arial, sans-serif;
    padding-left: 4px;
}


.qc-bulk-section-2{
    border: solid #44ffaa 4px;
}

.qc-bulk-batch-number-spinner {
    border: solid 1px #686868;
    border-radius: 3px;

    position: relative;
    top: 0px;
    padding: 0 4px 0 4px;
    margin: 10px 2px 10px 4px;
    width: 48px;
    height: 28px;
}


.log-text{
    margin-top: 14px;
    border: solid $data-table-body-border-color 1px;
    width: 100%;
}

.qc-bulk-update-button{
    margin: 6px 12px 0 0 ;
}
