@import '../../../../../app.component.scss';

/* TODO find out where this is being overridden, we should be able to use this from app.css  */
.dark {
  background: #f4f4f4 !important;
}

.show-subject-details-td {
  width: 16px;
  border-right: none;
  cursor: pointer;
}

.thead-tr {
  border: none;
}

.show-subject-details {
  margin-left: 4px;

  border-color: #00b110;
}

.top-cart-select-dropdown {
  padding: 0;
  margin: 0;
}

.top-cart-select-button {
  /* T R B L */
  padding: 2px 7px 1px 7px;
  margin: 0 7px 0 7px;
  max-width: 30px;
}

.cart-heading {
  padding-right: 0;
  margin-right: 0;
}

.sort-pointer {
  margin-left: 1px;
}

.subjectId-heading {
  cursor: pointer;
  text-decoration: none;
}

.search-results-table {
  border-bottom: solid 1px #cfcfcf;
  border-right: solid 2px #cfcfcf;
  border-left: solid 2px #cfcfcf;
  width: 100%;
}

/* Wait while updating label, shows up next to "Showing X of X Subjects. */
.cart-update-label {
  position: relative;
  top: -28px;
  left: 220px;
  font-size: 12pt;
}

/*
   When the alternate style of scrolling is selected.  The button to the left of the "Select Display Columns" button.
   Still a work in progress.
 */
.search-results-table-div-scroll {

  /** Left side data panel */
  padding: 0;
  position: fixed;
  right: 10px;
  left: 390px;

  /* Fix position at bottom, leave room for the "show per page", and "pager" at the bottom */
  bottom: 67px;
  overflow-x: hidden;
  overflow-y: auto;

  /* FIXME  when the display query needs to expand downward, 311 isn't right anymore. */
  height: calc(100% - 311px);
}

td {
  border: solid 1px #e7e7e7;
}

/* The top level Search results
   we can't just use td because the odd TDs are Subject detail displays */
.search-results-td {
  padding: 2px 0 2px 4px;
}

.collectionID {
}

.cart-check {
  cursor: pointer;
}

.subjectId-link {
  cursor: pointer;
  text-decoration: none;
}

.matchedStudies {
}

.totalStudies {
}

.matchedSeries {
}

.totalSeries {
}

.diskSpace {
}

.imageCount {
}

.hit {
}
