<!-- ----------  This is the Query that is displayed above the Search Results or Summary screen.  ---------- -->
<!-- ----------  The Clear the complete query button on the left.                                 ---------- -->

<!--
<div class="alert alert-info display-query display-wrap" [ngStyle]="{'backgroundColor': '#f00', 'width': displayQueryWidth }">
-->
<div class="alert alert-info display-query display-wrap" >
    <button
        class="btn btn-nbia-default  d-inline-flex align-items-center "
        title="Clear query"
        (click)="onClearSimpleSearchQueryClick()"
    >
        <img  class="display-query-clear-icon" src="assets/images/TOOLS/clear_black.png">

 <!--       class="clicker cart-button-icon"
        src="assets/images/TOOLS/clear_red.png"
 -->

       <span>&nbsp;Clear</span>
    </button>

    <span class="display-on-top">
        <!-- Minimum matched studies -->
        <span *ngIf="( comService.getMinimumMatchedStudiesStaus() ) && ( allCriteriaList.length > 0 ) ">
            <span  class="label label-default criteria-display criteria-display-title">
                Min studies {{commonService.getMinimumMatchedStudiesValue()}}
            </span>&nbsp;-
        </span>

            <!--  Truncated display query -->
            <span *ngIf="!showAllCriteria">
                <span *ngFor="let critRow of allCriteriaList; let n = index">
                    <!-- Do not split up the following line.  -->
                    <span *ngIf="( n > 0 ) && ( n < allCriteriaList.length )">&nbsp;<span
                    class="label criteria-display  label-default criteria-and">AND</span>
                    </span>

                    <span *ngFor="let critRowElements of critRow; let i = index">
                        <span *ngIf="i==0"
                            class="label label-default criteria-display criteria-display-title display-wrap">{{critRowElements | displayFormat}}
                        </span>
                        <span *ngIf="i==1" class="display-wrap">(</span>
                        <span *ngIf="i>1 && i < displayQueryElements">,&nbsp;</span>
                        <span *ngIf="( i > 0 ) && ( i < displayQueryElements )"
                        class="label label-default criteria-display criteria-display-name display-wrap">{{cleanQuery(critRowElements)}}
                        </span>
                        <span *ngIf="displayQueryElements === 3">
                            <span *ngIf="((i==1)&&(critRow.length == 2))||((i==2)&&(critRow.length == 3))"
                                class="display-wrap">&nbsp;)
                            </span>
                            <span *ngIf="i==3">,&nbsp;...)</span>
                        </span>

                        <span *ngIf="displayQueryElements === 4">
                            <span *ngIf="((i==1)&&(critRow.length == 2))||((i==2)&&(critRow.length == 3))||((i==3)&&(critRow.length == 4))"
                                class="display-wrap">&nbsp;)
                            </span>
                            <span *ngIf="i==4">,&nbsp;...)</span>
                        </span>

                        <span *ngIf="displayQueryElements === 5">
                            <span *ngIf="((i==1)&&(critRow.length == 2))||
                            ((i==2)&&(critRow.length == 3))||
                            ((i==3)&&(critRow.length == 4))||
                            ((i==4)&&(critRow.length == 5))
                            " class="display-wrap">&nbsp;)</span>
                            <span *ngIf="i==5">,&nbsp;...)</span>
                        </span>

                        <span *ngIf="displayQueryElements === 6">
                            <span *ngIf="((i==1)&&(critRow.length == 2))||
                            ((i==2)&&(critRow.length == 3))||
                            ((i==3)&&(critRow.length == 4))||
                            ((i==4)&&(critRow.length == 5))||
                            ((i==5)&&(critRow.length == 6))
                            " class="display-wrap">&nbsp;)</span>
                            <span *ngIf="i==6">,&nbsp;...)</span>
                        </span>
                    </span>
                </span>
        </span>


        <!--  Full (showAll) display query -->
        <span *ngIf="showAllCriteria">
            <span
                    *ngFor="let critRow of allCriteriaList; let n = index">
                <!-- Do not split up the following line.  -->
                <span *ngIf="( n > 0 ) && ( n < allCriteriaList.length )">&nbsp;<span
                        class="label label-default criteria-and">AND</span>
                </span>

                <span *ngFor="let critRowElements of critRow; let i = index">

                    <span *ngIf="i==0"
                          class="label label-default criteria-display criteria-display-title display-wrap">{{critRowElements | displayFormat}}</span>
                    <span class="display-wrap" *ngIf="i==1">(</span>
                    <span class="display-wrap" *ngIf="( (i > 1) && (i < critRow.length))">,&nbsp;</span>
                    <span *ngIf="( i > 0 )"
                          class="label label-default criteria-display criteria-display-name display-wrap">{{cleanQuery(critRowElements)}}
                    </span>
                    <span class="display-wrap" *ngIf="i==critRow.length - 1 ">&nbsp;)</span>
                </span>
            </span>
        </span>
    </span>

    <span class="show-all-criteria-button-span">
        <span *ngIf="showAllCriteria && truncatedOutput">
            <button
                class="btn btn-default no-outline"
                (click)="showAllCriteria = false"
            >
                Truncate display
            </button>
        </span>

        <span *ngIf="!showAllCriteria && truncatedOutput">
            <button
                class="btn btn-default no-outline"
                (click)="showAllCriteria = true"
            >
                Show all
            </button>
        </span>
    </span>
</div>
