<div class="query-panel"
     [ngClass]="{
                    'query-panel-long': showSubjectIds
                }">

    <div class="query-panel-heading">
        <label *ngIf="subjectText.length > 0" class="red-clear">
            <img class="clicker cart-button-icon" src="assets/images/TOOLS/clear_red.png" alt="Search" (click)="onClearClick()">
        </label>

        <span *ngIf="showSubjectIds" class="clicker" (click)="onShowSubjectIdsClick(false)">
            <img class="chevron-down-icon" src="assets/images/TOOLS/chevron_down_red.png">
            Subject IDs
        </span>

        <span *ngIf="!showSubjectIds" class="clicker" (click)="onShowSubjectIdsClick(true)">
            <img class="chevron-right-icon" src="assets/images/TOOLS/chevron_right_red.png">
            Subject IDs
        </span>

    </div>

    <div [ngClass]="{
                    'hide-div': !showSubjectIds
                }"
         class="text-input-div">
        <span class="subject-id-prompt">Enter comma separated ID(s)</span>
        <textarea ref-textarea [(ngModel)]="subjectText" class="subject-id-text"></textarea>

        <button class="btn nbia-button subject-id-query-button"
                type="button"
              (click)="onSearchClick()">
            Apply Subject IDs
        </button>
    </div>
</div>
