<div>
    <nbia-collection-query></nbia-collection-query>
    <nbia-image-modality-query></nbia-image-modality-query>
    <nbia-anatomical-site-query></nbia-anatomical-site-query>
    <nbia-minimum-matched-studies></nbia-minimum-matched-studies>
<!--  Oct 2017  was decided that this should not be part of Simple Search
      Can be turned back on by removing this comment.

      This has been turned off for a while, so a lot of codding has gone one since, so it will need more than just uncommenting.
    <nbia-manufacturer-models-query></nbia-manufacturer-models-query>
-->
    <nbia-date-range-query></nbia-date-range-query>
    <nbia-subject-id-query></nbia-subject-id-query>

</div>
