// TODO move this higher, we have something similar in series details
.red-asterisk {
  font-size: 16pt;
  font-weight: bold;
  color: #700;
  cursor: default;
}

.series-results-set {
  border: solid 1px #f4f4f4;
  border-radius: 5px;
  margin: 3px 0 2px 0;
  /*padding-bottom: 5px;*/

}

.subject-details-header {
  background: #f4f4f4;
  border: solid 1px #f4f4f4;
  width: 100%;
}

.study-table-header {
  background-color: #dedddd;
  height: 50px;
  font-weight: bold;
}

.study-header-tr {
  background-color: #dedddd;
  border: solid 10px #dedddd;
  height: 30px;
  font-weight: bold;
}

.arrow-span {
  padding-right: 6px;
}

.study-date-clicker:hover {
  text-decoration: none;
}

.study-date-clicker:link {
  text-decoration: none;
}

.ohif-study-button {
  width: 30px;
  padding: 2px 7px 1px 7px;
}

// FIXME this is a dup
.hide {
  display: none;
}
