<!--router-outlet></router-outlet-->
<nbia-loading-display></nbia-loading-display>

<table width="100%"
   background="assets/img/headbackGround.jpg"
   border="0" 
   cellspacing="0" 
   cellpadding="0"
   align="center" >
	<tr>      
		<td valign="center" align="right" style="padding-right:100px;font-weight:bold;padding-top:3px; padding-bottom:3px;">
			<span class="fontSize24 TextShadow blue mediumFont dispBlock" >User Authorization Tool&nbsp;&nbsp;</span>
		</td> 
	</tr>
</table>

<p-tabView (onChange)="handleChange($event)">
	<p-tabPanel header="User">
		<user (addUser)="pushNewUser($event)"></user>
	</p-tabPanel>
	<p-tabPanel *ngIf="show" header="Protection Element">
		<pe></pe>
	</p-tabPanel>
	<p-tabPanel header="Protection Group">
		<pg></pg>	
	</p-tabPanel>
	<p-tabPanel header="User Group">
		<group></group>
	</p-tabPanel>
	<p-tabPanel [disabled]="showAuthorPG !== true" header="User Authorization w/ PG">
		<pgRole [addedUser]="addedUser"></pgRole>
	</p-tabPanel>
	<p-tabPanel [disabled]="showAuthorUG !== true" header="User Authorization w/ User Group">
		<userToGroup [addedUser]="addedUser"></userToGroup>
	</p-tabPanel>
</p-tabView>


<div class="footer-div">
    <span class="footer-text-color"
          title="build 1.0.70c"
    >
    (c) 2020-{{currentYear}} NBIA User Admin Tool version {{version}} - release commit: {{commit}} -
         &nbsp;&nbsp;&nbsp;&nbsp;Server: {{hostName}}
    </span>


    <span class="right-side">
        <a href="http://www.cancerimagingarchive.net/feedback/" class="footer-text-color">Feedback</a>
        &nbsp;&nbsp;
        <a href="http://www.cancerimagingarchive.net/privacy-notice/"  class="footer-text-color">Privacy Notice</a>
        &nbsp;&nbsp;
        <a href="http://www.cancerimagingarchive.net/disclaimer/"  class="footer-text-color">Disclaimer</a>
        &nbsp;&nbsp;
        <a href="http://www.cancerimagingarchive.net/accessibility/"  class="footer-text-color">Accessibility</a>
        &nbsp;&nbsp;
        <a href="http://www.cancerimagingarchive.net/support/"  class="footer-text-color">Support</a>
        &nbsp;&nbsp;
        <a href="https://wiki.cancerimagingarchive.net/pages/viewpage.action?pageId=4555089"  class="footer-text-color" >FAQs</a>
    </span>
</div>
