.no-outline {
    outline: none;
}

.nbia-button {
   @extend .no-outline;
    color: #fff;
    background-color: #0b7983;
    cursor: pointer;
	border: 1px solid #E8E8E8
    /*
    font-size: 10pt;
    */
}

.nbia-button:hover {
    background-color: #277599;
}

.nbia-button:active {
    background-color: #1e5975;
}

.hide-item {
    display: none;
}

.nbia-col-button {
    @extend .no-outline;
    color: #333;
    background-color: #ffffff;
	border-color: #ccc;
    cursor: pointer;
    /*
    font-size: 10pt;
    */
}

.nbia-col-button:hover {
    background-color: #dedede !important;
	border-color: #ccc !important;
}

.fontSize24{font-size:24px;}	
.dispBlock{display:block !important;}
.TextShadow{text-shadow: 0 1px 0 #ffffff}
.mediumFont{font-family: 'RobotoMedium', "Trebuchet MS", Arial, Helvetica, sans-serif;}
.blue{color:#25aae1;}

.no-outline {
    outline: none;
}

.ui-tabview { /* tab view boder */
    background: none;
    border: 0 none;
    color: #5C666A;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
}
.ui-tabview .ui-tabview-nav { /*tab tag bar area*/
    background: #f4f4f4 !important;;
    margin-bottom: -1px;
    padding: 3px 3px 0px 3px !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.ui-tabview .ui-tabview-nav li,
.ui-tabview .ui-tabview-nav li.ui-state-hover { /*unselected tab*/
    border: 0px none !important;
    background: #dddddd !important;
    border-color: #dddddd !important;;
    box-shadow: none !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
}
.ui-tabview .ui-tabview-nav li a {
    padding: .5em 1em !important;
}
.ui-tabview .ui-tabview-nav li.tab-doc {
    margin-right: 0;
}
.ui-tabview .ui-tabview-nav li.ui-state-default a {
    color: #337ab7 !important; 			/* unselected text */
    font-weight: normal !important;
    text-shadow: none ;
}
.ui-tabview .ui-tabview-nav li.ui-state-active a {
    color: #234567!important;
    font-weight: normal !important;
}
.ui-tabview .ui-tabview-nav li.ui-state-hover {	
    box-shadow: none !important;
}

.ui-tabview .ui-tabview-nav li.ui-tabview-selected { /*selected tab*/
    @extend .no-outline;
    background: #fff !important;
}
.ui-tabview .ui-tabview-panels { /* tab view pannel body */
    border-top: 1px solid #F5F6F7 !important;;
    color: #5C666A !important;
    background: #fff;
}
.ui-tabview.ui-tabview-top > .ui-tabview-nav li {
    top: 0px !important;
}