<!--router-outlet></router-outlet-->
<nbia-loading-display></nbia-loading-display>

<table width="100%"
   background="assets/img/headbackGround.jpg"
   border="0" 
   cellspacing="0" 
   cellpadding="0"
   align="center" >
	<tr>      
		<td valign="center" align="right" style="padding-right:100px;font-weight:bold;padding-top:3px; padding-bottom:3px;">
			<span class="fontSize24 TextShadow blue mediumFont dispBlock" >User Authorization Tool&nbsp;&nbsp;</span>
		</td> 
	</tr>
</table>

<p-tabView [activeIndex]="index" (onChange)="handleChange($event)">
	<p-tabPanel header="User">
		<user (addUser)="pushNewUser($event)"></user>
	</p-tabPanel>
	<div *ngIf="show">
		<p-tabPanel header="Protection Element">
			<pe></pe>
		</p-tabPanel>
	</div>
	<p-tabPanel header="Protection Group">
		<pg></pg>
	</p-tabPanel>
	<p-tabPanel header="User Group">
		<group></group>
	</p-tabPanel>
	<div *ngIf="showAuthorPG">
		<p-tabPanel header="User Authorization w/ PG">
			<pgRole [addedUser]="addedUser"></pgRole>
		</p-tabPanel>
	</div>	
	<div *ngIf="showAuthorUG">
		<p-tabPanel header="User Authorization w/ User Group">
			<userToGroup [addedUser]="addedUser"></userToGroup>
		</p-tabPanel>
	</div>	
</p-tabView>
