NCIA
{
gov.nih.nci.security.authentication.loginmodules.LDAPLoginModule Sufficient
ldapHost="ldap://172.20.4.157:1389"
ldapSearchableBase="ou=users,dc=cancerimagingarchive,dc=net"
ldapUserIdLabel="cn";
gov.nih.nci.security.authentication.loginmodules.LDAPLoginModule Sufficient
ldapHost="ldap://144.30.1.70:1389"
ldapSearchableBase="ou=users,dc=cancerimagingarchive,dc=net"
ldapUserIdLabel="cn";
};
