<div class="deletion-bulk-outer-div">
    <div class="deletion-bulk-heading">
        Delete Selected Series
    </div>
    <textarea
        class="log-text"
        [(ngModel)]="logText"
        placeholder="Enter change log here..."
    ></textarea>

    <div>
        <button class="btn nbia-button deletion-bulk-update-button"
                [ngClass]="{
                    'nbia-button-disabled': searchResultsSelectedCount < 1
                }"
                [disabled]="searchResultsSelectedCount < 1"
                type="button"
                (click)="onBulkDeleteClick()">
            Delete
        </button>

    </div>

</div>
