// --------------------------------------------------------------------------
// ----------  Used for the bottom section of "Approve Deletions"  ----------
// --------------------------------------------------------------------------

@import "../../../../app.component";
@import "../../../../data-table";

.deletion-bulk-outer-div {
    border: solid $data-table-body-border-color;
    margin: 10px 0 0 0;
}

.deletion-bulk-heading {
    color: $heading-text-color;
    background-color: #fff;
    margin: 6px 0 0 6px;
}

.log-text {
    border: solid $data-table-body-border-color 1px;
    margin: 14px 10px 10px 10px;
    width: calc(100% - 20px);
}

.deletion-bulk-update-button {
    margin: 0 0 10px 10px;
}
