@import '../../../../app.component';
@import '../../../../data-table';

.deletion-bulk-outer-div {
    border: solid $data-table-body-border-color;
    margin: 10px 0 0 0;
}

.deletion-bulk-heading {
    color: $heading-text-color;
    background-color: #fff;
    font: 16px arial, sans-serif;
    margin: 6px 0 0 6px;
}


.log-text{
    margin: 14px 10px 10px 10px;
    border: solid $data-table-body-border-color 1px;
    width: calc(100% - 20px);
}


.deletion-bulk-update-button{
    margin: 0 0 10px 10px;
}
