<!------------------------------------------------------------------------->
<!----------  Used as the bottom section of "Approve Deletions"  ---------->
<!------------------------------------------------------------------------->

<div class="deletion-bulk-outer-div">
    <div
        class="deletion-bulk-heading"
        [ngClass]="{
            'heading-font-extra-small': currentFont === '0',
            'heading-font-small': currentFont === '1',
            'heading-font-medium': currentFont === '2',
            'heading-font-large': currentFont === '3'
        }"
    >
        Delete Selected Series
    </div>
    <textarea
        class="log-text"
        [ngClass]="{
            'font-extra-small': currentFont === '0',
            'font-small': currentFont === '1',
            'font-medium': currentFont === '2',
            'font-large': currentFont === '3'
        }"
        [(ngModel)]="logText"
        placeholder="Enter change log here..."
    ></textarea>

    <div>
        <button
            class="btn nbia-button deletion-bulk-update-button"
            [ngClass]="{
                'nbia-button-disabled': searchResultsSelectedCount < 1,
                'font-extra-small': currentFont === '0',
                'font-small': currentFont === '1',
                'font-medium': currentFont === '2',
                'font-large': currentFont === '3'
            }"
            [disabled]="searchResultsSelectedCount < 1"
            type="button"
            (click)="onBulkDeleteClick()"
        >
            Delete
        </button>
    </div>
</div>
