@import '../../../app.component.scss';

.lic-dropdown{
    height: 100%;
}

td{
    vertical-align:top;
    horiz-align: right;
 //   border: solid #9999ff 3px;
}
.save-button-span{
   // background-color: #00af58;
    horiz-align: right;
    width: 100%;
}

.save-button-td{
    width: 160px;
    horiz-align: right;

}
