/* You can add global styles to this file, and also import other style files */

/* @import url("./assets/bootstrap-3.3.7-dist/css/bootstrap.css"); */

@font-face {
	font-family:'PrimeIcons';
	src:url('../node_modules/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
	src:url('../node_modules/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('../node_modules/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('../node_modules/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('../node_modules/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('../node_modules/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.base-table { 
  p-dropdown {
    .p-dropdown {
      min-width:0;
    }
  }
}

p-table tr  th {
	border-bottom: 0 !important; 
	background-color: #dedddd !important;
}


/*
.base-table .p-paginator .p-dropdown::after {
    content: "entries";
	left: 100px;
	position: absolute;	
}

.base-table .p-paginator .p-paginator-bottom{
    border-top: 1px solid !important;
}

.p-paginator{
	background-color: #ffffff !important;
	height: 3em !important;
    text-align: center;
	vertical-align: middle !important;
    padding: .125em;
}


.p-paginator .p-paginator-top{
    border-bottom:  1px solid !important;
}

.p-paginator .p-paginator-bottom{
    border-top: 1px solid !important;
}

.p-paginator .p-paginator-left-content{
    float: left;
}

.p-paginator .p-paginator-right-content{
    float: right;
}

.p-paginator .p-paginator-page,.p-paginator .p-paginator-pages,.p-paginator .p-paginator-next,.p-paginator .p-paginator-last,.p-paginator .p-paginator-first,.p-paginator .p-paginator-prev,.p-paginator .p-paginator-current{
    display: inline-block;
    min-width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    zoom: 1;
    margin-left: .063em;
    margin-right: .063em;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.p-paginator .p-paginator-pages{
    width: auto;
    line-height: 1;
}

.p-paginator .p-paginator-icon{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1em;
    height: 1em;
    margin-top: -.5em;
    margin-left: -.5em;
}

.p-paginator .p-paginator-page,.p-paginator .p-paginator-next,.p-paginator .p-paginator-last,.p-paginator .p-paginator-first,.p-paginator .p-paginator-prev{
    cursor: pointer;
}

.p-paginator .p-paginator-current,.p-paginator .p-paginator-rpp-options{
    margin-left: 1em;
    margin-right: 1em;
    background-image: none;
}

.p-paginator .p-paginator-jtp-select option,.p-paginator .p-paginator-rpp-options option{
    background-image: none;
            box-shadow: none;
       -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.p-paginator a.p-state-disabled{
    outline: 0 none;
}

.p-paginator .p-dropdown{
    min-width: 4em;
    margin-left: .375em;
	border: 1px solid !important; 
}

.p-flp-paginator .p-dropdown{
    width: auto;
}
*/