@import '../../../../../app.component.scss';

.minimum-matched-studies-div {
    padding-bottom: 10px;
}

.disabled{
    color: $disabled-text;
}

.disabled-spinner{
    background-color: #eee;
}

.red-clear-minimum-matched-studies {
    position: absolute;
    left: $left-section-width - 70px;
}
  
