<div class="query-panel minimum-matched-studies-div">
  <!-- Head Section -->
  <div class="query-panel-heading" [title]="toolTipText">
    <span class="clicker" (click)="onShowMinimumMatchedStudiesClick(!showMinimumMatchedStudies)">
      <img *ngIf="showMinimumMatchedStudies" class="chevron-down-icon" src="assets/images/TOOLS/chevron_down_red.png">
      <img *ngIf="!showMinimumMatchedStudies" class="chevron-right-icon" src="assets/images/TOOLS/chevron_right_red.png">
      DICOM studies
    </span>

    <img src="assets/images/TOOLS/question_red_small.png" alt="question_red_small"
      class="clicker  close-third-party-explanation-x" (click)="onMinimumMatchedStudieseExplanationClick($event)">

    <!-- Reset the selections and restore the count to 1-->
    <label *ngIf="(+matchedTypeApplySelection + minNumberOfPoints) > 1" class="red-clear-minimum-matched-studies">
      <img
        class="clicker cart-button-icon"
        src="assets/images/TOOLS/clear_red.png"
        alt="Search"
        (click)="onMinimumMatchedClearAllClick(false)"
      >
    </label>

  </div>

  <!-- Any or All radio buttons  -->
  <div *ngIf="showMinimumMatchedStudies">
    <div *ngFor="let matchedTypeRadioLabel of matchedTypeRadioLabels; let i = index">
      <input type="radio" name="radioGroupMatchedType" class="thirdParty-radio" [value]="matchedTypeRadioLabel"
        [checked]="i === matchedTypeApplySelection" (change)="onMatchedTypeRadioChange(i)">

      <span class="thirdParty-radio-label" (click)="onMatchedTypeRadioChange(i)">
        {{matchedTypeRadioLabel}}
      </span>
    </div>
  
    <div [ngClass]="{
      'hide-div': !showMinimumMatchedStudies,
      'disabled': noQuery
      }" class="margin-left-20">
      <span>At least</span>
      <input type="number" class="number-spinner" min="1" 
      [ngClass]="{
            'disabled-spinner': noQuery
        }" [disabled]="noQuery" [(ngModel)]="minNumberOfPoints" (change)="onChangeMinimumMatchedStudies()">
      
        <span>{{ minNumberOfPoints > 1 ? 'points' : 'point' }}</span>
      <span> (DICOM studies)</span>
    </div>
  </div>
</div>

<nbia-minimum-matched-studies-explanation *ngIf="showMinimumMatchedStudiesExplanation"
  [posY]="posY">
</nbia-minimum-matched-studies-explanation>