<!-- ----------  The scrolling grid of images  ---------- -->
<h2>MHL NEW ANGULAR</h2>
<!-- -----  Error display.  TODO need useful user friendly messages here.  ----- -->
<h2 *ngIf="haveError">
  <div *ngIf="errorMessage0.length > 0 " class="label label-danger">
    {{errorMessage0}}
    <br>
  </div>
  <div *ngIf="errorMessage1.length > 0 " class="label label-danger">
    {{errorMessage1}}
    <br>
  </div>
  <div *ngIf="errorMessage2.length > 0 " class="label label-danger">
    {{errorMessage2}}
  </div>
</h2>


<!-- -----  Heading row with Series Description, Image count, Plus and Minus button.  ----- -->
<div *ngIf="! haveError" class="container-fluid"
     [ngClass]="{
        'busy': ! haveData
     }"
>

  <div class="row mt-1">

    <div class="col-md-8  heading-cell"
         [ngClass]="{
             'busy': ! haveData
         }"
    >
            <span
              *ngIf="( description.length > 0) && haveData"
              class="heading-label"
              [ngClass]="{
                    'busy': ! haveData
                }"

            >
                {{description}}
            </span>

      <span
        *ngIf="! haveData"
        class="loading-label"
      >
                Loading Images
            </span>
    </div>

    <!-- Image count -->
    <span class="panel-heading heading-cell col-md-2">
        <span class="heading-label">
            Images: {{commonService.getImageCount()}}
        </span>
    </span>


    <!-- Plus & Minus buttons -->
    <div class="panel-heading col-md-2 heading-cell mt-1">
            <span class="plus-minus">

                <button
                  (mouseover)="onZoomOutMouseOver()"
                  (mouseout)="onZoomOutMouseOut()"
                  class="btn btn-default zoom-button"
                  [disabled]="columns >= currentMaxColumns"
                  (click)="onMinusClick()"
                >
                    <img [src]="zoomOutImgSrc" class="grid-button-icon"/>
                </button>

                <button
                  (mouseover)="onZoomInMouseOver()"
                  (mouseout)="onZoomInMouseOut()"
                  class="btn btn-default zoom-button"
                  [disabled]="columns < 2"
                  (click)="onPlusClick()"
                >
                    <img [src]="zoomInImgSrc" class="grid-button-icon"/>

                </button>
            </span>
    </div>
  </div>
</div>


<!-- -----  Scrolling grid of images  ----- -->
<div *ngIf="! haveError" class="container-fluid image-grid"
     [style.height]="innerHeight"
>

  <!-- -----  Images  ----- -->
  <div class="row image-grid-row"
       [ngClass]="{
             'busy': ! haveData
         }"
  >


    <!-- Loop through images for just this page. -->
    <span
      *ngFor="let image of images.slice(firstImage, firstImage + imagesPerPage); let i=index"
      class="topImage"
      [ngClass]="{
                  'col-nbia-1': columns === 1,
                  'col-nbia-2': columns === 2,
                  'col-nbia-3': columns === 3,
                  'col-nbia-4': columns === 4,
                  'col-nbia-5': columns === 5,
                  'col-nbia-6': columns === 6,
                  'col-nbia-7': columns === 7,
                  'col-nbia-8': columns === 8,
                  'col-nbia-9': columns === 9,
                  'col-nbia-10': columns === 10,
                  'col-nbia-11': columns === 11,
                  'col-nbia-12': columns === 12,
                  'busy': ! haveData
             }"
    >

            <div class="parent-image-div"
                 [ngClass]="{
                    'parentImageMouseOver': mouseOver[i + firstImage],
                    'busy': ! haveData
                }"
                 (mouseover)="onMouseOver(i + firstImage)"
                 (mouseleave)="onMouseOut(i  + firstImage)"
                 (mouseout)="onMouseOut(i + firstImage)"
                 (click)="onOpenImageClick(i + firstImage)"
            >

                    <!-- The Image -->
                    <img
                      class="image "
                      [ngClass]="{
                            'image-mouseover': mouseOver[i + firstImage],
                            'busy': ! haveData
                        }"
                      [src]=image.thumbnailImage
                    >

                    <span class="image-number-span">
                        <span
                          class="image-number"
                          [ngClass]="{
                                    'image-numberMouseOver': mouseOver[i + firstImage],
                                    'busy': ! haveData
                            }"
                        >

                            <span *ngIf="properties.IMAGE_LOAD_MODE === properties.LOAD_ALL && haveData">
                                {{i + 1  + firstImage}}
                            </span>
                            <span *ngIf="properties.IMAGE_LOAD_MODE !== properties.LOAD_ALL && haveData">
                                {{i + 1 + currentPage * imagesPerPage}}
                            </span>
                        </span>
                    </span>


              <!-- The transparent "Open Image" Image -->
                    <img
                      [ngClass]="{
                            'hide-element':! mouseOver[i + firstImage],
                            'busy': ! haveData
                        }"
                      class="image open-image-img"
                      src="assets/images/open_image_02.png"
                    >
            </div>
        </span>
  </div>
</div>
<div *ngIf="! haveError">
  <nbia-footer
    [ngClass]="{
                    'busy': ! haveData
                }"
  ></nbia-footer>
</div>
