<!-- ----------  When the user clicks the Download button in the header at the top,                          ---------- -->
<!-- ----------  or the Download button at the top right of the Cart screen,                                 ---------- -->
<!-- ----------  This Dialog will offer thee choices:                                                        ---------- -->
<!-- ----------     Cancel - Close this dialog and do nothing.                                               ---------- -->
<!-- ----------     Download - Download the manifest file, its mime type should trigger the Downloader app.  ---------- -->
<!-- ----------     Get TCIA Downloader App - Opens the website where the Downloader can be downloaded.      ---------- -->

<div *ngIf="showDownloaderDownload" class="card card-nbia-default alert-box-div alert-box-shadow downloader-download-div ">
        <div class="card-heading card-nbia-header-with-icon-default">
            <img class="mt-2 ml-3"  src="assets/images/icons/info_blue_32px.png">

            &nbsp;
            <span class="card-title">
                <span class="data-retriever-info-text">
                    NBIA Data Retriever
                </span>
            </span>
        </div>

        <div class="card-body">
            <div>
                Before clicking the Download button you must install
                <br>
                the NBIA Data Retriever on your computer.
            </div>
            <br>

            <!--  Checkbox for "Do not show this message again"  -->
            <input
                type="checkbox"
                class="download-checkbox"
                id='checkboxShowDownloaderDownload'
                (click)="onShowMessageCheckboxClick($event.target.checked )"
            >
            <label for='checkboxShowDownloaderDownload'>
                &nbsp;Do not show this message again.
            </label>
            <br>


            <!-- -----  The three buttons  ----- -->
            <div>

                <!--  "Cancel" button  -->
                <button class="btn btn-danger alert-box-button" (click)="onCancelCartDownloadClick()">
                    Cancel
                </button>
                &nbsp;


                <!-- "Continue Cart Download" button  -->
                <button class="btn  btn-default nbia-button alert-box-button" (click)="onContinueCartDownloadClick()">
                    <img class="application-menu-icon" src="assets/images/TOOLS/download_white.png">
                    &nbsp;Download
                </button>
                &nbsp;

                <!-- "Get TCIA Downloader" button -->
                <a
                    *ngIf="showTciaDownloaderButton"
                    class="btn btn-success alert-box-button"
                    [href]=properties.DOWNLOADER_URL

                    TARGET="_blank"
                    (click)="onTciaDownloaderClick()"
                >
                    <img class="application-menu-icon" src="assets/images/TOOLS/download_white.png">
                    &nbsp;Get NBIA Data Retriever
                </a>

            </div>

        </div>
</div>
