<!-- ----------  When the user clicks the Download button in the header at the top,                          ---------- -->
<!-- ----------  or the Download button at the top right of the Cart screen,                                 ---------- -->
<!-- ----------  This Dialog will offer thee choices:                                                        ---------- -->
<!-- ----------     Cancel - Close this dialog and do nothing.                                               ---------- -->
<!-- ----------     Download - Download the manifest file, its mime type should trigger the Downloader app.  ---------- -->
<!-- ----------     Get TCIA Downloader App - Opens the website where the Downloader can be downloaded.      ---------- -->

<div *ngIf="showDownloaderDownload" class="alert-box-div downloader-download-div ">
    <div class="panel panel-info alert-box-shadow">
        <div class="panel-heading">
            <span class="alert-box-icon glyphicon glyphicon-info-sign"></span>
            &nbsp;
            <span class="panel-title">
                NBIA Data Retriever
            </span>
        </div>

        <div class="panel-body">
            <div>
                Before clicking the Download button you must install
                <br>
                the NBIA Data Retriever on your computer.
            </div>
            <br>

            <!--  Checkbox for "Do not show this message again"  -->
            <input
                type="checkbox"
                class="download-checkbox"
                id='checkboxShowDownloaderDownload'
                (click)="onShowMessageCheckboxClick($event.target.checked )"
            >
            <label for='checkboxShowDownloaderDownload'>
                &nbsp;Do not show this message again.
            </label>
            <br>


            <!-- -----  The three buttons  ----- -->
            <div>

                <!--  "Cancel" button  -->
                <button class="btn btn-danger alert-box-button" (click)="onCancelCartDownloadClick()">
                    Cancel
                </button>
                &nbsp;


                <!-- "Continue Cart Download" button  -->
                <button class="btn  btn-default nbia-button alert-box-button" (click)="onContinueCartDownloadClick()">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    &nbsp;Download
                </button>
                &nbsp;

                <!-- "Get TCIA Downloader" button -->
                <a
                    *ngIf="showTciaDownloaderButton"
                    class="btn btn-success alert-box-button"
                    [href]=properties.DOWNLOADER_URL

                    TARGET="_blank"
                    (click)="onTciaDownloaderClick()"
                >
                    <span class="glyphicon glyphicon-download-alt"></span>
                    &nbsp;Get Data Retriever
                </a>

            </div>

        </div>
    </div>
</div>
