<span class="card-nbia-default text-search-explanation alert-box-div alert-box-shadow">
    <div class="card-nbia-header-default p-2">
        <div >3<small>rd</small>-Clinical Time Point
            <span class=" close-x clicker unselectable" (click)="onClinicalTimePointsExplanationCloseClick()">
                X
            </span>
        </div>
    </div>

    <div class="third-party-explanation-text bg-white p-2">
        Some datasets encode Clinical Time Point information in the image metadata. This filter allows you to refine search results based on how many days have passed since a particular clinical event occurred when these metadata are included by the data submitter.
    </div>
</span>
