@import 'src/app/app.component';

$query-section-left-pad: 10px;
$query-section-right-pad: 15px;

$left-section-width: 380px;
$left-section-right-margin: 15px;
$query-criteria-content-left-margin: 18px;

$query-collection-start-height: 420px;

.query-section {
    // padding-left: $query-section-left-pad;
    padding-right: $query-section-right-pad;
    width: $left-section-width;
}

.search-query-opener-icon, .search-query-closer-icon{
    height: 14px;
}
.search-query-closer {
    background-color: #f4f4f4;
    margin: 0 16px 0 0;
    padding: 8px 3px 4px 0;
    cursor: pointer;
    /*
    background-color: #fff;
    padding: 4px 8px 4px 4px;
    border-right: solid 1px #ddd;
    border-top: solid 1px #ddd;
    border-left: solid 1px #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    */
}

.search-query-opener {
    //  top: -33px;
    color: $heading-text-color;
    cursor: pointer;
    // padding: 4px 4px 4px 8px;
    float: right;
    border-right: solid 1px #ddd;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    border-radius: 4px;
    /*
    color: $query-criteria-heading-text-color;
    cursor: pointer;
    padding: 4px 4px 4px 8px;

    border-right: solid 1px #ddd;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    border-radius: 4px;
    */
}

// Tab stuff - TODO move to its own scss file
.tab-div {

    height: 10px;
    //   background-color: #0af;
    background-color: #f4f4f4;
    width: $left-section-width - $query-section-right-pad;
    // height: 10px;
    margin: 0;
    // t r b L
    padding: 6px 6px 6px 0;
    vertical-align: bottom;
    display: table-cell;
}

$tab-selected-border-color: #ddd;
.tab {
    padding: 8px 8px 8px 8px;
    height: 100%;

    margin: 0 0 0 0;
    border-top: solid $tab-selected-border-color 1px;
    border-left: solid $tab-selected-border-color 1px;
    border-right: solid $tab-selected-border-color 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab-selected {
    color: #555;
    background-color: #fff;
    cursor: default;
}

.tab-not-selected:hover {
    padding: 8px 8px 7px 8px;
    color: #383e79;
    background-color: #eee;
    border-color: #eee;
    cursor: pointer;

}


.tab-not-selected {
    padding: 8px 8px 7px 8px;
    color: #337ab7;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
}

.search-query-closer2 {
    float: right;
    margin: 0 0 0 0;
    padding: 8px 8px 8px 8px;

    border-top: solid $tab-selected-border-color 1px;
    border-left: solid $tab-selected-border-color 1px;
    border-right: solid $tab-selected-border-color 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    color: $heading-text-color;

    background-color: #0f0;
    cursor: default;

}

.search-query-closer3 {
    padding: 8px 8px 8px 8px;
    // height: 100%;
    // float: right;
    margin: 0 0 0 0;
    border-top: solid $tab-selected-border-color 1px;
    border-left: solid $tab-selected-border-color 1px;
    border-right: solid $tab-selected-border-color 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $heading-text-color;

    background-color: #fff;
    cursor: default;

}
