<div class="query-panel">
    <div class="query-panel-heading">
        <label class="close-x-icon">
        <span class="clicker glyphicon glyphicon-remove  "
              (click)="onRemoveCriteriaClick()"
        ></span>
        </label>

        <!-- No close/open icon, just show th Heading. -->
        <span *ngIf="! queryCriteriaData['dynamicQueryCriteriaOpenCloseButton']">
            {{queryCriteriaData['dynamicQueryCriteriaHeading']}}
        </span>


        <span *ngIf="queryCriteriaData['dynamicQueryCriteriaOpenCloseButton']">
            <span *ngIf="singleChoiceListShowCriteria" class="clicker" (click)="onShowCriteriaClick(false)">
                <img src="../../../../../assets/images/down_V01.png">
                {{queryCriteriaData['dynamicQueryCriteriaHeading']}}
            </span>
            <span *ngIf="!singleChoiceListShowCriteria" class="clicker" (click)="onShowCriteriaClick(true)">
                <img src="../../../../../assets/images/right_V01.png">
                {{queryCriteriaData['dynamicQueryCriteriaHeading']}}
            </span>
        </span>


        <!-- Search (filter) List. -->
        <label class="dynamic-criteria-list-search"
               (click)="onSearchGlassClick()"
        >
            <img
                class="clicker"
                src="assets/images/search.png"
                alt="Search collections"
            >
        </label>
        <!-- ---------------------------------------------------------------- -->
        <!--

                <div *ngFor="let item  of queryCriteriaData['dynamicQueryCriteriaDataArray']; let i = index">
                    [{{i}}]: {{item}}
                </div>
        -->

    </div>

        <!-- -----  Criteria list search input (Red magnifying glass)  ----- -->
        <div *ngIf="showListSearch" class="list-search-box">

            <input type="text" class="list-search-text-area" id="collectionsSearchText" placeholder="search"
                   [(ngModel)]="listSearchInput"
                   (blur)="onSearchTextOutFocus(0)"
                   (focus)="onSearchTextFocus(0)"
                   (ngModelChange)="onSearchChange($event)">
        </div>
        <!-- -----  End Search input  ----- -->


        <!-- ---------------------------------------------------------------- -->
        <div class="list-scroller-div"
             (resized)="onResized($event)"

             [ngClass]="{
           'hide': ! singleChoiceListShowCriteria
       }"
        >

            <div class="list-scroller">

                <div class="list-scroller-content" id="collections">
                    <div *ngFor="let item of queryCriteriaData['dynamicQueryCriteriaDataArray']; let i = index"
                         class="list-panel-radio-button"

                    >
                        <input type="radio"
                               class="radio-button"
                               name="singleChoiceRadio-{{sequenceNumber}}"
                               id="single-choice-radio{{i}}"
                               (click)="onCriteriaClicked(i)"
                               [checked]="cBox[i]"
                        >

                        <label [attr.for]="'single-choice-radio'+i"
                               class="criteria-text"
                        >
                          {{item}}
                        </label>
                    </div>
                </div>

            </div>
        </div>


</div>
