
$image_frame_margin: 4;
$outer_margin: 7;
$border_thickness: 2;

$image_number_left: 2;
$image_number_top: 2;
$image_number_font_size: 18;

$disabled_button_background: #aaaaaa;
$hover_button_background: #286090;

$page_number_background: #ddd;
$button_background: #ffffff;
$button_foreground: #6b6b6b;
$button_background_hover: #e6e6e6;

$image_border: #286090;
