<div style="position:absolute;top: 46px;right: 30px;">
	<div (click)="openWiki()" style="cursor: pointer;">
		<i class="fa fa-question-circle" style="color: #700; font-size: 2em;"></i>
	</div>
</div>


<div>
	<p-table #dt [value]="pgs" [globalFilterFields]="['dataGroup','description','dataSets']" [paginator]="true" [rows]="10" 
	[showCurrentPageReport] = "true" currentPageReportTemplate="{totalPages} pages&nbsp;&nbsp;"	[rowsPerPageOptions]="[10,20,50,100,{showAll:'All'}]" [styleClass]="'base-table'">
		<ng-template pTemplate="caption">
			<div style="text-align: right">        
				<i class="fa fa-search" style="margin:4px 4px 0 0"></i>
				<input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
			</div>
		</ng-template>
		
		<ng-template pTemplate="header" let-columns>
			<tr>		
				<th rowspan="2" style="width:8em">Edit Protection Group</th>
				<th [pSortableColumn]="'dataGroup'" style="border-bottom: none">
					Protection Group
					<p-sortIcon [field]="'dataGroup'"></p-sortIcon>
				</th>
				<th [pSortableColumn]="'description'" style="border-bottom: none">
					Description
					<p-sortIcon [field]="'description'"></p-sortIcon>
				</th>
				<th [pSortableColumn]="'dataSets'" style="border-bottom: none">
					Associated Protection Element
					<p-sortIcon [field]="'dataSets'"></p-sortIcon>
				</th>
				<th rowspan="2" style="width:10em">Assign/Remove Protection Element(s)</th>
				<th rowspan="2" style="width:8em">Show Associated User(s)</th>				
			</tr>
			<tr>
				<th style="border-top: none;">
					<div class="p-fluid">
						<input pInputText type="text" pTooltip="Enter a whole or partial word to filter on protection group name" (input)="dt.filter($event.target.value, 'dataGroup', 'contains')"
						[value]="dt.filters['dataGroup'] ? $any(dt).filters['dataGroup'].value : ''">
					</div>
				</th>
				<th style="border-top: none;">
					<div class="p-fluid">
						<input pInputText type="text" pTooltip="Enter a whole or partial word to filter on description" (input)="dt.filter($event.target.value, 'description', 'contains')"
						[value]="dt.filters['description'] ? $any(dt).filters['description'].value : ''">
					</div>
				</th>
				<th style="border-top: none;">
					<div class="p-fluid">
						<input pInputText type="text" pTooltip="Enter a whole or partial word to filter on associated protection element name" (input)="dt.filter($event.target.value, 'dataSets', 'contains')"
						[value]="dt.filters['dataSets'] ? $any(dt).filters['dataSets'].value : ''">
					</div>
				</th>					
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-rowData let-ri="rowIndex">
			<tr [pSelectableRow]="rowData">
			  <td>
                <button pButton type="button" icon="pi pi-pencil" class="nbia-col-button" (click)="onSelect(rowData)"></button>
   			  </td>
			  <td>{{rowData.dataGroup}}</td>
			  <td>{{rowData.description}}</td>
			  <td><div style="white-space: pre-wrap;">{{rowData.dataSets | addNewLine}}</div></td>
			  <td>
                <button pButton type="button" icon="fa fa-plus" class="nbia-col-button" (click)="showDialogToAssign(rowData)"></button>
				<button pButton type="button" icon="fa fa-minus" class="nbia-col-button" (click)="showDialogToRemove(rowData)"></button>
   			  </td>
			  <td>
                <button pButton type="button" icon="fa fa-user" class="nbia-col-button" (click)="showMemberDialog(rowData)"></button>
   			  </td>					  
			</tr>
		</ng-template>
		<ng-template pTemplate="summary" let-rowData>
			<div style="text-align:left">
				<button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add Protection Group" class="nbia-button"></button>
			</div>
		</ng-template>  		
	</p-table>
	<p-messages [value]="statusMessage" [closable]="true"></p-messages>
	<p-dialog header="Protection Group Details" [(visible)]="displayDialog" [modal]="true" [style]="{width: '600px', minWidth: '300px'}" [maximizable]="true">
		<div class="p-g p-fluid" *ngIf="pg">
			<div class="p-g-12">
				<div class="p-g-4"><label for="dataGroup">Protection Group Name</label></div>
				<div class="p-g-8"><input pInputText id="dataGroup" [(ngModel)]="pg.dataGroup" [disabled]="!newPg" required="true"/></div>
			</div>
			<div class="p-g-12">
				<div class="p-g-4"><label for="description">Description</label></div>
				<div class="p-g-8"><input pInputText id="description" [(ngModel)]="pg.description" required="true"/></div>
			</div>
		</div>
		<p-footer>
			<div class="p-dialog-buttonpane p-helper-clearfix">
				<button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
				<button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete" [disabled]="newPg"></button>
			</div>
		</p-footer>
	</p-dialog>
	<p-dialog header="Add Protection Element(s) to Protection Group" [(visible)]="displayAssignDialog" [modal]="true" [style]="{width: '800px', minWidth: '300px'}" [maximizable]="true">
		<div class="p-g p-fluid" *ngIf="pg">
			<div class="p-g-12">
				<div class="p-g-4"><label for="dataGroup">Protection Group Name</label></div>
				<div class="p-g-8"><input pInputText id="dataGroup" [(ngModel)]="pg.dataGroup" [disabled]="!newPg"/></div>
			</div>
			<div class="p-g-12">
				<div class="p-g-4"><label for="description">Available Protection Elements</label></div>
				<div class="p-g-8"><p-multiSelect [options]="availablePes" [(ngModel)]="selectedPes" appendTo="body" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
					<p>Selected Data Set(s): {{selectedPes}}</p>
				</div>
			</div>
		</div>	
		<p-footer>
			<div class="p-dialog-buttonpane p-helper-clearfix">
				<button type="button" pButton icon="fa fa-check" (click)="addPEs()" label="Add" class="nbia-button"></button>
			</div>
		</p-footer>
	</p-dialog>
	<p-dialog header="Remove Protection Element(s) from Protection Group" [(visible)]="displayDeassignDialog" [modal]="true" [style]="{width: '800px', minWidth: '300px'}" [maximizable]="true">
		<div class="p-g p-fluid" *ngIf="pg">
			<div class="p-g-12">
				<div class="p-g-4"><label for="dataGroup">Protection Group Name</label></div>
				<div class="p-g-8"><input pInputText id="dataGroup" [(ngModel)]="pg.dataGroup" [disabled]="!newPg"/></div>
			</div>
			<div class="p-g-12">
				<div class="p-g-4"><label for="description">Included Protection Elements</label></div>
				<div class="p-g-8">
				<p-multiSelect [options]="includedPes" [(ngModel)]="selectedPes" appendTo="body" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
					<p>Selected Protection Element(s) to Remove: {{selectedPes}}</p>
				</div>
			</div>
		</div>
		<p-footer>
			<div class="p-dialog-buttonpane p-helper-clearfix">
				<button type="button" pButton icon="fa fa-check" (click)="removePEs()" label="Remove"></button>
			</div>
		</p-footer>
	</p-dialog>		
</div>	

