openapi: 3.1
info:
  title: NBIA API
  description: |
    This API provides access to the National Biomedical Imaging Archive (NBIA) for searching and downloading imaging data, including restricted collections requiring authentication.
  termsOfService: https://www.cancerimagingarchive.net/terms-of-service/
  contact:
    email: help@cancerimagingarchive.net
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 4.0.0
servers:
  - url: https://nbia.cancerimagingarchive.net/nbia-api/services/v4/
    description: v4 Production server
  - url: https://nbia-stage.cancerimagingarchive.net/nbia-api/services/v4/
    description: v4 Stage Server
tags:
  - name: Image Downloads
    description: Endpoints for downloading DICOM images and thumbnails
  - name: Collection Metadata
    description: Collection information and descriptions
  - name: Patient Metadata
    description: Patient-related data retrieval
  - name: Study Metadata
    description: Study-level metadata operations
  - name: Series Metadata
    description: Series-level metadata and operations
  - name: Utilities
    description: Helper endpoints for values, counts, and validation
components:
  schemas:
    Collection:
      type: object
      properties:
        collection:
          type: string
          description: Name of the collection
          example: "TCGA-LUAD"
      required:
        - collection
    CriteriaTypeEnum:
      type: string
      description: |
        Enum of criteria types used for filtering search results.
        Each criterion corresponds to a specific filter that can be applied in searches.

        **General Section**:
        - `CollectionCriteria`: Data collection or study name
        - `DateRangeCriteria`: Date range for the study (e.g., start and end dates, in MM-DD-YYYY format)
        - `ExcludeCommercialCriteria`: Exclude commercial use
        - `PatientCriteria`: PatientID or (subject ID in the case of TCIA), one or more patient IDs separated by commas
        - `SeriesCriteria`: SeriesUID or SeriesInstanceUID, one or more series UIDs separated by commas
        - `StudyCriteria`: StudyUIDs, one or more study UIDs separated by commas
        - `ThirdPartyAnalysis`: Third-party analysis criteria

        **Patient Section**:
        - `MinNumberOfStudiesCriteria`: Minimum number of studies per patient
        - `MinNumberOfStudyDatesCriteria`: Minimum number of study dates per patient
        - `PatientAgeRangeCriteria`: Age range of the patient, max-age is 90 (more than 90 is considered as 90 years old)
        - `PatientSexCriteria`: Sex of the patient, options are 'Female', 'Male', 'Not Specified (Null)'
        - `PhantomCriteria`: Phantom-related criteria
        - `SpeciesCriteria`: Species-related criteria
        - `TimePointCriteria`: Time point criteria

        **Image Section**:
        - `BodyPartExaminedCriteria`: Specific body part examined (e.g., brain, lung)
        - `DescriptionCriteria`: Description of the image, Free-text metadata search  
        - `ImageModalityCriteria`: Imaging modality (CT, MRI, etc.)
        - `ManufacturerCriteria`: Manufacturer of the imaging equipment
        - `PixelSpacingRangeCriteria`: Range of pixel spacing values - row spacing only
        - `SliceThicknessRangeCriteria`: Range of slice thickness values
        
      enum:
        - CollectionCriteria
        - DateRangeCriteria
        - ExcludeCommercialCriteria
        - PatientCriteria
        - SeriesCriteria
        - StudyCriteria
        - ThirdPartyAnalysis
        - MinNumberOfStudiesCriteria
        - MinNumberOfStudyDatesCriteria
        - PatientAgeRangeCriteria
        - PatientSexCriteria
        - PhantomCriteria
        - SpeciesCriteria
        - TimePointCriteria
        - BodyPartExaminedCriteria
        - DescriptionCriteria
        - ImageModalityCriteria
        - ManufacturerCriteria
        - PixelSpacingRangeCriteria
        - SliceThicknessRangeCriteria

paths:
   
  /getSpeciesTax:
    get:
      summary: Retrieve species taxonomy.
      description: |
        Returns the current species taxonomy.
        
        **Example curl command:**
        ```bash
        curl -X POST -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getSpeciesTax"
        ```
      tags:
        - Utilities
      responses:
        '200':
          description: Successful taxonomy list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    speciesCode:
                      type: string
                    speciesDescription:
                      type: string
        '500':
          description: Internal server error
     
  /getSimpleSearch:
    post:
      summary: Perform a paged search with customizable criteria.
      description: |
        Performs a search with customizable criteria and returns results matching the specified filters.
        To use this endpoint, specify one or more search criteria by providing the name of the criterion in the `criteriaType0` (and, if applicable, `criteriaType1`, `criteriaType2`, etc.) parameter(s), and the corresponding value(s) in `value0` (and `value1`, `value2`, etc.).
        The `sortField` parameter allows you to specify the field by which to sort the results, and `sortDirection` specifies whether to sort in ascending or descending order.
        The `start` parameter is used for paged results, indicating the offset from which to start returning results, and `size` specifies the number of results to return per page.

        Allowed values for `criteriaTypeX`: see [CriteriaTypeEnum](#schemacriteriatypeenum).

        **General Section**:
        - `CollectionCriteria`: Data collection or study name
        - `DateRangeCriteria`: Date range for the study (e.g., start and end dates, in MM-DD-YYYY format)
        - `ExcludeCommercialCriteria`: Exclude commercial use
        - `PatientCriteria`: PatientID or (subject ID in the case of TCIA), one or more patient IDs separated by commas
        - `SeriesCriteria`: SeriesUID or SeriesInstanceUID, one or more series UIDs separated by commas
        - `StudyCriteria`: StudyUIDs, one or more study UIDs separated by commas
        - `ThirdPartyAnalysis`: Third-party analysis criteria

        **Patient Section**:
        - `MinNumberOfStudiesCriteria`: Minimum number of studies per patient
        - `MinNumberOfStudyDatesCriteria`: Minimum number of study dates per patient
        - `PatientAgeRangeCriteria`: Age range of the patient, max-age is 90 (more than 90 is considered as 90 years old)
        - `PatientSexCriteria`: Sex of the patient, options are 'Female', 'Male', 'Not Specified (Null)'
        - `PhantomCriteria`: Phantom-related criteria
        - `SpeciesCriteria`: Species-related criteria
        - `TimePointCriteria`: Time point criteria

        **Image Section**:
        - `BodyPartExaminedCriteria`: Specific body part examined (e.g., brain, lung)
        - `DescriptionCriteria`: Description of the image, Free-text metadata search  
        - `ImageModalityCriteria`: Imaging modality (CT, MRI, etc.)
        - `ManufacturerCriteria`: Manufacturer of the imaging equipment
        - `PixelSpacingRangeCriteria`: Range of pixel spacing values - row spacing only
        - `SliceThicknessRangeCriteria`: Range of slice thickness values
        

        **Example curl command:**
        ```bash
        curl -X POST -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getRestrictionsForSimpleSearch"   
          -d "criteriaType0=ThirdPartyAnalysis&value0=yes&sortField=subject&sortDirection=descending&start=0&size=10"
        ```
  
      tags:
        - Patient Metadata
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                criteriaType0:
                  description: select from the following criteria types
                  type: string
                  $ref: '#/components/schemas/CriteriaTypeEnum'

                value0:
                  type: string
                  description: Value for the first search criterion.
                sortField:
                  type: string
                  description: Field to sort by (e.g., subject)
                sortDirection:
                  type: string
                  enum: [ascending, descending]
                  description: Sort direction
                start:
                  type: integer
                  description: Offset for paged results
                size:
                  type: integer
                  description: Page size
                  default: 10
      responses:
        '200':
          description: Successful search results
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
  /getRestrictionsForSimpleSearch:
    post:
      summary: Check for commercial restrictions in a simple search.
      description: |
        Returns whether any results from the simple search have commercial restrictions.

        Allowed values for `criteriaTypeX`: see [CriteriaTypeEnum](#/components/schemas/CriteriaTypeEnum).

        **Example curl command:**
        ```bash
        curl -X POST -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getRestrictionsForSimpleSearch"   
          -d "criteriaType0=ThirdPartyAnalysis&value0=yes&sortField=subject&sortDirection=descending&start=0&size=10"
        ```
  
      tags:
        - Patient Metadata
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                criteriaType0:
                  $ref: '#/components/schemas/CriteriaTypeEnum'
                value0:
                  type: string
                  description: Value for the first search criterion.
                sortField:
                  type: string
                  description: Field to sort by (e.g., subject)
                sortDirection:
                  type: string
                  enum: [ascending, descending]
                  description: Sort direction
                start:
                  type: integer
                  description: Offset for paged results
                size:
                  type: integer
                  description: Page size
                  default: 10
      responses:
        '200':
          description: Successful restriction result
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error

  /getMD5Hierarchy:
    post:
      summary: Get MD5 hash hierarchy for specified collection, patient, study, or series.
      description: |
        Returns MD5 hash hierarchy.
        
        **Example curl command:**
          ```bash
              curl -X POST -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getMD5Hierarchy" -d "Collection=ISPY1" 
          ```
      tags:
        - Patient Metadata
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                Collection:
                  type: string
                  description: Name of the collection.
                PatientId:
                  type: string
                  description: DICOM Tag (0010,0020) – De-identified patient ID.
                StudyInstanceUID:
                  type: string
                  description: DICOM Tag (0020,000D) – Unique identifier for the study.
                SeriesInstanceUID:
                  type: string
                  description: DICOM Tag (0020,000E) – Unique identifier for the series.
      responses:
        '200':
          description: Successful response with MD5 hash
          content:
            '*/*':
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    
  /getMD5HashForImage:
    get:
      summary: Get MD5 hash for a single image.
      description: |
        Returns MD5 hash for the given SOPInstanceUID.
        
        **Example curl command:**
          ```bash
             curl -X POST -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getM5HashForImage?SOPInstanceUid=1.3.6.1.4.1.14519.5.2.1.6834.5010.129790817462380794533151446268" 
          ```
      tags:
        - Patient Metadata
      parameters:
        - name: SOPInstanceUID
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response with MD5 hash
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
 
  /getManifestFromPatientStudySeries:
    post:
      summary: Generate a manifest from patient, study, and series UIDs.
      description: |
        Returns a manifest file containing series for the specified patient, study, or series UIDs.
        
        **Example curl command:**
          ```bash
             curl -X POST -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getManifestFromPatientStudySeries" -d "patientIDs=ISPY1_1001" 
          ``` 
      tags:
        - Image Downloads
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - patientIDs
              properties:
                patientIDs:
                  type: string
                  description: Comma-separated patient IDs. (e.g. ISPY1_1001,ISPY1_1002)
                studyUIDs:
                  type: string
                  description: Comma-separated studyInstanceUIDs (optional).
                seriesUIDs:
                  type: string
                  description: Comma-separated seriesInstanceUIDs (optional).
                anyOrAll:
                  type: string
                  description: Criteria filter (optional).
                includeAnnotation:
                  type: string
                  description: Whether to include annotations (true/false).
      responses:
        '200':
          description: Manifest text file generated successfully.
          content:
            text/plain:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
        '400':
          description: Bad request – Missing or invalid parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        
  /getManifestText:
    post:
      summary: Generate a manifest file for a list of series.
      description: |
        Returns a manifest text file containing series UIDs and download instructions for the NBIA Data Retriever.
        
        **Example curl command:**
          ```bash
             curl -X POST -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getManifestTextV2" -d "list=1.3.6.1.4.1.14519.5.2.1.6834.5010.100089621274100103247029607723&includeAnnotation=false"
          ```
      tags:
        - Image Downloads
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - list
              properties:
                list:
                  type: string
                  description: Comma-separated list of series UIDs for each series you want to download.
                includeAnnotation:
                  type: boolean
                  description: If true, annotations are included in the manifest.
                format:
                  type: string
                  enum: [json, xml, csv]
                  default: json
                  description: Desired response format (json, xml, csv).
      responses:
        '200':
          description: Successfully generated manifest text.
          content:
            text/plain:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
        '400':
          description: Bad request – Missing or invalid parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  /getManifestForSimpleSearch:
    post:
      summary: Generate a manifest file from simple search criteria.
      description: |
        Creates a manifest file from the specified simple search parameters, which can be used with the NBIA Data Retriever.
        
        Allowed values for `criteriaTypeX`: see [CriteriaTypeEnum](#schemacriteriatypeenum).

        **Example curl command:**
          ```bash
             curl -X POST -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getManifestForSimpleSearch" -d "criteriaType0=ThirdPartyAnalysis&value0=yes&sortField=subject&sortDirection=descending&start=0&size=100" 
          ```
      tags:
        - Image Downloads
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                criteriaType0:
                  $ref: '#/components/schemas/CriteriaTypeEnum'
                value0:
                  type: string
                  description: Value to match for the specified criteriaType0
                sortField:
                  type: string
                  description: Field by which to sort the manifest results
                sortDirection:
                  type: string
                  enum: [ascending, descending]
                  description: Direction to sort the results
                start:
                  type: integer
                  description: Starting index of the result set
                size:
                  type: integer
                  description: Number of results to return
                  default: 10
      responses:
        '200':
          description: Manifest file generated successfully
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad request – Missing or invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Missing or invalid input.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An unexpected error occurred.

  /getDicomTags:
    get:
      summary: Retrieve DICOM metadata for a specific series.
      description: |
        Returns metadata (DICOM tags and values) for the specified SeriesInstanceUID.
        
        **Example curl command:**
          ```bash
             curl -X POST -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getDicomTags?SeriesUID=2.25.202638583638721901745794769668527472118" 
          ```        
      tags:
        - Series Metadata
      parameters:
        - name: SeriesUID
          in: query
          description: SeriesInstanceUID for which to retrieve DICOM tags
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response with DICOM tags
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    element:
                      type: string
                      description: DICOM element tag (e.g., (0028,0010))
                    name:
                      type: string
                      description: Name of the DICOM tag
                    data:
                      type: string
                      description: Value associated with the tag
        '400':
          description: Bad request – Missing or invalid SeriesUID
        '404':
          description: SeriesUID not found
        '500':
          description: Internal server error
  
  /getSpeciesValuesAndCounts:
    get:
      summary: Get species values and their counts.
      description: |
        Returns the species values and counts.
        
        **Example curl command:**
        ```bash
        curl -X POST "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getSpeciesValuesAndCounts"
        ```
      tags:
        - Patient Metadata
      responses:
        '200':
          description: Successful species counts
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    criteria:
                      type: string
                    count:
                      type: string
        '500':
          description: Internal server error
 
  /getCollectionDescriptions:
    get:
      summary: Retrieve detailed metadata for NBIA collections.
      description: |
        Returns metadata for collections, including HTML-formatted descriptions, timestamps, submitter username, and DOI links.
        You may optionally filter by collection name.
        
        **Example curl command:**
        ```bash
           curl -X POST -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getCollectionDescriptions?collectionName=4D-Lung" 
        ```
      tags:
        - Collection Metadata
      parameters:
        - name: collectionName
          in: query
          required: false
          schema:
            type: string
          description: Collection name to filter results
      responses:
        '200':
          description: Successful response with collection descriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: HTML-formatted description of the collection
                    id:
                      type: integer
                      description: Internal identifier for the collection metadata
                    collectionDescTimestamp:
                      type: integer
                      description: Last update timestamp (epoch format)
                    collectionName:
                      type: string
                      description: Name of the collection
                    userName:
                      type: string
                      description: User who submitted or last updated the description
                    licenseId:
                      type: integer
                      nullable: true
                      description: Internal license reference ID (often null)
                    descriptionURI:
                      type: string
                      description: DOI or external metadata page link for the collection
        '500':
          description: Internal server error

  /getCollectionOrSeriesForDOI:
    post:
      summary: Resolve a DOI to a collection or series.
      description: |
        Resolves a DOI to its associated NBIA collection name or SeriesInstanceUID.
        Specify CollectionOrSeries=collection to resolve to a collection name or CollectionOrSeries=series to resolve to SeriesInstanceUID.
      
        **Example curl command:**
        ```bash
           curl -X POST -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getCollectionOrSeriesForDOI" 
          -d "DOI=https://doi.org/10.7937/K9/TCIA.2016.ELN8YGLE&CollectionOrSeries=collection"
        ```
      tags:
        - Collection Metadata
      requestBody:     
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                DOI:
                  type: string
                  description: Digital Object Identifier (DOI) to resolve              
                CollectionOrSeries:
                  type: string
                  enum: [collection, series]
                  default: collection
                  description: Whether to search for a collection or a series             
      responses:
        '200':
          description: Successful response with resolved collection or series
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    collection:
                      type: string
                      nullable: true
                      description: Name of the collection (if resolved to a collection)
                    seriesInstanceUID:
                      type: string
                      nullable: true
                      description: SeriesInstanceUID (if resolved to a series)
                    thirdPartyAnalysis:
                      type: string
                      nullable: true
                      description: Reserved field (currently unused)
        '400':
          description: Bad request – Missing or invalid parameters
        '404':
          description: DOI not found
        '500':
          description: Internal server error

  /getManufacturerValuesAndCounts:
    get:
      summary: Retrieve manufacturer values and their occurrence counts.
      description: |
        Returns manufacturer names and the number of times each appears in the database,
        along with authorization information.
        **Example curl command:**
        ```bash
        curl -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getManufacturerValuesAndCounts?Collection=4D-Lung"
        ```
      tags:
        - Utilities
      parameters:
        - name: Collection
          in: query
          required: false
          schema:
            type: string
        - name: Modality
          in: query
          required: false
          schema:
            type: string
        - name: BodyPartExamined
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response with manufacturer counts and authorization
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    manufacturer:
                      type: string
                      description: Manufacturer name
                    count:
                      type: integer
                      description: Number of series produced by this manufacturer
                    Authorized:
                      type: integer
                      description: User has access to the specified collection. 1 means yes and 0 means no.
        '500':
          description: Internal server error

  /getModalityValuesAndCounts:
    get:
      summary: Retrieve modality values and their occurrence counts.
      description: |
        Returns modality types along with how often each appears in the database,
        and whether the user is authorized to access the associated collection.
        
        **Example curl command:**
          ```bash
          curl -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getModalityValuesAndCounts?Collection=VICTRE" 
          ``` 
      tags:
        - Utilities
      parameters:
        - name: Collection
          in: query
          required: false
          schema:
            type: string
        - name: BodyPartExamined
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response with modality counts and authorization
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    modality:
                      type: string
                      description: Modality type (e.g., CT, MR)
                    count:
                      type: integer
                      description: Number of series using this modality
                    Authorized:
                      type: integer
                      description: User has access to the specified collection. 1 means yes and 0 means no.
        '500':
          description: Internal server error

  /getCollectionValuesAndCounts:
    get:
      summary: Retrieve collection names and patient counts.
      description: |
        Returns all collection names, patient counts, and authorization status.
        
        **Example curl command:**
        ```bash
        curl -X POST -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getCollectionValuesAndCounts"
        ```
      tags:
        - Collection Metadata
      responses:
        '200':
          description: Successful response with collection counts and authorization
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    collection:
                      type: string
                      description: Collection name
                    count:
                      type: integer
                      description: Number of patients in the collection
                    Authorized:
                      type: integer
                      description: User has access to the specified collection. 1 means yes and 0 means no.
        '500':
          description: Internal server error

  /getBodyPartValuesAndCounts:
    get:
      summary: Retrieve body part values and their occurrence counts.
      description: |
        Returns a list of body part names along with the number of times each appears in the database.
        Optionally filter by Collection or Modality.    
        
        **Example curl:**
        ```bash
        curl -X POST -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getBodyPartValuesAndCounts?Modality=PT" 
         ```  
      tags:
        - Patient Metadata
      parameters:
        - name: Collection
          in: query
          required: false
          schema:
            type: string
        - name: Modality
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response with body part counts
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    bodyPart:
                      type: string
                      description: Body part name
                    count:
                      type: integer
                      description: Number of series/studies with this body part
                    Authorized:
                      type: integer
                      description: User has access to the specified collection. 1 means yes and 0 means no.
        '500':
          description: Internal server error

  /getPatient:
    get:
      summary: Retrieve patients in a collection.
      description: |
        Returns a list of de-identified patients associated with the specified collection.
        
        **Example call:**
        ```bash
        https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getPatient 
        ```    
      tags:
        - Patient Metadata
      parameters:
        - name: format
          in: query
          description: Desired response format (json, xml, csv)
          required: false
          schema:
            type: string
            enum: [json, xml, csv]
            default: json
        - name: PatientId
          in: query
          description: De‑identified PatientID (optional – restricts results to a single patient)
          required: false
          schema:
            type: string
        - name: Collection
          in: query
          required: true
          schema:
            type: string
          description: Name of the collection to retrieve patients from
      responses:
        '200':
          description: Successful response with patient metadata
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    PatientId:
                      type: string
                      description: DICOM Tag (0010,0020) – De-identified patient ID
                    PatientName:
                      type: string
                      description: DICOM Tag (0010,0010) – De-identified patient name
                    PatientSex:
                      type: string
                      description: DICOM Tag (0010,0040) – Patient’s sex
                    PatientBirthDate:
                      type: string
                      format: date
                      description: DICOM Tag (0010,0030) – De-identified birth date
                    EthnicGroup:
                      type: string
                      description: DICOM Tag (0010,2160) – Ethnic group of the patient
                    Authorized:
                      type: integer
                      description: User has access to the specified collection. 1 means yes and 0 means no.
        '400':
          description: Bad request – Missing or invalid parameters
        '500':
          description: Internal server error

  /getPatientStudy:
    get:
      summary: Retrieve studies for patients in a collection.
      description: |
        Returns metadata for studies associated with patients in the specified collection.
        You can optionally filter by PatientID.
        
        **Example call:**
        ```bash
        https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getPatientStudy?Collection=VICTRE&Modality=MG 
        ```   
      tags:
        - Patient Metadata
      parameters:
        - name: format
          in: query
          description: Desired response format (json, xml, csv)
          required: false
          schema:
            type: string
            enum: [json, xml, csv]
            default: json
        - name: Collection
          in: query
          description: Name of the image collection
          required: true
          schema:
            type: string
        - name: PatientID
          in: query
          description: De‑identified PatientID (optional – restricts results to a single patient)
          required: false
          schema:
            type: string
        - name: StudyInstanceUID
          in: query
          description: DICOM Tag (0020,000D) – Unique identifier for the study
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response with study metadata
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    StudyDate:
                      type: string
                      format: date
                      description: DICOM Tag (0008,0020) – Date the study was performed
                    StudyDescription:
                      type: string
                      description: DICOM Tag (0008,1030) – Description of the study
                    PatientID:
                      type: string
                      description: DICOM Tag (0010,0020) – De‑identified Patient ID
                    PatientName:
                      type: string
                      description: DICOM Tag (0010,0010) – De‑identified Patient Name
                    PatientSex:
                      type: string
                      description: DICOM Tag (0010,0040) – Sex of the patient
                    Collection:
                      type: string
                      description: Name of the collection
                    SeriesCount:
                      type: integer
                      description: Number of series in this study
                    Authorized:
                      type: integer
                      description: User has access to the specified collection. 1 means yes and 0 means no.
        '400':
          description: Bad request – Missing or invalid parameters
        '500':
          description: Internal server error
 
  /getUpdatedSeries:
    get:
      summary: Retrieve updated series in a collection since a specified date.
      description: |
        Returns a list of SeriesInstanceUIDs for imaging series in a given collection that have been updated on or after the specified date.
        
        **Example call:**
        ```bash
        https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getUpdatedSeries?fromDate=28-03-2023 
        ```        
      tags:
        - Series Metadata
      parameters:
        - name: Collection
          in: query
          required: false
          schema:
            type: string
          description: Name of the image collection
        - name: fromDate
          in: query
          required: true
          schema:
            type: string
          description: Date in MM-DD-YYYY format. Returns series updated on or after this date.
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [json, xml, csv]
            default: json
          description: Desired response format (json, xml, or csv)
      responses:
        '200':
          description: Successful response with updated SeriesInstanceUIDs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: DICOM Tag (0020,000E) – Unique identifier for a DICOM series
        '400':
          description: Bad request – Missing or invalid parameters
        '404':
          description: No updated series found
        '500':
          description: Internal server error

  /getSOPInstanceUIDS:
    get:
      summary: Retrieve SOP Instance UIDs for a DICOM series.
      description: |
        Returns a list of SOPInstanceUIDs (unique image identifiers) associated with the specified SeriesInstanceUID.
        Useful for accessing or referencing individual DICOM images.
        
        **Example call:**
        ```bash
        https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getSOPInstanceUIDs?SeriesInstanceUID=1.3.6.1.4.1.9590.100.1.2.374115997511889073021386151921807063992 
        ```       
      tags:
        - Series Metadata
      parameters:
        - name: SeriesInstanceUID
          in: query
          required: true
          schema:
            type: string
          description: DICOM Tag (0020,000E) – Unique identifier for the DICOM series
      responses:
        '200':
          description: Successful response with SOPInstanceUIDs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: DICOM Tag (0008,0018) – Unique identifier for an individual DICOM image
        '400':
          description: Bad request – Missing or invalid SeriesInstanceUID
        '404':
          description: Series not found or contains no images
        '500':
          description: Internal server error

  /getSeriesSize:
    get:
      summary: Retrieve size and image count for a DICOM series.
      description: |
        Returns the number of images and total file size (in bytes) for the specified SeriesInstanceUID.
        Useful for estimating storage requirements before downloading.
      
        **Example call:**
        ```bash
        https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getSeriesSize?SeriesInstanceUID=1.3.6.1.4.1.14519.5.2.1.6834.5010.322628904903035357840500590726 
        ```     
      tags:
        - Series Metadata
      parameters:
        - name: SeriesInstanceUID
          in: query
          required: true
          schema:
            type: string
          description: DICOM Tag (0020,000E) – Unique identifier for the image series
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [json, xml, csv]
            default: json
          description: Desired output format.
      responses:
        '200':
          description: Successful response with image count and total size
          content:
            application/json:
              schema:
                type: object
                properties:
                  imageCount:
                    type: integer
                    description: Number of images in the series
                  seriesSize:
                    type: integer
                    description: Total size in bytes of the series
        '400':
          description: Bad request – Missing or invalid SeriesInstanceUID
        '404':
          description: Series not found
        '500':
          description: Internal server error
     
  /getSeriesMetadata:
    post:
      summary: Retrieve detailed metadata for a DICOM series.
      description: |
        Returns a list of metadata fields and values for the specified SeriesInstanceUID.
        This includes DICOM tags and related technical attributes.
        
        **Example call:**
        ```bash
        https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getSeriesMetaData?SeriesInstanceUID=1.3.6.1.4.1.14519.5.2.1.6834.5010.322628904903035357840500590726 
        ```   
      tags:
        - Series Metadata
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                list:
                  type: string
                  description: Comma-separated list of SeriesInstanceUIDs (DICOM Tag 0020,000E)
      responses:
        '200':
          description: Successful response with series metadata key-value pairs
          content:
            '*/*':
              schema:
                type: string
        '400':
          description: Bad request – Missing or invalid SeriesInstanceUID
        '404':
          description: SeriesInstanceUID not found
        '500':
          description: Internal server error

  /getSeries:
    get:
      summary: Retrieve DICOM series metadata.
      description: |
        Returns metadata for imaging series based on optional filters like Collection, PatientID, StudyInstanceUID,
        Modality, BodyPartExamined, Manufacturer, ManufacturerModelName, and SeriesInstanceUID.
        
        **Example call:**
        ```bash
        https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getSeries?Collection=VICTRE&Modality=MG 
        ```       
      tags:
        - Series Metadata
      parameters:
        - name: SeriesInstanceUID
          in: query
          required: false
          schema:
            type: string
          description: Filter results by SeriesInstanceUID.
        - name: StudyInstanceUID
          in: query
          required: false
          schema:
            type: string
          description: Filter results by StudyInstanceUID.
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [json, xml, csv]
            default: json
          description: Desired output format.
        - name: Collection
          in: query
          required: false
          schema:
            type: string
          description: Filter results by collection name.
        - name: ManufacturerModelName
          in: query
          required: false
          schema:
            type: string
          description: Filter results by ManufacturerModelName.
        - name: PatientID
          in: query
          required: false
          schema:
            type: string
          description: Filter results by patient ID.
        - name: Manufacturer
          in: query
          required: false
          schema:
            type: string
          description: Filter results by manufacturer.
        - name: BodyPartExamined
          in: query
          required: false
          schema:
            type: string
          description: Filter results by body part examined.
        - name: Modality
          in: query
          required: false
          schema:
            type: string
          description: Filter results by imaging modality (e.g., CT, MR).
      responses:
        '200':
          description: Successful response with series metadata
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    SeriesInstanceUID:
                      type: string
                      description: DICOM Tag (0020,000E) – Unique identifier for the imaging series
                    StudyInstanceUID:
                      type: string
                      description: DICOM Tag (0020,000D) – Unique identifier for the study
                    SeriesDate:
                      type: string
                      format: date
                      description: DICOM Tag (0008,0021) – Date the series was performed
                    Modality:
                      type: string
                      description: DICOM Tag (0008,0060) – Modality of the imaging series (e.g., CT, MR)
                    SeriesDescription:
                      type: string
                      description: DICOM Tag (0008,103E) – Description of the series
                    BodyPartExamined:
                      type: string
                      description: DICOM Tag (0018,0015) – Anatomical region examined
                    SeriesNumber:
                      type: integer
                      description: DICOM Tag (0020,0011) – Number identifying the series within the study
                    Manufacturer:
                      type: string
                      description: DICOM Tag (0008,0070) – Name of the manufacturer of the equipment
                    ImageCount:
                      type: integer
                      description: Number of images in the series
                    PatientID:
                      type: string
                      description: DICOM Tag (0010,0020) – De-identified patient ID
                    Collection:
                      type: string
                      description: Collection name that the series belongs to
        '400':
          description: Bad request – Missing or invalid parameters
        '500':
          description: Internal server error

  /getPatientByCollectionAndModality:
    get:
      summary: Retrieve patients in a collection filtered by modality.
      description: |
        Returns a list of de-identified patients associated with a specific collection and imaging modality.
        
        **Example call:**
        ```bash
        https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getPatientByCollectionAndModality?Collection=VICTRE&Modality=MG 
        ```    
      tags:
        - Patient Metadata
      parameters:
        - name: format
          in: query
          description: Desired response format (json, xml, csv)
          required: false
          schema:
            type: string
            enum: [json, xml, csv]
            default: json
        - name: Collection
          in: query
          description: Name of the image collection
          required: true
          schema:
            type: string
        - name: Modality
          in: query
          description: Imaging modality to filter by (e.g., CT, MR)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response with patient metadata
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    PatientID:
                      type: string
                      description: DICOM Tag (0010,0020) – De-identified patient ID
                    PatientName:
                      type: string
                      description: DICOM Tag (0010,0010) – De-identified patient name
                    PatientSex:
                      type: string
                      description: DICOM Tag (0010,0040) – Patient’s sex
                    PatientBirthDate:
                      type: string
                      format: date
                      description: DICOM Tag (0010,0030) – De-identified birth date
                    EthnicGroup:
                      type: string
                      description: DICOM Tag (0010,2160) – Ethnic group of the patient
                    Authorized:
                      type: integer
                      description: User has access to the specified collection. 1 means yes and 0 means no.
        '400':
          description: Bad request – Missing or invalid parameters
        '500':
          description: Internal server error

  /NewStudiesInPatientCollection:
    get:
      summary: Retrieve new studies in a patient collection since a specified date.
      description: |
        Returns a list of studies for patients that were added to the specified collection on or after the given date.
        
        **Example call:**
         ```bash
        https://nbia.cancerimagingarchive.net/nbia-api/services/v4/NewStudiesInPatientCollection?Collection=CBIS-DDSM&Date=2010-08-16 
        ```     
      tags:
        - Study Metadata
      parameters:
        - name: PatientID
          in: query
          description: De‑identified PatientID (optional – restricts results to a single patient)
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Desired response format (json, xml, csv)
          required: false
          schema:
            type: string
            enum: [json, xml, csv]
            default: json
        - name: Collection
          in: query
          description: Name of the image collection
          required: true
          schema:
            type: string
        - name: Date
          in: query
          description: Date in MM-DD-YYYY format to filter new studies
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response with study metadata
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    PatientID:
                      type: string
                      description: DICOM Tag (0010,0020) – De-identified patient ID
                    StudyInstanceUID:
                      type: string
                      description: DICOM Tag (0020,000D) – Unique identifier for the study
                    StudyDate:
                      type: string
                      format: date
                      description: DICOM Tag (0008,0020) – Date the study was performed
                    StudyDescription:
                      type: string
                      description: DICOM Tag (0008,1030) – Description of the study
                    AccessionNumber:
                      type: string
                      description: DICOM Tag (0008,0050) – Identifier for the study requested
                    StudyID:
                      type: string
                      description: DICOM Tag (0020,0010) – User or system-supplied ID for the study
                    Collection:
                      type: string
                      description: Name of the image collection
                    Authorized:
                      type: integer
                      description: User has access to the specified collection. 1 means yes and 0 means no.
        '400':
          description: Bad request – Missing or invalid parameters
        '500':
          description: Internal server error

  /NewPatientsInCollection:
    get:
      summary: Retrieve new patients in a collection since a specified date.
      description: |
        Returns a list of patients added to a specified collection since a given date.
        
        **Example call:**
        ```bash
        https://nbia.cancerimagingarchive.net/nbia-api/services/v4/NewPatientsInCollection?Collection=CBIS-DDSM&Date=2010-08-16 
        ```     
      tags:
        - Patient Metadata
      parameters:
        - name: format
          in: query
          description: Desired response format (json, xml, csv)
          required: false
          schema:
            type: string
            enum: [json, xml, csv]
            default: json
        - name: Collection
          in: query
          description: Name of the collection
          required: true
          schema:
            type: string
        - name: Date
          in: query
          description: Date in MM-DD-YYYY format to filter new patients
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response with patient data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    PatientID:
                      type: string
                      description: DICOM Tag (0010,0020) – De-identified patient identifier.
                    PatientName:
                      type: string
                      description: DICOM Tag (0010,0010) – De-identified patient name.
                    PatientBirthDate:
                      type: string
                      format: date
                      description: DICOM Tag (0010,0030) – De-identified birth date.
                    PatientSex:
                      type: string
                      description: DICOM Tag (0010,0040) – Patient's sex.
                    EthnicGroup:
                      type: string
                      description: DICOM Tag (0010,2160) – Ethnic group of the patient.
                    Collection:
                      type: string
                      description: Label for the image collection.
                    Phantom:
                      type: string
                      description: DICOM Tag (0010,0200) – Indicates if the subject is a quality control phantom.
                    SpeciesCode:
                      type: string
                      description: DICOM Tag (0010,2202) – Taxonomic rank value of the patient.
                    SpeciesDescription:
                      type: string
                      description: DICOM Tag (0010,2201) – Description of the species.
                    Authorized:
                      type: integer
                      description: User has access to the specified collection. 1 means yes and 0 means no.
        '400':
          description: Bad request – Missing or invalid parameters
        '500':
          description: Internal server error

  /getModalityValues:
    get:
      summary: Retrieve available modality values.
      description: |
        Returns a list of modality types (e.g., CT, MR, PET) available in the NBIA database.
        Optional query parameters allow filtering by collection name and body part examined.
        
        **Example call:**
        ```bash
        https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getModalityValues 
        ```  
      tags:
        - Utilities
      parameters:
        - name: Collection
          in: query
          description: Filter results by collection name
          required: false
          schema:
            type: string
        - name: BodyPartExamined
          in: query
          description: Filter results by body part examined
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Desired response format (json, xml, csv).
          required: false
          schema:
            type: string
            enum: [json, xml, csv]
            default: json
      responses:
        '200':
          description: Successful response with modality values
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Bad request – Missing or invalid parameters
        '500':
          description: Internal server error
     
  /getImage:
    get:
      summary: Download a ZIP of DICOM images for a given SeriesInstanceUID.
      description: |
        Retrieves a ZIP archive containing all DICOM images associated with the specified SeriesInstanceUID.
        Optionally, you can specify whether to use new file naming conventions.
        
        **Example call:**
        ```bash
        https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getImage?SeriesInstanceUID=1.3.6.1.4.1.9328.50.1.216116555221814778114703363464001196508 
        ```
      tags:
        - Image Downloads
      parameters:
        - name: SeriesInstanceUID
          in: query
          description: The unique identifier for the image series.
          required: true
          schema:
            type: string
        - name: NewFileNames
          in: query
          description: >
            If set to 'Yes', the naming scheme changes from sequential numbers to 'acquisition number - instance number'.
          required: false
          schema:
            type: string
            enum: [Yes, No]
      responses:
        '200':
          description: A ZIP file containing the DICOM images.
          content:
            '*/*':
              schema:
                type: string
                format: binary
        '400':
          description: Bad request – Missing or invalid parameters.
        '404':
          description: SeriesInstanceUID not found.
        '500':
          description: Internal server error.

  /getImageWithMD5Hash:
    get:
      summary: Download a ZIP of DICOM images with MD5 hashes for a given SeriesInstanceUID.
      description: |
        Retrieves a ZIP archive containing all DICOM images associated with the specified SeriesInstanceUID, along with their corresponding MD5 hash values for integrity verification.
        
        **Example curl command:**
        ```bash
        curl -X POST "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getImageWithMD5Hash"
          -H "Content-Type: application/x-www-form-urlencoded"
          -d "SeriesInstanceUID=1.3.6.1.4.1.14519.5.2.1.6919.4624.313514201353787659031503464798"
          
        **Example call:"
        https://services.cancerimagingarchive.net/nbia-api/services/v1/getImageWithMD5Hash?SeriesInstanceUID=1.3.6.1.4.1.14519.5.2.1.6919.4624.313514201353787659031503464798 
        ```
      tags:
        - Image Downloads
      parameters:
        - name: SeriesInstanceUID
          in: query
          description: The unique identifier for the image series.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A ZIP file containing the DICOM images and their MD5 hash values.
          content:
            '*/*':
              schema:
                type: string
                format: binary
        '400':
          description: Bad request – Missing or invalid parameters.
        '404':
          description: SeriesInstanceUID not found.
        '500':
          description: Internal server error.

  /getCollectionValues:
    get:
      summary: Retrieve available collection values.
      description: |
        Returns a list of available collection names in NBIA.
      
        **Example call:**
        ```bash
        https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getCollectionValues 
        ```
      tags:
        - Collection Metadata
      responses:
        '200':
          description: A list of collection names.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Collection'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                   type: string
                   example: An unexpected error occurred.
                   
  /getManufacturerValues:
    get:
      summary: Retrieve available manufacturer values.
      description: |
        Returns a list of manufacturer names filtered by optional query parameters.
      
        **Example call:**
        ```bash
        curl -X POST -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getManufacturerValues" 
        ```
      tags:
        - Utilities
      parameters:
        - name: Collection
          in: query
          description: Filter results by collection name
          required: false
          schema:
            type: string
        - name: BodyPartExamined
          in: query
          description: Filter results by body part examined
          required: false
          schema:
            type: string
        - name: Modality
          in: query
          description: Filter results by modality
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response with manufacturer names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Bad request – Missing or invalid parameters
        '500':
          description: Internal server error

  /getBodyPartValues:
    get:
      summary: Retrieve available body part values.
      description: |
        Returns a list of body part names filtered by optional query parameters.
      
        **Example call:**
        ```bash
        curl -X POST -H "Content-Type: application/json" -k "https://nbia.cancerimagingarchive.net/nbia-api/services/v4/getBodyPartValues" 
        ```
      tags:
        - Utilities
      parameters:
        - name: Collection
          in: query
          description: Filter results by collection name
          required: false
          schema:
            type: string
        - name: Modality
          in: query
          description: Filter results by modality
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Desired response format (json, xml, csv).
          required: false
          schema:
            type: string
            enum: [json, xml, csv]
            default: json
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                properties:
                  BodyPartExamined:
                    type: string
                description: Name of the body part
        '500':
          description: Internal server error
