<nbia-login
    [ngClass]="{
        hide: loginMode === tokenStatus.GOOD_TOKEN
    }"
></nbia-login>

<nbia-preferences></nbia-preferences>

<!-- The wait, we are busy screen -->
<nbia-loading-display></nbia-loading-display>

<!-- We have an access token from the calling site.   -->
<div
    *ngIf="accessTokenStatus === tokenStatus.GOOD_TOKEN"
    class="parent-tool-div"
>


    <span *ngIf="currentTool !== consts.TOOL_NONE">

        <nbia-tool-title [currentTool]="currentTool"></nbia-tool-title>

        <nbia-dynamic-query-test
            *ngIf="currentTool === consts.TOOL_DYNAMIC_SEARCH_TEST && properties.SHOW_DYNAMIC_QUERY_CRITERIA_TEST_PAGE"
        >
        </nbia-dynamic-query-test>

        <nbia-approve-deletions
            *ngIf="currentTool === consts.TOOL_APPROVE_DELETIONS"
        >
        </nbia-approve-deletions>


        <nbia-edit-collection-descriptions
            *ngIf="currentTool === consts.TOOL_EDIT_COLLECTION_DESCRIPTIONS"
        >
        </nbia-edit-collection-descriptions>


        <nbia-perform-qc *ngIf="currentTool === consts.TOOL_PERFORM_QC"
        >
        </nbia-perform-qc>

        <!--
        <nbia-view-submission-reports
            *ngIf="currentTool === consts.TOOL_VIEW_SUBMISSION_REPORTS">
        </nbia-view-submission-reports>
-->

        <nbia-edit-license *ngIf="currentTool === consts.TOOL_EDIT_LICENSE">
        </nbia-edit-license>

        <nbia-perform-online-deletion
            *ngIf="currentTool === consts.TOOL_PERFORM_ONLINE_DELETION"
        >
        </nbia-perform-online-deletion>
    </span>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------  -->
<!--  Menu of tools available for the current users role(s), only displayed if no tool was included as a url parameter.  -->
<div
    *ngIf="
        currentTool === consts.TOOL_NONE &&
        accessTokenStatus === tokenStatus.GOOD_TOKEN
    "
    class="container option-list"
>

    <span
        *ngIf="properties.SHOW_DYNAMIC_QUERY_CRITERIA_TEST_PAGE"
        class="row btn admin-tool-button nbia-button"
        [ngClass]="{
            'disabled-tool nbia-button-disabled': !showDynamicSearchTestButton && !properties.SHOW_DYNAMIC_QUERY_CRITERIA_TEST_PAGE
        }"
        (click)="
            onToolItemClicked(
                toolItems.DATA_ADMIN_DYNAMIC_SEARCH_TEST,
                properties.SHOW_DYNAMIC_QUERY_CRITERIA_TEST_PAGE
            )
        "
    >
        Dynamic search test {{properties.SHOW_DYNAMIC_QUERY_CRITERIA_TEST_PAGE}}
    </span>




    <span
        class="row btn admin-tool-button nbia-button"
        [ngClass]="{
            'disabled-tool nbia-button-disabled': !showDataAdminPerformQcButton
        }"
        (click)="
            onToolItemClicked(
                toolItems.DATA_ADMIN_PERFORM_QC_MENU_ITEM,
                showDataAdminPerformQcButton
            )
        "
    >
        Perform Quality Control
        <p class="required-role" *ngIf="!showDataAdminPerformQcButton">
            (Required role: NCIA.MANAGE_VISIBILITY_STATUS)
        </p>
    </span>

    <span
        class="row btn admin-tool-button nbia-button"
        [ngClass]="{
            'disabled-tool nbia-button-disabled': !showDataAdminApproveDeletions
        }"
        (click)="
            onToolItemClicked(
                toolItems.DATA_ADMIN_APPROVE_DELETIONS_MENU_ITEM,
                showDataAdminApproveDeletions
            )
        "
    >
        Approve Deletions
        <p class="required-role" *ngIf="!showDataAdminApproveDeletions">
            (Required role: NCIA.SUPER_CURATOR)
        </p>
    </span>
    <!--

    <span class="row label label-primary admin-tool-button nbia-button col-md-12"
        [ngClass]="{
            'disabled-tool nbia-button-disabled': ! showDataAdminViewSubmissionReports
        }"
        (click)="onToolItemClicked(toolItems.DATA_ADMIN_VIEW_SUBMISSION_REPORTS_MENU_ITEM, showDataAdminViewSubmissionReports)"
    >
        View Submission Reports
        <p class="required-role" *ngIf="! showDataAdminViewSubmissionReports">(Required role: NCIA.VIEW_SUBMISSION_REPORT)</p>
    </span>

-->
    <span
        class="row btn admin-tool-button nbia-button"
        [ngClass]="{
            'disabled-tool nbia-button-disabled': !showPerformOnlineDeletions
        }"
        (click)="
            onToolItemClicked(
                toolItems.DATA_ADMIN_PERFORM_ONLINE_DELETION_MENU_ITEM,
                showPerformOnlineDeletions
            )
        "
    >
        Perform Online Deletions
        <p class="required-role" *ngIf="!showPerformOnlineDeletions">
            (Required role: NCIA.DELETE_ADMIN)
        </p>
    </span>

    <span
        class="row btn admin-tool-button nbia-button"
        [ngClass]="{
            'disabled-tool nbia-button-disabled': !showEditCollectionDescriptions
        }"
        (click)="
            onToolItemClicked(
                toolItems.DATA_ADMIN_EDIT_COLLECTION_DESCRIPTIONS_MENU_ITEM,
                showEditCollectionDescriptions
            )
        "
    >
        Edit Collection Descriptions&nbsp;
        <p class="required-role" *ngIf="!showEditCollectionDescriptions">
            (Required role: MANAGE_COLLECTION_DESCRIPTION)
        </p>
    </span>

    <span
        *ngIf="!properties.NO_LICENSE"
        class="row btn admin-tool-button nbia-button"
        [ngClass]="{
            'disabled-tool nbia-button-disabled': !showEditLicense
        }"
        (click)="
            onToolItemClicked(
                toolItems.DATA_ADMIN_EDIT_LICENSE,
                showEditLicense
            )
        "
    >
        Edit Collection License&nbsp;
        <p class="required-role" *ngIf="!showEditLicense">
            (Required role: MANAGE_COLLECTION_DESCRIPTION)
        </p>
        <!-- TODO Make sure this is the right role!!!  -->
    </span>
</div>

<!--
<nbia-cine-mode-window class="hide"></nbia-cine-mode-window>
-->

<nbia-cine-mode-bravo [currentTool]="currentTool"></nbia-cine-mode-bravo>

<!--
<nbia-cine-mode
    [currentTool]="currentTool"
></nbia-cine-mode>
-->
