@import '../app.component.scss';


// This gives us the over white margin.
$parentToolPadding: 10px;

.parent-tool-div{
    padding: $parentToolPadding $parentToolPadding 0 $parentToolPadding;
}


.disabled-tool{
    color: #999;
    background-color:  #444;
    cursor: not-allowed;
}

.disabled-tool:hover{
    color: #999;
    background-color:  #444;
    cursor: not-allowed;
}

.admin-tool-button{
    font-size: 18px;
    padding: 8px;
    margin-top: 4px;
    width: 100%;

}

.option-list{
    width: 410px;
}

.required-role{
    font-size: 12px;
}
