@import '../app.component.scss';

.login-form{
    margin-bottom: 0;
    padding-bottom: 0;
}

.login-box {
    width: 400px;
    left: calc(50% - 200px);
    padding: 0;
}

.login-td {
    padding: 4px 0 0 10px;
}

.error-alert {
    margin-left: 20px;
}

.account-buttons {
    float: right;
    margin-top: 0;
    padding-top: 0;
}

.account-help-button {
    margin-left: 4px;
    margin-top: 0;

}

.new_account-button{
    margin-top: 0;
}

hr{
    margin: 0 0 6px 0;
    padding: 0;
}

.login-button{
    margin-bottom: 0;
}


// .cursor-draggable isn't working for me, this is a workaround.
.login-panel-heading:hover {
    cursor: grab;
}

/*  Apply a "closed-hand" cursor during drag operation. */
.login-panel-heading:active {
    cursor: grabbing;
}

/*  Apply a "closed-hand" cursor during drag operation. */
.login-panel-heading-moving {
    cursor: grabbing;
}

.login-heading{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
