<span class="text-search-explanation panel panel-info alert-box-div alert-box-shadow">
    <div class="panel-heading">
        <div class="panel-title">Text Search<span class="close-x" (click)="onExplanationCloseClick()">X</span>
</div>
    </div>

    <div class="panel-body text-search-explanation-text">
        Text search enables users to query all available DICOM metadata,
        or you can use the field:searchTerm technique to focus on a specific DICOM element. <br><br>

        Example: <br>
        Body Part Examined:pancreas or 0018,0015:pancreas, which is the DICOM code for Body Part Examined, will only look in that element for the term pancreas.
        <br>
        <br>
        See our <a [attr.href]="properties.TEXT_SEARCH_DOCUMENTATION" target="_BLANK">documentation</a> for further explanation.
    </div>
</span>
