<span class="text-search-explanation card-nbia-default alert-box-div alert-box-shadow  bg-white">
    <div class="panel-heading">
        <div class="card-nbia-header-default p-2">Text Search<span class="close-x clicker unselectable" (click)="onExplanationCloseClick()">X</span>
</div>
    </div>

    <div class="text-search-explanation-text">
        The following restrictions apply to text search.

        <ul>
          <li>The text string you use must have more than one character. The search won't return any values if the text string has only one character.</li>
          <li>Text search expects full word exact matches unless you use * as a wildcard to indicate that partial matches are okay.</li>
          <li>Do not use a forward slash (/) in your text string.</li>
          <li>Do not use complex searches with AND or OR statements (text search supports Lucene syntax but only a single field can be searched at a time).</li>
        </ul>
        <br>
        See our <a [attr.href]="properties.TEXT_SEARCH_DOCUMENTATION" target="_BLANK">documentation</a> for further explanation.
    </div>
</span>
