// ----------------------------------------------------------------------------------------
// ----------------------        "Edit Collection Licenses         ------------------------
// ----------------------------------------------------------------------------------------

@import "../../../app.component";
@import "../../../popup.scss";

$edit-lic-height: 500px;

.edit-license-description-tool {
    /* keep the dropdown section and the Display section side by side.  */
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    height: $edit-lic-height;
}

.admin-dropdown-div {
    padding-right: 8px;
    margin-right: 20px;
}

td {
    padding: 6px;
}

.edit-lic-button {
    margin-left: 5px;

    &:disabled {
        margin-left: 5px;
        cursor: not-allowed;
    }
}

.edit-lic-left-td {
    padding: 10px 15px 0 25px;
    text-align: right;
}

.edit-lic-right-td {
    margin: 3px;
}

.edit-lic-radio-button-label {
    float: right;
    font-weight: normal;
}

// Text inputs on the right
.edit-lic-input {
    min-width: 540px;
}

.delete-box {
    position: absolute;
    top: 200px;
    padding: 0;
}

.edit-license-panel-heading{
    &:hover {
        cursor: grab;
    }

    &:active {
        cursor: grabbing;
    }
}

/*  Apply a "closed-hand" cursor during drag operation. */
.edit-license-panel-heading-moving {
    cursor: grabbing;
}

.edit-license-confirm-delete-buttons-div {
    float: right;
}

.edit-license-confirm-delete-text0 {
    font-size: large;
}

.edit-license-confirm-delete-text1 {
    font-size: large;
    color: $close-x-red;
}

.edit-lic-unsaved-changes-text {
    color: $close-x-red;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
}

.top-edit-lic-radio-tr {
    margin-bottom: 0;
    padding-bottom: 0;
}

.bottom-edit-lic-radio-tr {
    margin-top: 0px;
    padding-top: 0px;
}

.top-edit-lic-radio-td {
    margin-bottom: 0;
    padding-bottom: 0;
}

.bottom-edit-lic-radio-td {
    margin-top: 0px;
    padding-top: 0px;
}

.edit-lic-warning {
    color: $close-x-red;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
}
