<span *ngIf="properties.SHOW_HEADER">

<nbia-universal-menu *ngIf="properties.SHOW_UNIVERSAL_MENU"></nbia-universal-menu>

<img *ngIf="!properties.SHOW_UNIVERSAL_MENU" class="background-image" src={{properties.LOGO_FILE}} alt="Logo">

    <nav
            [ngClass]="{
            'menu-header': !properties.SHOW_UNIVERSAL_MENU
        }"
    >

        <div class="container-fluid "
             [ngClass]="{
            'query-and-results-container': properties.SHOW_UNIVERSAL_MENU
        }"
        >

            <nbia-custom-menu *ngIf="!properties.SHOW_UNIVERSAL_MENU"></nbia-custom-menu>

            <nbia-application-menu></nbia-application-menu>

            <!--  This will sit on top of everything else, if the Downloader-download is popped up.  -->
            <nbia-downloader-download>
            </nbia-downloader-download>

            <!--  This is no longer used
                    <nbia-save-shared-list></nbia-save-shared-list>
            -->

            <!-- Popup for telling user, one or more search criteria in the URL parameters was not here.  -->
            <nbia-missing-criteria></nbia-missing-criteria>

        </div>
    </nav>
</span>

<!-- -----  Components that need to "popup" at this level when they are visible.  ----- -->
<nbia-query-url></nbia-query-url>
<nbia-save-cart></nbia-save-cart>
<nbia-alert-box></nbia-alert-box>
