<!-- ----------  This is the left side Slice Thickness  ---------- -->
<div class="query-panel slice-thickness-query-panel">

    <!-- ----------  Heading & hide/show slice thickness  ---------- -->
    <div class="query-panel-heading">
        <!--   Still show the heading (with this img to its left) -->
        <span
                *ngIf="showSliceThicknessRange "
                class="clicker unselectable"
                (click)="onShowSlickThicknessRangeClick(false)"
        >
        <img class="chevron-down-icon" src="assets/images/TOOLS/chevron_down_red.png">
        Slice Thickness (millimeter)
    </span>

        <!-- Show the sliceThickness range slider -->
        <span
                *ngIf="!showSliceThicknessRange "
                class="clicker"
                (click)="onShowSlickThicknessRangeClick(true)"
        >
            <img class="chevron-right-icon" src="assets/images/TOOLS/chevron_right_red.png">
            Slice Thickness (millimeter)
        </span>
        <img src="assets/images/TOOLS/question_red_small.png" alt="question_red_small"  class="clicker  close-third-party-explanation-x" (click)="onSliceThicknessRangeExplanationClick($event)">
        

    </div>

    <div
            [ngClass]="{
            'hide-div': !showSliceThicknessRange 
        }"  class="nbia-sliceThickness-range-slider" >
   
      <p> <input type="number" maxlength="5" min="0" max="1800" [(ngModel)]="fromSliceThickness"  class="sliceThickness-input-box">  to 
      <input type="number" maxlength="5" min="0" max="1800" [(ngModel)]="toSliceThickness" class="sliceThickness-input-box"> mm   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label *ngIf="fromSliceThickness > 0 || toSliceThickness < 1800 " > 
        <img class="clicker cart-button-icon" src="assets/images/TOOLS/clear_red.png" alt="reset"
             (click)="onSliceThicknessClearAllClick()">
        </label>
        </p>
        <ngx-slider [(value)]="fromSliceThickness" [(highValue)]="toSliceThickness" [options]="options"></ngx-slider>
    </div>

      <!--Apply Available range  checkbox-->
      <div  [ngClass]="{'hide-div': !showSliceThicknessRange }">
        <input
                type="checkbox"
                class="query-panel-checkboxes available-checkbox"
                [(ngModel)]="nonSpecifiedChecked"
                (click)="onApplyCheckboxClick( $event.target.checked)">
        <label class="query-panel-checkbox-label available-checkbox-label">
            &nbsp;include non-specified slice thickness
        </label>
    </div>

    <div *ngIf="(fromSliceThickness > 0 || toSliceThickness < 1800)  && showSliceThicknessRange " class="nbia-sliceThickness-range-note">

        <!-- Display To and/or From Range -->
        <!--   It was decided this was not needed now that the same data is provided in the dropdown  (13_AUG_2020)
               <span *ngIf="displayFromBaseLineFrom !== '' || displayFromBaseLineTo !== ''">
                   From {{displayFromBaseLineFrom}} to {{displayFromBaseLineTo}}
               </span>
               <span *ngIf="displayFromBaseLineFrom === '' && displayFromBaseLineTo === ''">
                   None
               </span>
       -->
        <input [ngClass]="{
                   disabled: (fromSliceThicknessTrailer === fromSliceThickness &&
                   toSliceThicknessTrailer === toSliceThickness && nonSpecifiedCheckedTrailer === nonSpecifiedChecked ) ,

                   'nbia-button-disabled': (fromSliceThicknessTrailer === fromSliceThickness &&
                   toSliceThicknessTrailer === toSliceThickness && nonSpecifiedCheckedTrailer === nonSpecifiedChecked) 
               }"
               type="button"
               class="btn btn-default nbia-button nbia-sliceThickness-range-update-button "
               value="Apply Slice Thickness"
               (click)="onSliceThicknessRangeApply()"f
        >
    </div>

</div>
<nbia-images-slice-thickness-explanation 
*ngIf="showSliceThicknessRangeExplanation" [posY]="posY"
></nbia-images-slice-thickness-explanation>
