<nbia-widget-calendar-bravo
    [prompt0]="prompt0"
    [placeHolder0]="placeHolder0"
    [(date0)]="date0"
    [(haveInput)]="haveInput"
    [(ned)]="ned"
    [sequenceNumber]="sequenceNumber"
    [id]="id0"
></nbia-widget-calendar-bravo>
<div class="mb-1"></div>
<nbia-widget-calendar-bravo
    [prompt0]="prompt1"
    [placeHolder0]="placeHolder1"
    [(date0)]="date1"
    [(haveInput)]="haveInput"
    [(ned)]="ned"
    [sequenceNumber]="sequenceNumber"
    [id]="id1"
></nbia-widget-calendar-bravo>
