<div class="input-group  date-div"
     [ngClass]="{
                        'main-date-range-div-extra-small': currentFont === '0',
                        'main-date-range-div-small': currentFont === '1',
                        'main-date-range-div-medium': currentFont === '2',
                        'main-date-range-div-large': currentFont === '3'
                    }"
>

    <div>
        <span class="date-box-label date-prompt-label">{{prompt0}}</span>
        <input
            style="outline: none; border: none;"
            (click)="dp0.toggleCalendar(); initializeDisableFutureDates() "
            [ngClass]="{
                        'date-box-text-box-extra-small': currentFont === '0',
                        'date-box-text-box-small': currentFont === '1',
                        'date-box-text-box-medium': currentFont === '2',
                        'date-box-text-box-large': currentFont === '3'
                    }"
            placeholder={{placeHolder0}}
            ngx-mydatepicker
            name="DatePicker0"
            [(ngModel)]="date0"
            [options]="dateOptions"
            #dp0="ngx-mydatepicker"
            (dateChanged)="onDateChangedDp0($event)"
        />
    </div>
</div>
<div *ngIf="prompt1 !== undefined && prompt1.length > 0"
    class="input-group date-div mt-1"
        [ngClass]="{
                        'main-date-range-div-extra-small': currentFont === '0',
                        'main-date-range-div-small': currentFont === '1',
                        'main-date-range-div-medium': currentFont === '2',
                        'main-date-range-div-large': currentFont === '3'
                    }"
    >
        <span class="date-box-label date-prompt-label">{{prompt1}}</span>
        <input
            style="outline: none; border: none;"
            (click)="dp1.toggleCalendar(); initializeDisableFutureDates() "
            [ngClass]="{
                        'date-box-text-box-extra-small': currentFont === '0',
                        'date-box-text-box-small': currentFont === '1',
                        'date-box-text-box-medium': currentFont === '2',
                        'date-box-text-box-large': currentFont === '3'
                    }"
            placeholder={{placeHolder1}}
            ngx-mydatepicker
            name="DatePicker1"
            [(ngModel)]="date1"
            [options]="dateOptions"
            #dp1="ngx-mydatepicker"
            (dateChanged)="onDateChangedDp1($event)"
        />
</div>
